@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../lib/core/theming/prebuilt/default-theme';
//@import '../../lib/core/theming/prebuilt/dark-theme';


body {
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.demo-menu {
    display: flex;
    flex-flow: row wrap;

    .demo-menu-section {
        margin: 20px;
    }

    .demo-end-icon {
        justify-content: flex-end;
    }
}
