<div class="root">
<div class="demo-menu">
    <div class="demo-menu-section">
        <button mc-button [matMenuTriggerFor]="menu" aria-label="Open basic menu">
            <i mc-icon="mc-gear_16"></i>
            Basic menu
        </button>

        <p>You clicked on: {{ selected }}</p>

        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of items" (click)="select(item.text)" [disabled]="item.disabled">
                {{ item.text }}
            </button>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-button [matMenuTriggerFor]="divider" aria-label="Open basic menu">
            <i mc-icon="mc-ellipsis_16"></i>
            Menu with divider
        </button>

        <mat-menu #divider="matMenu">
            <ng-container *ngFor="let item of items; last as last">
                <button mat-menu-item [disabled]="item.disabled">
                    {{ item.text }}
                </button>
                <mc-divider *ngIf="!last"></mc-divider>
            </ng-container>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-icon-button [matMenuTriggerFor]="animals">
            <i mc-icon="mc-gear_16"></i>
            Nested menu
        </button>

        <mat-menu #animals="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </mat-menu>

        <mat-menu #vertebrates="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
            <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
            <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
            <button mat-menu-item>Insects</button>
            <button mat-menu-item>Molluscs</button>
            <button mat-menu-item>Crustaceans</button>
            <button mat-menu-item>Corals</button>
            <button mat-menu-item>Arachnids</button>
            <button mat-menu-item>Velvet worms</button>
            <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

        <mat-menu #fish="matMenu">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-icon-button [matMenuTriggerFor]="anchorMenu" aria-label="Open anchor menu">
            <i mc-icon="mc-gear_16"></i>
            Anchor menu
        </button>

        <mat-menu #anchorMenu="matMenu">
            <a mat-menu-item *ngFor="let item of items" href="http://www.google.com" [disabled]="item.disabled">
                {{ item.text }}
            </a>
        </mat-menu>
    </div>
</div>

<div class="demo-menu">
    <div class="demo-menu-section">
        <button mc-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Open x-positioned menu">
            <i mc-icon="mc-gear_16"></i>
            X Position: before
        </button>

        <mat-menu xPosition="before" #beforeMenu="matMenu">
            <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
                <i mc-icon="mc-gear_16"></i>
                {{ item.text }}
            </button>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-icon-button [matMenuTriggerFor]="afterMenu" aria-label="Open x-positioned menu">
            <i mc-icon="mc-gear_16"></i>
            X Position: after
        </button>

        <mat-menu xPosition="after" #afterMenu="matMenu">
            <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
                <i mc-icon="mc-gear_16"></i>
                {{ item.text }}
            </button>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-icon-button [matMenuTriggerFor]="posYMenu" aria-label="Open y-positioned menu">
            <i mc-icon="mc-gear_16"></i>
            Position: above
        </button>

        <mat-menu yPosition="above" #posYMenu="matMenu">
            <button mat-menu-item *ngFor="let item of items" [disabled]="item.disabled">
                {{ item.text }}
            </button>
        </mat-menu>
    </div>

    <div class="demo-menu-section">
        <button mc-icon-button [mat-menu-trigger-for]="menuOverlay">
            <i mc-icon="mc-gear_16"></i>
            Overlap trigger
        </button>

        <mat-menu [overlapTriggerY]="true" #menuOverlay="matMenu">
            <button mat-menu-item *ngFor="let item of items" [disabled]="item.disabled">
                {{ item.text }}
            </button>
        </mat-menu>
    </div>
    <div class="demo-menu-section">
        <button mc-icon-button [mat-menu-trigger-for]="posXMenuOverlay">
            <i mc-icon="mc-gear_16"></i>
            Position: before, overlapTrigger
        </button>

        <mat-menu xPosition="before" [overlapTriggerY]="true" #posXMenuOverlay="matMenu">
            <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
                <i mc-icon="mc-gear_16"></i>
                {{ item.text }}
            </button>
        </mat-menu>
    </div>
    <div class="demo-menu-section">
        <button mc-icon-button [mat-menu-trigger-for]="posYMenuOverlay">
            <i mc-icon="mc-gear_16"></i>
            Position y: above, position x: after, overlapTrigger: true
        </button>

        <mat-menu yPosition="above" [overlapTriggerY]="true" xPosition="after" #posYMenuOverlay="matMenu">
            <button mat-menu-item *ngFor="let item of items" [disabled]="item.disabled">
                {{ item.text }}
            </button>
        </mat-menu>
    </div>
</div>
</div>
