@import '../design-tokens/tokens';


.mc-table {
    border-spacing: 0;

    & > thead,
    & > tbody,
    & > tfoot {
        & > tr {
            & > th,
            & > td {
                padding: {
                    top: var(--mc-table-size-row-padding-vertical, $table-size-row-padding-vertical);
                    right: calc((var(--mc-table-size-row-padding-horizontal, $table-size-row-padding-horizontal) / 2));
                    bottom: (
                        calc(var(--mc-table-size-row-padding-vertical, $table-size-row-padding-vertical) -
                        var(--mc-table-size-border-width, $table-size-border-width))
                    );
                    left: calc((var(--mc-table-size-row-padding-horizontal, $table-size-row-padding-horizontal) / 2))
                };

                vertical-align: baseline;
                text-align: left;
            }

            & > th:first-child,
            & > td:first-child {
                padding-left: var(--mc-table-size-row-padding-horizontal, $table-size-row-padding-horizontal);
            }

            & > th:last-child,
            & > td:last-child {
                padding-right: var(--mc-table-size-row-padding-horizontal, $table-size-row-padding-horizontal);
            }
        }
    }

    /* stylelint-disable no-descending-specificity */
    & > thead {
        & > tr > th {
            padding: {
                top: var(--mc-table-size-row-padding-vertical, $table-size-row-padding-vertical);
                bottom: (
                    calc(var(--mc-table-size-row-padding-vertical, $table-size-row-padding-vertical) -
                    var(--mc-table-size-border-width, $table-size-border-width))
                );
            }

            border-bottom: var(--mc-table-size-border-width, $table-size-border-width) solid transparent;
        }
    }

    & > tbody > tr {
        & th,
        & td {
            border-bottom: var(--mc-table-size-border-width, $table-size-border-width) solid transparent;
        }
    }

    /* stylelint-enable no-descending-specificity */
}
