@import '../design-tokens/index';


.mc-table {
    border-spacing: 0;

    & > thead,
    & > tbody,
    & > tfoot {
        & > tr {
            & > th,
            & > td {
                padding: {
                    top: $table-size-row-padding-vertical;
                    right: ($table-size-row-padding-horizontal / 2);
                    bottom: ($table-size-row-padding-vertical - $table-size-border-width);
                    left: ($table-size-row-padding-horizontal / 2)
                };

                vertical-align: baseline;
                text-align: left;
            }

            & > th:first-child,
            & > td:first-child {
                padding-left: $table-size-row-padding-horizontal;
            }

            & > th:last-child,
            & > td:last-child {
                padding-right: $table-size-row-padding-horizontal;
            }
        }
    }

    /* stylelint-disable no-descending-specificity */
    & > thead {
        & > tr > th {
            padding: {
                top: $table-size-row-padding-vertical;
                bottom: ($table-size-row-padding-vertical - $table-size-border-width);
            }

            border-bottom: $table-size-border-width solid transparent;
        }
    }

    & > tbody > tr {
        & th,
        & td {
            border-bottom: $table-size-border-width solid transparent;
        }
    }
    /* stylelint-enable no-descending-specificity */
}
