@import '../../mosaic/core/theming/theming';


@mixin mosaic-docs-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $next-theme: mc-palette($mat-red);

    .docs-app-background {
        background: mc-palette($background, background);
    }

    .docs-footer {
        background: mc-palette($primary);
        color: mc-palette($primary, default-contrast);
    }
}
