@import '../../mosaic/core/theming/all-theme';
@import '../../mosaic/core/visual/all-visual';

@import './app-theme';
@import './styles/common';
@import './styles/markdown';
@import './styles/mosaic-fixed';
@import "~@ptsecurity/mosaic-icons/dist/styles/mc-icons.css";
@import 'app/components/anchors/anchors-theme';
@import 'app/components/navbar/navbar-theme';
@import 'app/components/footer/footer-theme';
@import 'app/components/main-layout/main-layout-theme';
@import 'app/components/sidenav/sidenav-theme';
@import 'app/components/component-viewer/component-overview-theme';
@import 'app/shared/stackblitz/stackblitz-button-theme';
@import 'app/shared/example-viewer/example-viewer-theme';
@import 'highlightjs/material-dark';

@import './styles/hot-keys';

@import './styles/default-theme/theme';
@import './styles/red-theme/theme';
@import './styles/green-theme/theme';
@import './styles/yellow-theme/theme';


$typography: mc-typography-config();

// Include all typography for the components.
@include mc-core($typography);

@include mc-footer-typography($typography);
@include mc-sidenav-typography($typography);
@include mc-anchors-typography($typography);
@include mc-docs-navbar-typography($typography);
@include docs-markdown-typography($typography);
@include example-viewer-typography($typography);

@mixin docs-component-theme($theme) {
    @include layouts_for_breakpoint();
    @include mosaic-docs-app-theme($theme);
    @include layout-indents();
    @include mc-anchors-theme($theme);
    @include mc-docs-navbar-theme($theme);
    @include mc-footer-theme($theme);
    @include mc-main-layout-theme($theme);
    @include mc-sidenav-theme($theme);
    @include mc-component-viewer-theme($theme);
    @include docs-markdown-theme($theme);
    @include docs-stackblitz-theme($theme);
    @include example-viewer-theme($theme);
}

// Include all theme styles for the components.

@mixin docs-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    background: mc-color($background, background);
    color: mc-color($foreground, text);

    @include mosaic-theme($theme);
    @include docs-component-theme($theme);
}


.theme-default {
    &.active-blue {
        @include docs-theme($default-theme);
    }

    &.active-red {
        @include docs-theme($theme-red);
    }

    &.active-green {
        @include docs-theme($theme-green);
    }

    &.active-yellow {
        @include docs-theme($theme-yellow);
    }
}

.theme-dark {
    @include material-dark();

    &.active-blue {
        @include docs-theme($default-dark-theme);
    }

    &.active-red {
        @include docs-theme($dark-theme-red);
    }

    &.active-green {
        @include docs-theme($dark-theme-green);
    }

    &.active-yellow {
        @include docs-theme($dark-theme-yellow);
    }
}

.docs-app-wrapper {
    width: 100%;
}
