@import '../../mosaic/core/theming/all-theme';
@import '../../mosaic/core/visual/all-visual';

@import './app-theme';
@import './styles/common';
@import './styles/markdown';
@import './styles/mosaic-fixed';
@import "~@ptsecurity/mosaic-icons/dist/styles/mc-icons.css";
@import 'app/components/anchors/anchors-theme';
@import 'app/components/navbar/navbar-theme';
@import 'app/components/footer/footer-theme';
@import 'app/components/main-layout/main-layout-theme';
@import 'app/components/sidenav/sidenav-theme';
@import 'app/components/component-viewer/component-overview-theme';
@import 'app/shared/stackblitz/stackblitz-button-theme';
@import 'app/shared/example-viewer/example-viewer-theme';
@import 'highlightjs/material-dark';

@import './styles/hot-keys';

@import './styles/legacy-2017/default-theme/theme';
@import './styles/legacy-2017/red-theme/theme';
@import './styles/legacy-2017/green-theme/theme';
@import './styles/legacy-2017/yellow-theme/theme';

@import './styles/pt-2022/default-theme/theme';
@import './styles/pt-2022/red-theme/theme';
@import './styles/pt-2022/green-theme/theme';
@import './styles/pt-2022/yellow-theme/theme';


$typography: mc-typography-config();

// Include all typography for the components.
@include mc-core($typography);

@include mc-footer-typography($typography);
@include mc-sidenav-typography($typography);
@include mc-anchors-typography($typography);
@include mc-docs-navbar-typography($typography);
@include docs-markdown-typography($typography);
@include example-viewer-typography($typography);

@mixin docs-component-theme($theme) {
    @include layouts_for_breakpoint();
    @include mosaic-docs-app-theme($theme);
    @include layout-indents();
    @include mc-anchors-theme($theme);
    @include mc-docs-navbar-theme($theme);
    @include mc-footer-theme($theme);
    @include mc-main-layout-theme($theme);
    @include mc-sidenav-theme($theme);
    @include mc-component-viewer-theme($theme);
    @include docs-markdown-theme($theme);
    @include docs-stackblitz-theme($theme);
    @include example-viewer-theme($theme);
}

// Include all theme styles for the components.

@mixin docs-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    background: mc-color($background, background);
    color: mc-color($foreground, text);

    @include mosaic-theme($theme);
    @include docs-component-theme($theme);
}

.legacy-2017 {
    &.theme-light {
        &.color-blue {
            @include docs-theme($legacy-2017-light-blue-theme);
        }

        &.color-red {
            @include docs-theme($legacy-2017-light-red-theme);
        }

        &.color-green {
            @include docs-theme($legacy-2017-light-green-theme);
        }

        &.color-yellow {
            @include docs-theme($legacy-2017-light-yellow-theme);
        }
    }

    &.theme-dark {
        @include material-dark();

        &.color-blue {
            @include docs-theme($legacy-2017-dark-blue-theme);
        }

        &.color-red {
            @include docs-theme($legacy-2017-dark-red-theme);
        }

        &.color-green {
            @include docs-theme($legacy-2017-dark-green-theme);
        }

        &.color-yellow {
            @include docs-theme($legacy-2017-dark-yellow-theme);
        }
    }
}

.pt-2022 {
    &.theme-light {
        &.color-blue {
            @include docs-theme($pt-2022-light-blue-theme);
        }

        &.color-red {
            @include docs-theme($pt-2022-light-red-theme);
        }

        &.color-green {
            @include docs-theme($pt-2022-light-green-theme);
        }

        &.color-yellow {
            @include docs-theme($pt-2022-light-yellow-theme);
        }
    }

    &.theme-dark {
        @include material-dark();

        &.color-blue {
            @include docs-theme($pt-2022-dark-blue-theme);
        }

        &.color-red {
            @include docs-theme($pt-2022-dark-red-theme);
        }

        &.color-green {
            @include docs-theme($pt-2022-dark-green-theme);
        }

        &.color-yellow {
            @include docs-theme($pt-2022-dark-yellow-theme);
        }
    }
}

.docs-app-wrapper {
    width: 100%;
}
