@import '../core/theming/palette';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';


@mixin mc-tree-theme($theme) {
    $primary: map-get($theme, primary);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $is-dark-theme: map-get($theme, is-dark);

    .mc-tree-selection {
        &:focus {
            outline: none;
        }
    }

    .mc-tree-option {
        color: mc-color($foreground, text);

        &:hover,
        &.mc-hovered {
            background-color: mc-color($background, hover);
        }

        &.mc-focused {
            border-color: mc-color($primary);
        }

        &.mc-selected {
            background: mc-color($primary, if($is-dark-theme, 700, 100));
        }

        &[disabled] {
            background-color: transparent;

            color: mc-color($foreground, disabled-text);
        }
    }
}

@mixin mc-tree-typography($config) {
    .mc-tree-node,
    .mc-tree-option {
        @include mc-typography-level-to-styles($config, body);
    }
}
