@import '../button/button-theme';
@import '../design-tokens/tokens';


.mc-tree-node-action {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 32px;
    height: 32px;

    cursor: pointer;

    & .mc-icon {
    }

    &.mc-opened {
    }

    &[disabled] {
        cursor: default;
    }
}
