@import '../button/button-theme';
@import '../design-tokens/tokens';


.mc-tree-node-action {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 32px;
    height: 100%;

    cursor: pointer;

    outline: none;

    border: 2px solid transparent;

    background: transparent;

    &[disabled] {
        cursor: default;
    }
}
