@import '../design-tokens/pt-2022/tokens';


.mc-tree-node-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 24px;
    height: 100%;

    cursor: pointer;

    & .mc-icon {
        transform: rotate(-90deg);
    }

    &.mc-expanded {
        & .mc-icon {
            transform: rotate(0);
        }
    }

    &[disabled] {
        cursor: default;
    }
}
