$mc-tree-node-border-height: 2px;

$mc-tree-node-height: 28px;

$mc-tree-node-padding: 16px;


.mc-tree-selection {
    display: block;
}

.mc-tree-option {
    display: flex;
    align-items: center;

    height: $mc-tree-node-height;

    word-wrap: break-word;

    border: $mc-tree-node-border-height solid transparent;

    & > .mc-icon {
        margin-right: 4px;

        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }
}

.mc-tree-node-toggle {
    margin-right: 4px;

    cursor: pointer;

    & .mc-icon {
        transform: rotate(-90deg);
    }

    &.mc-opened {
        & .mc-icon {
            transform: rotate(0);
        }
    }

    &[disabled] {
        cursor: default;
    }
}
