@import '../design-tokens/tokens';


.mc-tree-selection {
    display: block;
}

.mc-tree-option {
    display: flex;
    align-items: center;

    height: var(--mc-tree-size-node-height, $tree-size-node-height);

    word-wrap: break-word;

    border: var(--mc-tree-size-border-width, $tree-size-border-width) solid transparent;

    & > .mc-icon {
        margin-right: 4px;

        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }
}

.mc-tree-node-toggle {
    margin-right: 4px;

    cursor: pointer;

    & .mc-icon {
        transform: rotate(-90deg);
    }

    &.mc-opened {
        & .mc-icon {
            transform: rotate(0);
        }
    }

    &[disabled] {
        cursor: default;
    }
}
