@import '../design-tokens/pt-2022/tokens';


.mc-tree-option {
    box-sizing: border-box;

    display: flex;
    align-items: center;

    height: var(--mc-tree-size-node-height, $tree-size-node-height);

    word-wrap: break-word;

    border: 2px solid transparent;

    & .mc-option-text {
        display: inline-block;
        flex-grow: 1;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        margin-right: var(--mc-tree-size-padding-right, $tree-size-padding-right);
    }

    & > .mc-icon {
        margin-right: 8px;

        cursor: pointer;
    }

    & > .mc-progress-spinner {
        margin-right: 8px;
    }

    &:focus {
        outline: none;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    & > .mc-pseudo-checkbox,
    & > .mc-checkbox {
        margin-right: 8px;
    }

    & .mc-option-action {
        display: none;
    }

    &:not([disabled]):hover,
    &:not([disabled]).mc-focused,
    &:not([disabled]).mc-action-button-focused {
        & .mc-option-action {
            display: flex;
        }
    }
}
