@import '../design-tokens/pt-2022/tokens';


.mc-tag-list {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
}

.mc-tag-input {
    border: none;
    outline: none;
    background: transparent;
}

.mc-tags-list__list-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    box-sizing: border-box;

    min-width: 0;
    min-height: var(--mc-tag-list-size-min-height, $tag-list-size-min-height);

    padding: var(--mc-tag-list-size-padding, $tag-list-size-padding);

    & .mc-tag-input {
        max-width: 100%;

        flex: 1 1 auto;

        height: var(--mc-tag-input-size-height, $tag-input-size-height);
        margin: var(--mc-tag-input-size-margin, $tag-input-size-margin);
    }
}

.mc-tags-list__cleaner {
    & .mc-cleaner {
        height: 30px;
    }
}
