@import '../design-tokens/index';


.mc-tag-list {
    display: flex;
    flex-direction: row;
}

.mc-tag-input {
    border: none;
    outline: none;
    background: transparent;
}

.mc-tags-list__list-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    min-width: 0;
    min-height: $tag-list-size-min-height;

    padding: $tag-list-size-padding;

    & .mc-tag-input {
        max-width: 100%;

        flex: 1 1 auto;

        height: $tag-input-size-height;
        margin: $tag-input-size-margin;
    }
}

.mc-tags-list__cleaner {
    & .mc-cleaner {
        height: 30px;
    }
}
