@import 'tag-theme';


$mc-tag-border-width: 1px;
$mc-tag-border-radius: 4px;

$mc-tag-height: 24px;

$mc-tag-icon-padding: 3px;


.mc-tag {
    position: relative;

    display: inline-block;
    overflow: hidden;

    margin: 2px;

    height: $mc-tag-height;

    border: {
        width: $mc-tag-border-width;
        style: solid;
        radius: $mc-tag-border-radius;
    }

    cursor: default;

    outline: none;

    box-sizing: border-box;

    &.mc-left-icon {
        padding-left: $mc-tag-icon-padding;
    }

    &.mc-right-icon {
        padding-right: $mc-tag-icon-padding;
    }
}

.mc-tag__wrapper {
    display: flex;
    align-items: center;

    height: 100%;

    flex: 1 1 100%;

    .mc-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        width: $mc-tag-height;
        height: $mc-tag-height;
    }

    .mc-icon_left {
        margin-right: $mc-tag-icon-padding;
    }

    .mc-icon_right {
        margin-left: $mc-tag-icon-padding;
    }
}

.mc-tag-overlay {
    position: absolute;

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    pointer-events: none;
    border-radius: inherit;
}

.mc-tag__text {
    margin-left: 7px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
