@import 'tag-theme';


.mc-tag {
    position: relative;

    display: inline-block;
    overflow: hidden;

    margin: var(--mc-tags-size-margin, $tags-size-margin);

    height: var(--mc-tags-size-height, $tags-size-height);

    border: {
        width: var(--mc-tags-size-border-width, $tags-size-border-width);
        style: solid;
        radius: var(--mc-tags-size-border-radius, $tags-size-border-radius);
    }

    cursor: default;

    outline: none;

    box-sizing: border-box;

    & .mc-icon:hover {
        cursor: pointer;
    }

    &.mc-disabled .mc-icon:hover {
        cursor: default;
    }

    &.mc-left-icon {
        padding-left: var(--mc-tags-size-icon-padding, $tags-size-icon-padding);
    }

    &.mc-right-icon {
        padding-right: var(--mc-tags-size-icon-padding, $tags-size-icon-padding);
    }

    & .mc-tag__text {
        margin-left: calc(
            var(--mc-tags-size-text-margin, #{$tags-size-text-margin}) -
            var(--mc-tags-size-border-width, #{$tags-size-border-width})
        );

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &:not(.mc-tag-with-icon) .mc-tag__text {
        margin-right: calc(
            var(--mc-tags-size-text-margin, #{$tags-size-text-margin}) -
            var(--mc-tags-size-border-width, #{$tags-size-border-width})
        );
    }
}

.mc-tag__wrapper {
    display: flex;
    align-items: center;

    height: 100%;

    flex: 1 1 100%;

    /* stylelint-disable no-descending-specificity */
    .mc-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        width: var(--mc-tags-size-height, $tags-size-height);
        height: var(--mc-tags-size-height, $tags-size-height);
    }
    /* stylelint-enable no-descending-specificity */

    .mc-icon_left {
        margin-right: var(--mc-tags-size-icon-padding, $tags-size-icon-padding);
    }

    .mc-icon_right {
        margin-left: var(--mc-tags-size-icon-padding, $tags-size-icon-padding);
    }
}

.mc-tag-overlay {
    position: absolute;

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    pointer-events: none;
    border-radius: inherit;
}


