@import '../core/theming/palette';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';
@import '../button/button-theme';

@mixin mc-button-toggle-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $divider-color: mc-color($foreground, divider);

    $button-toggle: map-get(map-get($theme, components), button-toggle);

    .mc-button-toggle-standalone {
        box-shadow: none;
    }

    .mc-button-toggle-vertical {
        .mc-button-toggle + .mc-button-toggle {
            border-left: none;
            border-right: none;
        }
    }

    .mc-button-toggle[disabled] {
        outline: 0;
    }

    .mc-button-toggle-checked:not([disabled]) {
        .mc-button,
        .mc-icon-button {
            background: darken(map-get($background, background-disabled), 5);
        }

        &:not(.cdk-keyboard-focused) {
            .mc-button,
            .mc-icon-button {
                border-color: darken(mc-color($foreground, border), 5);
                box-shadow: map-get($background, in-shadow);
            }
        }
    }
}

@mixin mc-button-toggle-typography($config) {
    .mc-button-toggle {
        font-family: mc-font-family($config);
    }
}
