@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/vendor-prefixes';
@import '../core/styles/common/layout';
@import '../../cdk/a11y/a11y';
@import '../core/styles/common/groups';


.mc-button-toggle-group {
    display: flex;
    flex-direction: row;

    .mc-button-toggle {
        &:first-of-type:not(:last-of-type) {
            > .mc-button,
            > .mc-icon-button {
                @include border-right-radius(0);
                @include border-left-radius(
                    var(--mc-button-toggle-size-border-radius, $button-toggle-size-border-radius));
            }
        }

        &:last-of-type:not(:first-of-type) {
            > .mc-button,
            > .mc-icon-button {
                @include border-left-radius(0);
                @include border-right-radius(
                    var(--mc-button-toggle-size-border-radius, $button-toggle-size-border-radius));
            }
        }

        &:not(:first-of-type):not(:last-of-type) {
            > .mc-button,
            > .mc-icon-button {
                border-radius: 0;
            }
        }

        &[disabled] {
            outline: 0;
        }
    }

    &:not(.mc-button-toggle_vertical) {
        .mc-button-toggle:not([disabled]) + .mc-button-toggle:not([disabled]) {
            margin-left: calc(-1 * var(--mc-button-toggle-size-border-size, #{$button-toggle-size-border-size}));
        }
    }
}

/* stylelint-disable no-descending-specificity */
.mc-button-toggle_vertical {
    flex-direction: column;

    .mc-button-toggle + .mc-button-toggle {
        border-left: none;
        border-right: none;
    }

    .mc-button-toggle:not([disabled]) + .mc-button-toggle:not([disabled]) {
        margin-top: calc(-1 * var(--mc-button-toggle-size-border-size, #{$button-toggle-size-border-size}));
    }

    .mc-button-toggle {
        .mc-button,
        .mc-icon-button {
            width: 100%;
        }

        &:first-child:not(:last-child) {
            > .mc-button,
            > .mc-icon-button {
                @include border-bottom-radius(0);
                @include border-top-radius(
                    var(--mc-button-toggle-size-border-radius, $button-toggle-size-border-radius));
            }
        }

        &:last-child:not(:first-child) {
            > .mc-button,
            > .mc-icon-button {
                @include border-top-radius(0);

                @include border-bottom-radius(
                    var(--mc-button-toggle-size-border-radius, $button-toggle-size-border-radius));
            }
        }

        &:not(:first-child):not(:last-child) {
            > .mc-button,
            > .mc-icon-button {
                border-radius: 0;
            }
        }
    }
}
/* stylelint-enable no-descending-specificity */

.mc-button-toggle-standalone {
    box-shadow: none;
}
