$light-color-scheme-primary-palette: (
40: #F6FBF4,
60: #EDF8E9,
100: #DCF1D4,
200: #B4DEA4,
300: #8FCC79,
400: #6FBA53,
500: #52A832,
560: #449327,
600: #3B8520,
700: #276211,
800: #163F07,
A100: rgba(68, 255, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$light-color-scheme-second-palette: (
40: #F5F5F5,
60: #F0F0F0,
100: #E6E6E6,
200: #CCCCCC,
300: #B3B3B3,
400: #999999,
500: #808080,
560: #707070,
600: #666666,
700: #4D4D4D,
800: #333333,
A40: rgba(0, 0, 0, 0.04),
A60: rgba(0, 0, 0, 0.06),
A100: rgba(0, 0, 0, 0.1),
A200: rgba(0, 0, 0, 0.2),
A300: rgba(0, 0, 0, 0.3),
A500: rgba(0, 0, 0, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$light-color-scheme-error-palette: (
40: #FEF7F6,
60: #FCEFEC,
100: #FADEDA,
200: #F4B7AE,
300: #ED9284,
400: #E76E5C,
500: #E04D36,
560: #C43E29,
600: #B23522,
700: #832112,
800: #541208,
A100: rgba(224, 79, 56, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$light-color-scheme-info-palette: (
40: #F5FAFD,
60: #EBF4FB,
100: #D8EAF7,
200: #AAD1EC,
300: #7FBAE1,
400: #57A4D7,
500: #338FCC,
560: #277BB3,
600: #206EA2,
700: #114E77,
800: #07314D,
A100: rgba(0, 153, 255, 0.15),
A200: rgba(0, 153, 255, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$light-color-scheme-success-palette: (
40: #F6FBF4,
60: #EDF8E9,
100: #DCF1D4,
200: #B4DEA4,
300: #8FCC79,
400: #6FBA53,
500: #52A832,
560: #449327,
600: #3B8520,
700: #276211,
800: #163F07,
A100: rgba(68, 255, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$light-color-scheme-warning-palette: (
40: #FDFAF3,
60: #FCF5E8,
100: #F8EBD1,
200: #F0D49B,
300: #E7BD68,
400: #DFA739,
500: #D6930D,
560: #BB800A,
600: #AA7408,
700: #7D5504,
800: #503602,
A100: rgba(255, 170, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-primary-palette: (
40: #F6FBF4,
60: #EDF8E9,
100: #DCF1D4,
200: #B4DEA4,
300: #8FCC79,
400: #6FBA53,
500: #52A832,
560: #449327,
600: #3B8520,
700: #276211,
800: #163F07,
A100: rgba(68, 255, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-second-palette: (
40: #F5F5F5,
60: #F0F0F0,
100: #E6E6E6,
200: #CCCCCC,
300: #B3B3B3,
400: #999999,
500: #808080,
560: #707070,
600: #666666,
700: #4D4D4D,
800: #333333,
A40: rgba(0, 0, 0, 0.04),
A60: rgba(0, 0, 0, 0.06),
A100: rgba(0, 0, 0, 0.1),
A200: rgba(0, 0, 0, 0.2),
A300: rgba(0, 0, 0, 0.3),
A500: rgba(0, 0, 0, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$dark-color-scheme-error-palette: (
40: #FEF7F6,
60: #FCEFEC,
100: #FADEDA,
200: #F4B7AE,
300: #ED9284,
400: #E76E5C,
500: #E04D36,
560: #C43E29,
600: #B23522,
700: #832112,
800: #541208,
A100: rgba(224, 79, 56, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-info-palette: (
40: #F5FAFD,
60: #EBF4FB,
100: #D8EAF7,
200: #AAD1EC,
300: #7FBAE1,
400: #57A4D7,
500: #338FCC,
560: #277BB3,
600: #206EA2,
700: #114E77,
800: #07314D,
A100: rgba(0, 153, 255, 0.15),
A200: rgba(0, 153, 255, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$dark-color-scheme-success-palette: (
40: #F6FBF4,
60: #EDF8E9,
100: #DCF1D4,
200: #B4DEA4,
300: #8FCC79,
400: #6FBA53,
500: #52A832,
560: #449327,
600: #3B8520,
700: #276211,
800: #163F07,
A100: rgba(68, 255, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-warning-palette: (
40: #FDFAF3,
60: #FCF5E8,
100: #F8EBD1,
200: #F0D49B,
300: #E7BD68,
400: #DFA739,
500: #D6930D,
560: #BB800A,
600: #AA7408,
700: #7D5504,
800: #503602,
A100: rgba(255, 170, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-blue-palette: (
40: #F5FAFD,
60: #EBF4FB,
100: #D8EAF7,
200: #AAD1EC,
300: #7FBAE1,
400: #57A4D7,
500: #338FCC,
560: #277BB3,
600: #206EA2,
700: #114E77,
800: #07314D,
A100: rgba(0, 153, 255, 0.15),
A200: rgba(0, 153, 255, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$color-green-palette: (
40: #F6FBF4,
60: #EDF8E9,
100: #DCF1D4,
200: #B4DEA4,
300: #8FCC79,
400: #6FBA53,
500: #52A832,
560: #449327,
600: #3B8520,
700: #276211,
800: #163F07,
A100: rgba(68, 255, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-red-palette: (
40: #FEF7F6,
60: #FCEFEC,
100: #FADEDA,
200: #F4B7AE,
300: #ED9284,
400: #E76E5C,
500: #E04D36,
560: #C43E29,
600: #B23522,
700: #832112,
800: #541208,
A100: rgba(224, 79, 56, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-grey-palette: (
40: #F5F5F5,
60: #F0F0F0,
100: #E6E6E6,
200: #CCCCCC,
300: #B3B3B3,
400: #999999,
500: #808080,
560: #707070,
600: #666666,
700: #4D4D4D,
800: #333333,
A40: rgba(0, 0, 0, 0.04),
A60: rgba(0, 0, 0, 0.06),
A100: rgba(0, 0, 0, 0.1),
A200: rgba(0, 0, 0, 0.2),
A300: rgba(0, 0, 0, 0.3),
A500: rgba(0, 0, 0, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$color-yellow-palette: (
40: #FDFAF3,
60: #FCF5E8,
100: #F8EBD1,
200: #F0D49B,
300: #E7BD68,
400: #DFA739,
500: #D6930D,
560: #BB800A,
600: #AA7408,
700: #7D5504,
800: #503602,
A100: rgba(255, 170, 0, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);
