// Import all the theming
@import '../core';
@import '../styles/badges';
@import '../styles/alerts';
@import '../../autocomplete/autocomplete-theme';
@import '../../button/button-theme';
@import '../../card/card-theme';
@import '../../checkbox/checkbox-theme';
@import '../../datepicker/datepicker-theme';
@import '../../divider/divider-theme';
@import '../../dropdown/dropdown-theme';
@import '../../form-field/form-field-theme';
@import '../../icon/icon-theme';
@import '../../input/input-theme';
@import '../../link/link-theme';
@import '../../list/list-theme';
@import '../../modal/modal-theme';
@import '../../navbar/navbar-theme';
@import '../../popover/popover-theme';
@import '../../progress-bar/progress-bar-theme';
@import '../../progress-spinner/progress-spinner-theme';
@import '../../radio/radio-theme';
@import '../../select/select-theme';
@import '../../sidepanel/sidepanel-theme';
@import '../../splitter/splitter-theme';
@import '../../splitter/splitter-theme';
@import '../../table/table';
@import '../../tabs/tabs-theme';
@import '../../tags/tag-theme';
@import '../../textarea/textarea-theme';
@import '../../toggle/toggle-theme';
@import '../../tooltip/tooltip-theme';
@import '../../tree-select/tree-select-theme';
@import '../../tree/tree-theme';
@import '../../table/table-theme';
@import '../forms/forms-theme';
@import '../option/option-theme';
@import '../option/optgroup-theme';
@import '../option/option-action-theme';
@import '../highlight/highlight-theme';
@import '../visual/panel-theme';


@mixin mosaic-theme($theme) {
    @include mc-core-theme($theme);

    @include mc-alert-theme($theme);
    @include mc-autocomplete-theme($theme);
    @include mc-badge-theme($theme);
    @include mc-button-theme($theme);
    @include mc-card-theme($theme);
    @include mc-checkbox-theme($theme);
    @include mc-datepicker-theme($theme);
    @include mc-dl-theme($theme);
    @include mc-divider-theme($theme);
    @include mc-dropdown-theme($theme);
    @include mc-form-field-theme($theme);
    @include mc-forms-theme($theme);
    @include mc-icon-theme($theme);
    @include mc-input-theme($theme);
    @include mc-link-theme($theme);
    @include mc-list-theme($theme);
    @include mc-modal-theme($theme);
    @include mc-navbar-theme($theme);
    @include mc-option-theme($theme);
    @include mc-optgroup-theme($theme);
    @include mc-option-action-theme($theme);
    @include mc-panel-theme($theme);
    @include mc-popover-theme($theme);
    @include mc-progress-bar-theme($theme);
    @include mc-progress-spinner-theme($theme);
    @include mc-radio-theme($theme);
    @include mc-select-theme($theme);
    @include mc-sidepanel-theme($theme);
    @include mc-splitter-theme($theme);
    @include mc-tabs-theme($theme);
    @include mc-tag-theme($theme);
    @include mc-textarea-theme($theme);
    @include mc-toggle-theme($theme);
    @include mc-tooltip-theme($theme);
    @include mc-tree-select-theme($theme);
    @include mc-tree-theme($theme);
    @include mc-highlight-theme($theme);
    @include mc-table-theme($theme);
}
