@function mc-light-theme-components($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    $focused-color: map-get(map-get($theme, states), focused-color);

    $popup-common: (
        shadow: 0 3px 3px 0 mc-color($second, A200),
        border-color: mc-color($second),
        divider-color: mc-color($second, 200),

        background: map-get($background, background-popup),
        footer_background-color: map-get($background, background-popup-footer)
    );

    $button: (
        state-active_shadow: inset 0 1px 2px 0 rgba(black, 0.2),

        primary: (
            color: mc-contrast($primary, 500),
            border-color: map-get($primary, 560),
            background: map-get($primary, 500),
            icon-color: mc-contrast($primary, 500),

            state-active_border-color: darken(mc-color($primary, 560), 5),
            state-active_background: darken(mc-color($primary, 500), 5)
        ),

        second: (
            border-color: mc-color($foreground, border),
            background: map-get($background, background-disabled),
            color: map-get($foreground, text),
            icon-color: map-get($foreground, text-less-contrast),

            state-active_border-color: darken(mc-color($foreground, border), 5),
            state-active_background: darken(map-get($background, background-disabled), 5)
        ),

        error: (
            border-color: mc-color($foreground, border),
            background: map-get($background, background-disabled),
            color: mc-color($error),
            icon-color: mc-color($error, 400),

            state-active_border-color: darken(mc-color($foreground, border), 5),
            state-active_background: darken(map-get($background, background-disabled), 5)
        )
    );

    $checkbox: (
        border-color: mc-color($second),

        state-checked_border-color: mc-color($primary, darker),
        state-checked_background: mc-color($primary),

        state-focused_border-color: mc-color($primary),
        state-focused_shadow: (inset 0 0 0 1px map-get($background, background), 0 0 0 1px mc-color($primary))
    );

    $modal: (
        shadow: (0 0 0 1px mc-color($second, 300), 0 6px 12px 0 rgba(0, 0, 0, 0.5))
    );

    $navbar: (
        background-color: mc-color($primary, 700),
        color: mc-color($primary, 100),

        item_color: mc-color($primary, 100),

        item_state-active_color: lighten(mc-color($primary, 700), 5%),
        item_state-hover_color: lighten(mc-color($primary, 700), 5%),
        item_state-progress_color: lighten(mc-color($primary, 800), 15%),
        item_state-disabled_opacity: 0.3,
    );

    $popover: (
        border-color: map-get($foreground, border),
    );

    $progress-bar: (
        background: mc-color($second, 60),
    );

    $radio: (
        outer-circle_border-color: mc-color($second),
        inner-circle_border-color: transparent,

        outer-circle_checked-state_border-color: mc-color($primary),
        outer-circle_focused-state_border-color: $focused-color,
        outer-circle_focused-state_shadow: 0 0 0 2px $focused-color,

        inner-circle_checked-state_border-color: mc-color($primary),
        inner-circle_focused-state_shadow: 0 0 0 1px map-get($background, background)
    );

    $sidepanel: (
        border_color: mc-color($second, 300)
    );

    $tabs: (
        border-color: mc-color($second, 300),
        state-active_color: mc-color($primary),
    );

    $tags: (
        primary: (
            background: mc-color($primary, 100),
            border-color: mc-color($primary, 100),
            focused-state_color: mc-color($primary),
            icon-color: mix(mc-color($primary, 400), map-get($background, overlay-hovered)),
            hovered-icon-color: mc-color($primary, darker),
            state-disable_background: mix(mc-color($primary), transparent, 10%),
            state-disable_color: mix(mc-color($primary), transparent, 50%),
        ),

        second: (
            background: mc-color($second, 100),
            border-color: mc-color($second, 100),
            focused-state_color: mc-color($primary),
            icon-color: mix(mc-color($second, 400), map-get($background,  overlay-hovered)),
            hovered-icon-color: mc-color($second, darker),
            state-disable_background: mix(mc-color($second), transparent, 10%),
            state-disable_color: mix(mc-color($second), transparent, 50%),
        ),

        error: (
            background: mc-color($error, 100),
            border-color: mc-color($error, 100),
            focused-state_color: mc-color($error),
            icon-color: mix(mc-color($error, 400), map-get($background,  overlay-hovered)),
            hovered-icon-color: mc-color($error, darker),
            state-disable_background: mix(mc-color($error), transparent, 10%),
            state-disable_color: mix(mc-color($error), transparent, 50%),
        )
    );

    $toggle: (
        border-color: mc-color($foreground, border),
        background: linear-gradient(to bottom, mc-color($second, lighter), mc-color($background, background-disabled)),

        circle_border-color: mc-color($foreground, border),
        circle_background: linear-gradient(to bottom, white, mc-color($second, lighter)),

        focused-state_color: (inset 0 0 0 1px map-get($background, background), 0 0 0 2px mc-color($primary))
    );

    $tooltip: (
        background-color: map-get($second, 700),
        color: mc-contrast($second, 700),
        shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    );

    $vertical-navbar: (
        background-color: mc-color($primary, 700),
        color: mc-contrast($primary, 700),

        toggle-button_color: mc-contrast($primary, 700),

        state-hover_background-color: lighten(mc-color($primary, 700), 5%),
        state-active_background-color: lighten(mc-color($primary, 700), 5%),
        state-progress_background-color: lighten(mc-color($primary, 800), 15%)
    );

    @return (
        popup-common: $popup-common,
        button: $button,
        checkbox: $checkbox,
        modal: $modal,
        navbar: $navbar,
        popover: $popover,
        progress-bar: $progress-bar,
        radio: $radio,
        sidepanel: $sidepanel,
        tabs: $tabs,
        tags: $tags,
        toggle: $toggle,
        tooltip: $tooltip,
        vertical-navbar: $vertical-navbar,
    );
}

@function mc-dark-theme-components($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    $focused-color: map-get(map-get($theme, states), focused-color);

    $popup-common: (
        shadow: 0 3px 3px 0 mc-color($second, A200),
        border-color: mc-color($second),
        divider-color: mc-color($foreground, divider),

        background: map-get($background, background-popup),
        footer_background-color: map-get($background, background-popup-footer)
    );

    $button: (
        state-active_shadow: inset 1px 2px 2px 0 rgba(black, 0.2),

        primary: (
            color: mc-contrast($primary, 500),
            border-color: map-get($primary, 560),
            background: map-get($primary, 500),
            icon-color: mc-contrast($primary, 500),

            state-active_border-color: darken(mc-color($primary, 560), 5),
            state-active_background: darken(mc-color($primary, 500), 5),
        ),

        second: (
            color: map-get($foreground, text),
            border-color: mc-color($foreground, border),
            background: map-get($background, background-disabled),
            icon-color: map-get($foreground, text-less-contrast),

            state-active_border-color: darken(mc-color($foreground, border), 5),
            state-active_background: darken(map-get($background, background-disabled), 5),
        ),

        error: (
            color: mc-color($error),
            border-color: mc-color($foreground, border),
            background: map-get($background, background-disabled),
            icon-color: mc-color($error, 400),

            state-active_border-color: darken(mc-color($foreground, border), 5),
            state-active_background: darken(map-get($background, background-disabled), 5)
        )
    );

    $checkbox: (
        border-color: mc-color($second),

        state-checked_border-color: mc-color($primary, lighter),
        state-checked_background: mc-color($primary, 600),

        state-focused_border-color: mc-color($primary),
        state-focused_shadow: (inset 0 0 0 1px map-get($background, background), 0 0 0 1px mc-color($primary))
    );

    $datepicker: ();

    $modal: (
        shadow: (0 0 0 1px mc-color($second, 800), 0 6px 12px 0 rgba(0, 0, 0, 0.5))
    );

    $navbar: (
        background-color: mc-color($primary, 700),
        color: mc-color($primary, 100),

        item_color: mc-color($primary, 100),

        item_state-active_color: lighten(mc-color($primary, 700), 5%),
        item_state-hover_color: lighten(mc-color($primary, 700), 5%),
        item_state-progress_color: lighten(mc-color($primary, 800), 15%),
        item_state-disabled_opacity: 0.3,
    );

    $popover: (
        border-color: mc-color($second, 700),
    );

    $progress-bar: (
        background-color: mc-color($second, 600),
    );

    $radio: (
        outer-circle_border-color: mc-color($second),
        inner-circle_border-color: transparent,

        outer-circle_checked-state_border-color: mc-color($primary),
        outer-circle_focused-state_border-color: $focused-color,
        outer-circle_focused-state_shadow: 0 0 0 2px $focused-color,

        inner-circle_checked-state_border-color: mc-color($primary, 600),
        inner-circle_focused-state_shadow: 0 0 0 1px map-get($background, background)
    );

    $sidepanel: (
        border_color: mc-color($second, 800),
    );

    $tabs: (
        border-color: mc-color($second, 300),
        state-active_color: mc-color($primary),
    );

    $tags: (
        primary: (
            background: mc-color($primary, 700),
            border-color: mc-color($primary, 700),
            focused-state_color: mc-color($primary),
            icon-color: mix(mc-color($primary, 400), map-get($background, overlay-hovered)),
            hovered-icon-color: mc-color($primary, lighter),
            state-disable_background: mix(mc-color($primary), transparent, 10%),
            state-disable_color: mix(mc-color($primary), transparent, 50%),
        ),

        second: (
            background: mc-color($second, 700),
            border-color: mc-color($second, 700),
            focused-state_color: mc-color($primary),
            icon-color: mix(mc-color($second, 400), map-get($background,  overlay-hovered)),
            hovered-icon-color: mc-color($second, lighter),
            state-disable_background: mix(mc-color($second), transparent, 10%),
            state-disable_color: mix(mc-color($second), transparent, 50%),
        ),

        error: (
            background: mc-color($error, 700),
            border-color: mc-color($error, 700),
            focused-state_color: mc-color($error),
            icon-color: mix(mc-color($error, 400), map-get($background,  overlay-hovered)),
            hovered-icon-color: mc-color($error, lighter),
            state-disable_background: mix(mc-color($error), transparent, 10%),
            state-disable_color: mix(mc-color($error), transparent, 50%),
        )
    );

    $toggle: (
        border-color: mc-color($foreground, border),
        background: map-get($background, background),

        circle_border-color: mc-color($foreground, border),
        circle_background: white,

        focused-state_color: (inset 0 0 0 1px map-get($background, background), 0 0 0 2px mc-color($primary)),
    );

    $tooltip: (
        background-color: white,
        color: mc-color($second, 700),
        shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    );

    $vertical-navbar: (
        background-color: mc-color($primary, 700),
        color: mc-contrast($primary, 700),

        toggle-button_color: mc-contrast($primary, 700),

        state-hover_background-color: lighten(mc-color($primary, 700), 5%),
        state-active_background-color: lighten(mc-color($primary, 700), 5%),
        state-progress_background-color: lighten(mc-color($primary, 800), 15%),
    );

    @return (
        popup-common: $popup-common,
        button: $button,
        checkbox: $checkbox,
        modal: $modal,
        navbar: $navbar,
        popover: $popover,
        progress-bar: $progress-bar,
        radio: $radio,
        sidepanel: $sidepanel,
        tabs: $tabs,
        tags: $tags,
        toggle: $toggle,
        tooltip: $tooltip,
        vertical-navbar: $vertical-navbar,
    );
}
