@import "../../design-tokens/tokens";


@function mc-light-theme-components($theme) {
    $alert: (
        error: (
            background: $alert-light-color-error-background,
            border: $alert-light-color-error-border,
            icon: $alert-light-color-error-icon
        ),
        warning: (
            background: $alert-light-color-warning-background,
            border: $alert-light-color-warning-border,
            icon: $alert-light-color-warning-icon
        ),
        success: (
            background: $alert-light-color-success-background,
            border: $alert-light-color-success-border,
            icon: $alert-light-color-success-icon
        ),
        info: (
            background: $alert-light-color-info-background,
            border: $alert-light-color-info-border,
            icon: $alert-light-color-info-icon
        ),
        default: (
            background: $alert-light-color-default-background,
            border: $alert-light-color-default-border,
            icon: $alert-light-color-default-icon
        ),
    );

    $popup: (
        shadow: $popup-light-color-shadow,
        border: $popup-light-color-border,
        divider: $popup-light-color-divider,

        background: $popup-light-color-background,
        footer-background: $popup-light-color-footer-background
    );

    $button: (
        state-active_shadow: $button-light-color-active-shadow,

        primary: (
            color: $button-light-color-primary-color,
            border: $button-light-color-primary-border,
            background: $button-light-color-primary-background,
            icon: $button-light-color-primary-icon,

            active_border: $button-light-color-primary-states-active-border,
            active_background: $button-light-color-primary-states-active-background
        ),

        second: (
            color: $button-light-color-second-color,
            border: $button-light-color-second-border,
            background: $button-light-color-second-background,
            icon: $button-light-color-second-icon,

            active_border: $button-light-color-second-states-active-border,
            active_background: $button-light-color-second-states-active-background
        ),

        error: (
            color: $button-light-color-error-color,
            border: $button-light-color-error-border,
            background: $button-light-color-error-background,
            icon: $button-light-color-error-icon,

            active_border: $button-light-color-error-states-active-border,
            active_background: $button-light-color-error-states-active-background
        )
    );

    $card: (
        error: (
            vertical-line: $card-light-color-error-vertical-line,
            background: $card-light-color-error-background,
            shadow: $card-light-color-error-shadow
        ),
        warning: (
            vertical-line: $card-light-color-warning-vertical-line,
            background: $card-light-color-warning-background,
            shadow: $card-light-color-warning-shadow
        ),
        success: (
            vertical-line: $card-light-color-success-vertical-line,
            background: $card-light-color-success-background,
            shadow: $card-light-color-success-shadow
        ),
        info: (
            vertical-line: $card-light-color-info-vertical-line,
            background: $card-light-color-info-background,
            shadow: $card-light-color-info-shadow
        )
    );

    $checkbox: (
        border: $checkbox-light-color-border,

        state-checked-border: $checkbox-light-color-states-checked-border,
        state-checked-background: $checkbox-light-color-states-checked-background,

        state-focused-border: $checkbox-light-color-states-focused-border,
        state-focused-shadow: $checkbox-light-color-states-focused-shadow
    );


    $form-field: (
        border: $form-field-light-color-border,
        background: $form-field-light-color-background,

        state-hover-border: $form-field-light-color-states-hover-border,
        state-invalid-border: $form-field-light-color-states-invalid-border,
        state-invalid-background: $form-field-light-color-states-invalid-background
    );

    $link: (
        text: $link-light-color-text,

        state-hover-border: $link-light-color-state-hover-text,
        state-focused-outline: $link-light-color-state-focused-outline,

        dashed: (
            border-bottom: $link-light-color-dashed-border-bottom,
            state-hover-border-bottom: $link-light-color-dashed-state-hover-border-bottom
        ),

        underlined: (
            border-bottom: $link-light-color-underlined-border-bottom,
            state-hover-border-bottom: $link-light-color-underlined-state-hover-border-bottom
        )
    );

    $modal: (
        background-mask: $modal-light-color-background-mask,
        shadow: $modal-light-color-shadow
    );

    $navbar: (
        background: $navbar-light-color-background,
        color: $navbar-light-color-text,
        opacity: $navbar-light-color-opacity,
    );

    $navbar-item: (
        color: $navbar-item-light-color-text,

        state-active: $navbar-item-light-color-states-active,
        state-hover: $navbar-item-light-color-states-hover,
        state-progress: $navbar-item-light-color-states-progress,
        state-disabled-opacity: $navbar-item-light-color-states-disabled-opacity,
    );

    $popover: (
        border: $popover-light-color-border
    );

    $progress-bar: (
        background: $progress-bar-light-color-background
    );

    $radio: (
        outer-circle_border: $radio-light-color-outer-circle-border,
        inner-circle_border: $radio-light-color-inner-circle-border,

        outer-circle_checked-state_border: $radio-light-color-states-checked-outer-circle-border,
        outer-circle_focused-state_border: $radio-light-color-states-focused-outer-circle-border,
        outer-circle_focused-state_shadow: $radio-light-color-states-focused-outer-circle-shadow,

        inner-circle_checked-state_border: $radio-light-color-states-checked-inner-circle-border,
        inner-circle_focused-state_shadow: $radio-light-color-states-focused-inner-circle-shadow
    );

    $sidepanel: (
        border: $sidepanel-light-color-border
    );

    $tabs: (
        border: $tabs-light-color-border,
        state-active: $tabs-light-color-state-active
    );

    $tags: (
        primary: (
            border: $tags-light-color-primary-border,
            background: $tags-light-color-primary-background,
            background_disabled: $tags-light-color-primary-states-disabled-background,
            icon: $tags-light-color-primary-icon,
            icon_hover: $tags-light-color-primary-states-hover-icon,
            focused: $tags-light-color-primary-states-focused,
            disabled: $tags-light-color-primary-states-disabled-text
        ),
        second: (
            border: $tags-light-color-second-border,
            background: $tags-light-color-second-background,
            background_disabled: $tags-light-color-second-states-disabled-background,
            icon: $tags-light-color-second-icon,
            icon_hover: $tags-light-color-second-states-hover-icon,
            focused: $tags-light-color-second-states-focused,
            disabled: $tags-light-color-second-states-disabled-text
        ),
        error: (
            border: $tags-light-color-error-border,
            background: $tags-light-color-error-background,
            background_disabled: $tags-light-color-error-states-disabled-background,
            icon: $tags-light-color-error-icon,
            icon_hover: $tags-light-color-error-states-hover-icon,
            focused: $tags-light-color-error-states-focused,
            disabled: $tags-light-color-error-states-disabled-text
        )
    );

    $toggle: (
        border: $toggle-light-color-border,
        background: $toggle-light-color-background,

        circle_border: $toggle-light-color-circle-border,
        circle_background: $toggle-light-color-circle-background,

        focused: $toggle-light-color-states-focused-shadow
    );

    $tooltip: (
        background: $tooltip-light-color-background,
        color: $tooltip-light-color-text,
        shadow: $tooltip-light-color-shadow
    );

    $vertical-navbar: (
        background: $vertical-navbar-light-color-background,
        color: $vertical-navbar-light-color-text,

        toggle-button: $vertical-navbar-light-color-toggle-button,

        background_hover: $vertical-navbar-light-color-states-hover-background,
        background_active: $vertical-navbar-light-color-states-active-background,
        background_progress: $vertical-navbar-light-color-states-progress-background
    );

    @return (
        alert: $alert,
        popup: $popup,
        button: $button,
        card: $card,
        checkbox: $checkbox,
        form-field: $form-field,
        link: $link,
        modal: $modal,
        navbar: $navbar,
        navbar-item: $navbar-item,
        popover: $popover,
        progress-bar: $progress-bar,
        radio: $radio,
        sidepanel: $sidepanel,
        tabs: $tabs,
        tags: $tags,
        toggle: $toggle,
        tooltip: $tooltip,
        vertical-navbar: $vertical-navbar,
    );
}

@function mc-dark-theme-components($theme) {
    $alert: (
        error: (
            background: $alert-dark-color-error-background,
            border: $alert-dark-color-error-border,
            icon: $alert-dark-color-error-icon
        ),
        warning: (
            background: $alert-dark-color-warning-background,
            border: $alert-dark-color-warning-border,
            icon: $alert-dark-color-warning-icon
        ),
        success: (
            background: $alert-dark-color-success-background,
            border: $alert-dark-color-success-border,
            icon: $alert-dark-color-success-icon
        ),
        info: (
            background: $alert-dark-color-info-background,
            border: $alert-dark-color-info-border,
            icon: $alert-dark-color-info-icon
        ),
        default: (
            background: $alert-dark-color-default-background,
            border: $alert-dark-color-default-border,
            icon: $alert-dark-color-default-icon
        ),
    );

    $popup: (
        shadow: $popup-dark-color-shadow,
        border: $popup-dark-color-border,
        divider: $popup-dark-color-divider,

        background: $popup-dark-color-background,
        footer-background: $popup-dark-color-footer-background
    );

    $button: (
        state-active_shadow: $button-dark-color-active-shadow,

        primary: (
            color: $button-dark-color-primary-color,
            border: $button-dark-color-primary-border,
            background: $button-dark-color-primary-background,
            icon: $button-dark-color-primary-icon,

            active_border: $button-dark-color-primary-states-active-border,
            active_background: $button-dark-color-primary-states-active-background
        ),

        second: (
            color: $button-dark-color-second-color,
            border: $button-dark-color-second-border,
            background: $button-dark-color-second-background,
            icon: $button-dark-color-second-icon,

            active_border: $button-dark-color-second-states-active-border,
            active_background: $button-dark-color-second-states-active-background
        ),

        error: (
            color: $button-dark-color-error-color,
            border: $button-dark-color-error-border,
            background: $button-dark-color-error-background,
            icon: $button-dark-color-error-icon,

            active_border: $button-dark-color-error-states-active-border,
            active_background: $button-dark-color-error-states-active-background
        )
    );

    $card: (
        error: (
            vertical-line: $card-dark-color-error-vertical-line,
            background: $card-dark-color-error-background,
            shadow: $card-dark-color-error-shadow
        ),
        warning: (
            vertical-line: $card-dark-color-warning-vertical-line,
            background: $card-dark-color-warning-background,
            shadow: $card-dark-color-warning-shadow
        ),
        success: (
            vertical-line: $card-dark-color-success-vertical-line,
            background: $card-dark-color-success-background,
            shadow: $card-dark-color-success-shadow
        ),
        info: (
            vertical-line: $card-dark-color-info-vertical-line,
            background: $card-dark-color-info-background,
            shadow: $card-dark-color-info-shadow
        )
    );

    $checkbox: (
        border: $checkbox-dark-color-border,

        state-checked-border: $checkbox-dark-color-states-checked-border,
        state-checked-background: $checkbox-dark-color-states-checked-background,

        state-focused-border: $checkbox-dark-color-states-focused-border,
        state-focused-shadow: $checkbox-dark-color-states-focused-shadow
    );

    $form-field: (
        border: $form-field-dark-color-border,
        background: $form-field-dark-color-background,

        state-hover-border: $form-field-dark-color-states-hover-border,
        state-invalid-border: $form-field-dark-color-states-invalid-border,
        state-invalid-background: $form-field-dark-color-states-invalid-background
    );

    $link: (
        text: $link-dark-color-text,

        state-hover-text: $link-dark-color-state-hover-text,
        state-focused-outline: $link-dark-color-state-focused-outline,

        dashed: (
            border-bottom: $link-dark-color-dashed-border-bottom,
            state-hover-border-bottom: $link-dark-color-dashed-state-hover-border-bottom
        ),

        underlined: (
            border-bottom: $link-dark-color-underlined-border-bottom,
            state-hover-border-bottom: $link-dark-color-underlined-state-hover-border-bottom
        )
    );

    $modal: (
        background-mask: $modal-dark-color-background-mask,
        shadow: $modal-dark-color-shadow
    );

    $navbar: (
        background: $navbar-dark-color-background,
        color: $navbar-dark-color-text,
        opacity: $navbar-dark-color-opacity,
    );

    $navbar-item: (
        color: $navbar-item-dark-color-text,

        state-active: $navbar-item-dark-color-states-active,
        state-hover: $navbar-item-dark-color-states-hover,
        state-progress: $navbar-item-dark-color-states-progress,
        state-disabled-opacity: $navbar-item-dark-color-states-disabled-opacity,
    );

    $popover: (
        border: $popover-dark-color-border
    );

    $progress-bar: (
        background: $progress-bar-dark-color-background
    );

    $radio: (
        outer-circle_border: $radio-dark-color-outer-circle-border,
        inner-circle_border: $radio-dark-color-inner-circle-border,

        outer-circle_checked-state_border: $radio-dark-color-states-checked-outer-circle-border,
        outer-circle_focused-state_border: $radio-dark-color-states-focused-outer-circle-border,
        outer-circle_focused-state_shadow: $radio-dark-color-states-focused-outer-circle-shadow,

        inner-circle_checked-state_border: $radio-dark-color-states-checked-inner-circle-border,
        inner-circle_focused-state_shadow: $radio-dark-color-states-focused-inner-circle-shadow
    );

    $sidepanel: (
        border: $sidepanel-dark-color-border
    );

    $tabs: (
        border: $tabs-dark-color-border,
        state-active: $tabs-dark-color-state-active
    );

    $tags: (
        primary: (
            border: $tags-dark-color-primary-border,
            background: $tags-dark-color-primary-background,
            background_disabled: $tags-dark-color-primary-states-disabled-background,
            icon: $tags-dark-color-primary-icon,
            icon_hovered: $tags-dark-color-primary-states-hover-icon,
            focused: $tags-dark-color-primary-states-focused,
            disabled: $tags-dark-color-primary-states-disabled-text
        ),
        second: (
            border: $tags-dark-color-second-border,
            background: $tags-dark-color-second-background,
            background_disabled: $tags-dark-color-second-states-disabled-background,
            icon: $tags-dark-color-second-icon,
            icon_hovered: $tags-dark-color-second-states-hover-icon,
            focused: $tags-dark-color-second-states-focused,
            disabled: $tags-dark-color-second-states-disabled-text
        ),
        error: (
            border: $tags-dark-color-error-border,
            background: $tags-dark-color-error-background,
            background_disabled: $tags-dark-color-error-states-disabled-background,
            icon: $tags-dark-color-error-icon,
            icon_hovered: $tags-dark-color-error-states-hover-icon,
            focused: $tags-dark-color-error-states-focused,
            disabled: $tags-dark-color-error-states-disabled-text
        )
    );

    $toggle: (
        border: $toggle-dark-color-border,
        background: $toggle-dark-color-background,

        circle_border: $toggle-dark-color-circle-border,
        circle_background: $toggle-dark-color-circle-background,

        focused: $toggle-dark-color-states-focused-shadow
    );

    $tooltip: (
        background: $tooltip-dark-color-background,
        color: $tooltip-dark-color-text,
        shadow: $tooltip-dark-color-shadow
    );

    $vertical-navbar: (
        background: $vertical-navbar-dark-color-background,
        color: $vertical-navbar-dark-color-text,

        toggle-button: $vertical-navbar-dark-color-toggle-button,

        background_hovered: $vertical-navbar-dark-color-states-hover-background,
        background_active: $vertical-navbar-dark-color-states-active-background,
        background_progress: $vertical-navbar-dark-color-states-progress-background
    );

    @return (
        alert: $alert,
        popup: $popup,
        button: $button,
        card: $card,
        checkbox: $checkbox,
        form-field: $form-field,
        link: $link,
        modal: $modal,
        navbar: $navbar,
        navbar-item: $navbar-item,
        popover: $popover,
        progress-bar: $progress-bar,
        radio: $radio,
        sidepanel: $sidepanel,
        tabs: $tabs,
        tags: $tags,
        toggle: $toggle,
        tooltip: $tooltip,
        vertical-navbar: $vertical-navbar,
    );
}
