$black-12-opacity: rgba(black, 0.12);
$black-6-opacity:  rgba(black, 0.06);

$white-12-opacity: rgba(white, 0.12);

$dark-text-default:     #4d4d4d;

$dark-icon-secondary:   #cccccc;

$light-icon-secondary:  #999999;

$mc-blue: (
    40: #f5fafd,
    60: #ebf4fb,
    100: #d8eaf7,
    200: #aad1ec,
    300: #7fbae1,
    400: #57a4d7,
    500: #338fcc,
    560: #277bb3,
    600: #206ea2,
    700: #114e77,
    800: #07314d,
    A100: rgba(0, 153, 255, 0.15),
    A200: rgba(0, 153, 255, 0.3),
    contrast: (
        40: $dark-text-default,
        60: $dark-text-default,
        100: $dark-text-default,
        200: $dark-text-default,
        300: $dark-text-default,
        400: white,
        500: white,
        560: white,
        600: white,
        700: white,
        800: white,
        A100: $dark-text-default,
        A200: white,
    )
);

$mc-green: (
    40: #f6fbf4,
    60: #edf8e9,
    100: #dcf1d4,
    200: #b4dea4,
    300: #8fcc79,
    400: #6fba53,
    500: #52a832,
    560: #449327,
    600: #3b8520,
    700: #276211,
    800: #163f07,
    A100: rgba(68, 255, 0, 0.15),
    contrast: (
        40: $dark-text-default,
        60: $dark-text-default,
        100: $dark-text-default,
        200: $dark-text-default,
        300: $dark-text-default,
        400: white,
        500: white,
        560: white,
        600: white,
        700: white,
        800: white,
        A100: $dark-text-default,
    )
);

$mc-red: (
    40: #fef7f6,
    60: #fcefec,
    100: #fadeda,
    200: #f4b7ae,
    300: #ed9284,
    400: #e76e5c,
    500: #e04d36,
    560: #c43e29,
    600: #b23522,
    700: #832112,
    800: #541208,
    A100: rgba(224, 79, 56, 0.15),
    contrast: (
        40: $dark-text-default,
        60: $dark-text-default,
        100: $dark-text-default,
        200: $dark-text-default,
        300: $dark-text-default,
        400: white,
        500: white,
        560: white,
        600: white,
        700: white,
        800: white,
        A100: $dark-text-default,
    )
);

$mc-grey: (
    40: #f5f5f5,
    60: #f0f0f0,
    100: #e6e6e6,
    200: #cccccc,
    300: #b3b3b3,
    400: #999999,
    500: #808080,
    560: #707070,
    600: #666666,
    700: #4d4d4d,
    800: #333333,
    A40: rgba(0, 0, 0, 0.04),
    A60: rgba(0, 0, 0, 0.06),
    A100: rgba(0, 0, 0, 0.1),
    A200: rgba(0, 0, 0, 0.2),
    A300: rgba(0, 0, 0, 0.3),
    A500: rgba(0, 0, 0, 0.5),
    contrast: (
        40: $dark-text-default,
        60: $dark-text-default,
        100: $dark-text-default,
        200: $dark-text-default,
        300: $dark-text-default,
        400: white,
        500: white,
        560: white,
        600: white,
        700: white,
        800: white,
    )
);

$mc-yellow: (
    40: #fdfaf3,
    60: #fcf5e8,
    100: #f8ebd1,
    200: #f0d49b,
    300: #e7bd68,
    400: #dfa739,
    500: #d6930d,
    560: #bb800a,
    600: #aa7408,
    700: #7d5504,
    800: #503602,
    A100: rgba(255, 170, 0, 0.15),
    contrast: (
        40: $dark-text-default,
        60: $dark-text-default,
        100: $dark-text-default,
        200: $dark-text-default,
        300: $dark-text-default,
        400: white,
        500: white,
        560: white,
        600: white,
        700: white,
        800: white,
        A100: $dark-text-default,
    )
);


$mc-light-theme-foreground: (
    text:                   #4D4D4D,
    less-contrast-text:     #999999, // футер, навбар, иконка, дропдовн
    disabled-text:          #B3B3B3, // почти везде

    divider:                map-get($mc-grey, 100), // нужно использовать что то похожее
    icon:                   rgba(transparent, 0.45) // Дефолтные серые иконки default-icon: лупа в поле, иконки дропдаунов v, все иконки вне полей.
);

$mc-dark-theme-foreground: (
    text:                   #F0F0F0,
    less-contrast-text:     #999999,
    disabled-text:          #999999,

    divider:                #666666,
    icon:                   rgba(white, 1)
);

$mc-light-theme-background: (
    background:             white,
    bg-dropdowns:           map-get($mc-grey, 700), // только тултип
    button-bg:              map-get($mc-grey, 60), // это чаще всего дизейбленное состояние
    button-border:          map-get($mc-grey, 200), // используется не только в button
    disabled-overlay:       rgba(white, 0.3), // используется но не часто
    hover:                  rgba(black, 0.05), // везде
    in-shadow:              inset 0 1px 2px 0 rgba(black, 0.2) // сейчас только в кнопках
);

$mc-dark-theme-background: (
    background:             map-get($mc-grey, 800),
    bg-dropdowns:           white,
    button-bg:              map-get($mc-grey, 600),
    button-border:          map-get($mc-grey, 500),
    disabled-overlay:       rgba(black, 0.2),
    hover:                  rgba(white, 0.05),
    in-shadow:              inset 1px 2px 2px 0 rgba(black, 0.2)
);
