@import '../../design-tokens/pt-2022/tokens';
@import 'components-theming';


@function mc-contrast($palette, $hue) {
    @return map-get(map-get($palette, contrast), $hue);
}

@function mc-palette($base-palette, $default) {
    $result: map_merge($base-palette, (default: $default));

    // For each hue in the palette, add a "-contrast" color to the map.
    @each $hue, $color in $base-palette {
        $result: map_merge($result, ('#{$hue}-contrast': mc-contrast($base-palette, $hue)));
    }

    @return $result;
}

@function mc-color($palette, $hue: default, $opacity: null) {
    // If hueKey is a number between zero and one, then it actually contains an
    // opacity value, so recall this function with the default hue and that given opacity.
    @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
        @return mc-color($palette, default, $hue);
    }

    $color: map-get($palette, $hue);
    $opacity: if($opacity == null, opacity($color), $opacity);

    @return rgba($color, $opacity);
}

$light-primary: mc-palette($light-color-scheme-primary-palette, $light-color-scheme-primary-default);
$light-second: mc-palette($light-color-scheme-second-palette, $light-color-scheme-second-default);
$light-error: mc-palette($light-color-scheme-error-palette, $light-color-scheme-error-default);

$light-info: mc-palette($light-color-scheme-info-palette, $light-color-scheme-info-default);
$light-success: mc-palette($light-color-scheme-success-palette, $light-color-scheme-success-default);
$light-warning: mc-palette($light-color-scheme-warning-palette, $light-color-scheme-warning-default);

@function mc-light-theme(
    $primary: $light-primary,
    $second: $light-second,
    $error: $light-error,
    $info: $light-info,
    $success: $light-success,
    $warning: $light-warning
) {
    $states: (
        focused-color: $light-color-scheme-states-focused-color,
        selected-color: $light-color-scheme-states-selected-color,
        pressed-shadow: $light-color-scheme-states-pressed-shadow,
        disabled-opacity: $light-color-scheme-states-disabled-opacity
    );

    $foreground: (
        text: $light-color-scheme-foreground-text,
        text-less-contrast: $light-color-scheme-foreground-text-less-contrast,
        text-disabled: $light-color-scheme-foreground-text_disabled,
        divider: $light-color-scheme-foreground-divider,
        border: $light-color-scheme-foreground-border,
        icon: $light-color-scheme-foreground-icon,
    );

    $background: (
        background: $light-color-scheme-background-background,
        background-disabled: $light-color-scheme-background-background-disabled,
        overlay-hover: $light-color-scheme-background-overlay-hover,
        overlay-active: $light-color-scheme-background-overlay-active,
        overlay-disabled: $light-color-scheme-background-overlay-disabled
    );

    $theme: (
        is-dark: false,

        primary: $primary,
        second: $second,
        error: $error,

        foreground: $foreground,
        background: $background,

        warning: $warning,
        success: $success,
        info: $info,

        states: $states
    );

    @return map_merge($theme, (components: mc-light-theme-components($theme)));
}

$dark-primary: mc-palette($dark-color-scheme-primary-palette, $dark-color-scheme-primary-default);
$dark-second: mc-palette($dark-color-scheme-second-palette, $dark-color-scheme-second-default);
$dark-error: mc-palette($dark-color-scheme-error-palette, $dark-color-scheme-error-default);

$dark-info: mc-palette($dark-color-scheme-info-palette, $dark-color-scheme-info-default);
$dark-success: mc-palette($dark-color-scheme-success-palette, $dark-color-scheme-success-default);
$dark-warning: mc-palette($dark-color-scheme-warning-palette, $dark-color-scheme-warning-default);

@function mc-dark-theme(
    $primary: $dark-primary,
    $second: $dark-second,
    $error: $dark-error,
    $info: $dark-info,
    $success: $dark-success,
    $warning: $dark-warning
) {
    $states: (
        focused-color: $dark-color-scheme-states-focused-color,
        selected-color: $dark-color-scheme-states-selected-color,
        pressed-shadow: $dark-color-scheme-states-pressed-shadow,
        disabled-opacity: $dark-color-scheme-states-disabled-opacity
    );

    $background: (
        background: $dark-color-scheme-background-background,
        background-disabled: $dark-color-scheme-background-background-disabled,
        overlay-hover: $dark-color-scheme-background-overlay-hover,
        overlay-active: $dark-color-scheme-background-overlay-active,
        overlay-disabled: $dark-color-scheme-background-overlay-disabled
    );

    $foreground: (
        text: $dark-color-scheme-foreground-text,
        text-less-contrast: $dark-color-scheme-foreground-text-less-contrast,
        text-disabled: $dark-color-scheme-foreground-text_disabled,
        divider: $dark-color-scheme-foreground-divider,
        border: $dark-color-scheme-foreground-border,
        icon: $dark-color-scheme-foreground-icon,
    );

    $theme: (
        is-dark: true,

        primary: $primary,
        second: $second,
        error: $error,

        foreground: $foreground,
        background: $background,

        warning: $warning,
        success: $success,
        info: $info,

        states: $states
    );

    @return map_merge($theme, (components: mc-dark-theme-components($theme)));
}
