@import '../../design-tokens/tokens';
@import 'components-theming';


@function mc-contrast($palette, $hue) {
    @return map-get(map-get($palette, contrast), $hue);
}

@function mc-palette($base-palette, $default) {
    $result: map_merge($base-palette, (default: $default));

    // For each hue in the palette, add a "-contrast" color to the map.
    @each $hue, $color in $base-palette {
        $result: map_merge($result, ('#{$hue}-contrast': mc-contrast($base-palette, $hue)));
    }

    @return $result;
}

@function mc-color($palette, $hue: default, $opacity: null) {
    // If hueKey is a number between zero and one, then it actually contains an
    // opacity value, so recall this function with the default hue and that given opacity.
    @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
        @return mc-color($palette, default, $hue);
    }

    $color: map-get($palette, $hue);
    $opacity: if($opacity == null, opacity($color), $opacity);

    @return rgba($color, $opacity);
}

@function mc-light-theme($primary, $second, $error, $info, $success, $warning) {
    $states: (
        focused-color: getCSSVar($light-color-states-focused-color: $light-color-states-focused-color),
        selected-color: getCSSVar($light-color-states-selected-color: $light-color-states-selected-color),
        pressed-shadow: getCSSVar($light-color-states-pressed-shadow: $light-color-states-pressed-shadow),
        disabled-opacity: getCSSVar($light-color-states-disabled-opacity: $light-color-states-disabled-opacity)
    );

    $foreground: (
        text: getCSSVar($light-color-foreground-text: $light-color-foreground-text),
        text-less-contrast: getCSSVar(
            $light-color-foreground-text-less-contrast: $light-color-foreground-text-less-contrast
        ),
        text-disabled: getCSSVar($light-color-foreground-text_disabled: $light-color-foreground-text_disabled),
        divider: getCSSVar($light-color-foreground-divider: $light-color-foreground-divider),
        border: getCSSVar($light-color-foreground-border: $light-color-foreground-border),
        icon: getCSSVar($light-color-foreground-icon: $light-color-foreground-icon),
    );

    $background: (
        background: getCSSVar($light-color-background-background: $light-color-background-background),
        background-disabled: getCSSVar(
            $light-color-background-background-disabled: $light-color-background-background-disabled
        ),
        overlay-hover: getCSSVar($light-color-background-overlay-hover: $light-color-background-overlay-hover),
        overlay-active: getCSSVar($light-color-background-overlay-active: $light-color-background-overlay-active),
        overlay-disabled: getCSSVar($light-color-background-overlay-disabled: $light-color-background-overlay-disabled)
    );

    $theme: (
        is-dark: false,

        primary: $primary,
        second: $second,
        error: $error,

        foreground: $foreground,
        background: $background,

        warning: $warning,
        success: $success,
        info: $info,

        states: $states
    );

    @return map_merge($theme, (components: mc-light-theme-components($theme)));
}

@function mc-dark-theme($primary, $second, $error, $info, $success, $warning) {
    $states: (
        focused-color: getCSSVar($dark-color-states-focused-color: $dark-color-states-focused-color),
        selected-color: getCSSVar($dark-color-states-focused-color: $dark-color-states-focused-color),
        pressed-shadow: getCSSVar($dark-color-states-pressed-shadow: $dark-color-states-pressed-shadow),
        disabled-opacity: getCSSVar($dark-color-states-disabled-opacity: $dark-color-states-disabled-opacity)
    );

    $background: (
        background: getCSSVar($dark-color-background-background: $dark-color-background-background),
        background-disabled: getCSSVar(
            $dark-color-background-background-disabled: $dark-color-background-background-disabled
        ),
        overlay-hover: getCSSVar($dark-color-background-overlay-hover: $dark-color-background-overlay-hover),
        overlay-active: getCSSVar($dark-color-background-overlay-active: $dark-color-background-overlay-active),
        overlay-disabled: getCSSVar($dark-color-background-overlay-disabled: $dark-color-background-overlay-disabled)
    );

    $foreground: (
        text: getCSSVar($dark-color-foreground-text: $dark-color-foreground-text),
        text-less-contrast: getCSSVar(
            $dark-color-foreground-text-less-contrast: $dark-color-foreground-text-less-contrast
        ),
        text-disabled: getCSSVar($dark-color-foreground-text_disabled: $dark-color-foreground-text_disabled),
        divider: getCSSVar($dark-color-foreground-divider: $dark-color-foreground-divider),
        border: getCSSVar($dark-color-foreground-border: $dark-color-foreground-border),
        icon: getCSSVar($dark-color-foreground-icon: $dark-color-foreground-icon),
    );

    $theme: (
        is-dark: true,

        primary: $primary,
        second: $second,
        error: $error,

        foreground: $foreground,
        background: $background,

        warning: $warning,
        success: $success,
        info: $info,

        states: $states
    );

    @return map_merge($theme, (components: mc-dark-theme-components($theme)));
}
