@import '../design-tokens/pt-2022/tokens';


.mc-form-field {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: var(--mc-form-field-size-border-radius, $form-field-size-border-radius);

    &:hover {
        z-index: 1;
    }

    &.mc-focused {
        z-index: 2;
    }
}

.mc-form-field-type-input-password {
    & .mc-input {
        padding-right: var(--mc-form-field-size-button-width, $form-field-size-button-width);
    }
}

.mc-hint {
    display: block;
}

.mc-password-hint {
    display: block;

    & .mc-icon {
        margin-right: 4px;
    }
}

.mc-form-field__hint > .mc-hint,
.mc-form-field__hint > .mc-password-hint {
    margin-top: var(--mc-form-field-hint-size-margin-top, $form-field-hint-size-margin-top);
}

.mc-form-field__container {
    position: relative;

    border-width: var(--mc-form-field-size-border-width, $form-field-size-border-width);
    border-style: solid;
    border-color: transparent;
    border-radius: var(--mc-form-field-size-border-radius, $form-field-size-border-radius);
}

.mc-form-field_without-borders .mc-form-field__container {
    border: {
        color: transparent;
    }
}

.mc-form-field__prefix,
.mc-form-field__suffix {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mc-form-field__prefix {
    left: 0;
}

.mc-form-field__suffix {
    right: 0;
}

.mc-form-field_has-suffix,
.mc-form-field_has-cleaner,
.mc-form-field_has-stepper {
    .mc-input {
        padding-right: var(--mc-form-field-size-button-width, $form-field-size-button-width);
    }
}

.mc-form-field_has-prefix {
    .mc-input {
        padding-left: var(--mc-form-field-size-button-width, $form-field-size-button-width);
    }
}

.mc-cleaner {
    display: flex;

    width: var(--mc-form-field-size-button-width, $form-field-size-button-width);
    height: 100%;

    cursor: pointer;

    & .mc-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }
}

.mc-form-field__cleaner {
    .mc-cleaner {
        position: absolute;

        top: 0;
        bottom: 0;
        right: 0;
    }
}

mc-stepper {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    right: 0;

    width: var(--mc-form-field-size-button-width, $form-field-size-button-width);

    .mc-stepper-step-up,
    .mc-stepper-step-down {
        cursor: pointer;
        width: var(--mc-form-field-size-button-width, $form-field-size-button-width);
        text-align: center;
    }

    .mc-stepper-step-up {
        transform: scaleY(-1);
    }
}
