$mc-form-field-border-radius: 3px;
$mc-form-field-border-size: 1px;

.mc-form-field {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: $mc-form-field-border-radius;

    &:hover {
        z-index: 1;
    }

    &.mc-focused {
        z-index: 2;
    }
}

.mc-form-field__hint {
    margin-top: 4px;
}

.mc-form-field__container {
    position: relative;

    border: {
        width: $mc-form-field-border-size;
        style: solid;
        color: initial;
        radius: $mc-form-field-border-radius;
    }
}

.mc-form-field_without-borders .mc-form-field__container {
    border: {
        color: transparent;
    }
}

.mc-form-field__prefix,
.mc-form-field__suffix {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mc-form-field__prefix {
    left: 0;
}

.mc-form-field__suffix {
    right: 0;
}

.mc-form-field_has-suffix,
.mc-form-field_has-cleaner,
.mc-form-field_has-stepper {
    .mc-input {
        padding-right: 32px;
    }
}

.mc-form-field_has-prefix {
    .mc-input {
        padding-left: 32px;
    }
}

.mc-form-field__cleaner {
    .mc-cleaner {
        position: absolute;

        top: 0;
        bottom: 0;
        right: 0;
    }
}

.mc-cleaner {
    display: flex;

    width: 32px;
    height: 100%;

    cursor: pointer;

    & .mc-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }
}

mc-stepper {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    right: 0;

    width: 32px;

    .mc-stepper-step-up,
    .mc-stepper-step-down {
        cursor: pointer;
        width: 32px;
        text-align: center;
    }

    .mc-stepper-step-up {
        transform: scaleY(-1);
    }
}
