@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';

@import '../core/styles/common/animation';


@mixin mc-modal-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $is-dark: map-get($theme, is-dark);

    $inner-border: mc-color($second, if($is-dark, 600, 60));

    .mc-modal {
        .mc-modal-content {
            background-color: map-get($background, background);

            box-shadow:
                0 0 0 1px mc-color($second, if($is-dark, 800, 300)),
                0 6px 12px 0 rgba(0, 0, 0, 0.5);
        }

        .mc-modal-title {
            color: map-get($foreground, text);
        }

        .mc-modal-header {
            border-bottom: 1px solid $inner-border;
        }

        .mc-modal-footer {
            border-top: 1px solid $inner-border;
            background-color: if($is-dark, transparent, mc-color($second, 60));
        }

        .mc-modal-close {
            border: $mc-button-border-size solid transparent;

            &:hover .mc-button-overlay {
                background-color: transparent;
            }

            &:hover,
            &.cdk-keyboard-focused {
                .mc-icon {
                    color: mix(map-get($foreground, text), mc-color($second), 90%);
                }
            }
        }
    }

    .mc-confirm {
        // todo почему футер внезапно перестал быть футером ?
        .mc-confirm-btns {
            border-top: 1px solid $inner-border;
            background-color: if($is-dark, transparent, mc-color($second, 60));
        }
    }
}

@mixin mc-modal-typography($config) {
    .mc-modal {
        .mc-modal-title {
            @include mc-typography-level-to-styles($config, title);
        }
    }

    .mc-modal-body {
        @include mc-typography-level-to-styles($config, body);
    }
}
