@import '../design-tokens/pt-2022/tokens';


.mc-confirm {
    .mc-modal-header {
        display: none;
    }

    .mc-modal-close {
        display: none;
    }

    .mc-modal-body {
        padding: var(--mc-modal-confirm-size-padding, $modal-confirm-size-padding);
    }

    // TODO
    &-body-wrapper {
        //.clearfix()
        zoom: 1;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    &-body {
        .mc-confirm-title {
            display: block;
            overflow: auto;
        }
    }

    .mc-confirm-btns {
        border-radius: var(--mc-modal-footer-size-border-radius, $modal-footer-size-border-radius);
        text-align: right;

        button + button {
            margin: 16px;
        }
    }
}
