@import '../core/styles/variables';
@import '../design-tokens/tokens';

@import './modal-confirm';


.mc-modal {
    box-sizing: border-box;

    position: relative;

    top: $modal-size-top;

    width: auto;

    margin: 0 auto;

    padding: $modal-size-padding;

    list-style: none;

    &.zoom-enter,
    &.zoom-appear {
        animation-duration: 0.3s;
        // reset scale avoid mousePosition bug
        transform: none;
        opacity: 0;
    }


    .mc-modal-close {
        position: absolute;

        z-index: 10;
        top: 0;
        right: 0;

        width: $modal-size-close-width;
        height: $modal-size-close-width;
    }
}

.mc-modal-wrap {
    position: fixed;

    z-index: $zindex-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    outline: 0;
}

.mc-modal-title {
    margin: 0;
}

.mc-modal-content {
    position: relative;

    border-radius: $modal-size-border-radius;

    background-clip: padding-box;
    background-color: white;
}

.mc-modal-header {
    display: block;

    border-radius: $modal-header-size-border-radius;

    padding: $modal-header-size-padding;
}

.mc-modal-body {
    display: block;
    overflow-y: auto;

    max-height: $modal-body-size-max-height;

    padding: $modal-body-size-padding;

    word-wrap: break-word;
}

.mc-modal-footer {
    display: block;

    border-radius: $modal-footer-size-border-radius;

    padding: $modal-footer-size-padding;

    text-align: right;

    button + button {
        margin-left: 16px;
        margin-bottom: 0;
    }
}

.mc-modal-mask {
    position: fixed;

    z-index: $zindex-modal-mask;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    &.mc-modal-mask-hidden {
        display: none;
    }
}

.mc-modal-open {
    overflow: hidden;
}
