@import '../core/styles/variables';
@import '../design-tokens/pt-2022/tokens';

@import './modal-confirm';


.mc-modal {
    box-sizing: border-box;

    position: relative;

    top: var(--mc-modal-size-top, $modal-size-top);

    width: auto;

    margin: 0 auto;

    list-style: none;

    &.zoom-enter,
    &.zoom-appear {
        animation-duration: 0.3s;
        // reset scale avoid mousePosition bug
        transform: none;
        opacity: 0;
    }

    &.mc-modal_small {
        width: var(--mc-modal-size-small, $modal-size-small);
    }

    &.mc-modal_normal {
        width: var(--mc-modal-size-normal, $modal-size-normal);
    }

    &.mc-modal_large {
        width: var(--mc-modal-size-large, $modal-size-large);
    }

    & .mc-modal-close {
        position: absolute;

        z-index: 10;
        top: 0;
        right: 0;

        width: var(--mc-modal-size-close-width, $modal-size-close-width);
        height: var(--mc-modal-size-close-width, $modal-size-close-width);
    }
}

.mc-modal-wrap {
    position: fixed;

    z-index: $zindex-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    outline: 0;
}

.mc-modal-title {
    margin: 0;
}

.mc-modal-content {
    position: relative;

    border-radius: var(--mc-modal-size-border-radius, $modal-size-border-radius);

    background-clip: padding-box;
    background-color: white;
}

.mc-modal-header {
    display: block;

    border-radius: var(--mc-modal-header-size-border-radius, $modal-header-size-border-radius);

    padding: var(--mc-modal-header-size-padding, $modal-header-size-padding);
}

.mc-modal-body {
    display: block;
    overflow-y: auto;

    max-height: var(--mc-modal-body-size-max-height, $modal-body-size-max-height);

    padding: var(--mc-modal-body-size-padding, $modal-body-size-padding);

    word-wrap: break-word;
}

.mc-modal-footer {
    display: block;

    border-radius: var(--mc-modal-footer-size-border-radius, $modal-footer-size-border-radius);

    padding: var(--mc-modal-footer-size-padding, $modal-footer-size-padding);

    text-align: right;

    button + button {
        margin-left: 16px;
        margin-bottom: 0;
    }
}

.mc-modal-mask {
    position: fixed;

    z-index: $zindex-modal-mask;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    &.mc-modal-mask-hidden {
        display: none;
    }
}

.mc-modal-open {
    overflow: hidden;
}
