@import "navbar-theme";

$doc-navbar-height: 64px;
$doc-navbar-icon-font-size: 22px;
$doc-navbar-padding: 10px;

.docs-navbar-header {
    display: flex;
    align-items: center;
    height: $doc-navbar-height;
    padding: 16px 32px;

    .docs-navbar-logo {
        display: flex;

        &__img {
            max-width: 100%;
            width: 32px;
            height: 32px;
        }

        &__title {
            line-height: 32px;
            font-size: 28px;
            padding: {
                left: 8px;
                right: 8px;
            };
        }
    }

    .docs-navbar-dropdown {
        min-width: 140px;

        &_hidden {
            visibility: hidden;
        }

        &__icon { color: inherit; }
    }
}

.color-picker {
    &__icon {
        font-size: $doc-navbar-icon-font-size;
    }

    &__dropdown-content {
        overflow: hidden;
        display:flex;
    }

    &__dropdown-item {
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.docs-navbar-version {
    display: flex;
    align-items: baseline;
    margin-bottom: -5px;

    &__number { margin-left: 7px; }

    &__item { display: flex; }

    &__num {
        display: flex;
        min-width: 50px;
    }

    &__date {
        display: flex;
        flex-grow: 1;
        white-space: nowrap;
    }
}

.docs-navbar-header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

.color-picker .mc.mc-icon {
    margin-right: 0;
}

@media (max-width: 600px) {
    .docs-navbar-header {
        flex-direction: column;
        height: auto;
    }

    .docs-navbar-header_fixed {
        position: relative;
    }

}
