@import "navbar-theme";

$doc-navbar-height: 64px;
$doc-navbar-font-size: 20px;
$doc-navbar-padding: 10px;

.docs-navbar-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: $doc-navbar-height;
    padding: 16px 32px;

    .docs-navbar-logo {
        display: flex;

        &__img {
            max-width: 100%;
            width: 32px;
            height: 32px;
        }

        &__title {
            line-height: 32px;
            font-size: 28px;
            padding: {
                left: 8px;
                right: 8px;
            };
        }
    }

    .docs-navbar-version {
        display: flex;
        align-items: baseline;
        height: $doc-navbar-font-size;
        font-size: $doc-navbar-font-size;
        line-height: $doc-navbar-font-size;
        margin-bottom: -5px;

        &__number { margin-left: 7px; }

    }

    .docs-navbar-dropdown {
        min-width: 140px;

        &__trigger {
            font-size: 15px;
            line-height: $doc-navbar-font-size;
            padding: {
                left: $doc-navbar-padding;
                right: $doc-navbar-padding;
            };
        }

        &__icon { color: inherit; }

    }

    .color-picker__icon { font-size: $doc-navbar-font-size; }

}

.docs-navbar-header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

