@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

//@import '../../lib/core/theming/prebuilt/default-theme';
@import '../../lib/core/theming/prebuilt/dark-theme';

.example-stretched-tabs {
    max-width: 800px;
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}


.example-action-button {
    margin-bottom: 8px;
}
