@import '../core/styles/common/layout';
@import '../core/styles/common/checkbox';
@import '../core/styles/variables';

$mc-toggle-padding: 24px !default;
$mc-checkbox-border-width: 1px;
$toggle-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
// The amount of spacing between the checkbox and its label.
$mc-checkbox-item-spacing: $mc-toggle-padding - $mc-checkbox-size;

// The width of the line used to draw the checkmark / mixedmark.
$mc-checkbox-mark-stroke-size: 2 / 15 * $mc-checkbox-size !default;

// Applied to elements that are considered "marks" within the checkbox, e.g. the checkmark and
// the mixedmark.
%mc-checkbox-mark {
    $width-padding-inset: 2 * $mc-checkbox-border-width;
    width: calc(100% - #{$width-padding-inset});
}

// Applied to elements that appear to make up the outer box of the checkmark, such as the frame
// that contains the border and the actual background element that contains the marks.
%mc-checkbox-outer-box {
    @include mc-fill;

    border-radius: 3px;
    box-sizing: border-box;
    pointer-events: none;
}

.mc-checkbox-checkmark,
.mc-checkbox-mixedmark {
    display: none;

    position: absolute;

    top: -1px;
    left: -1px;
    right: 0;
    bottom: 0;
}

.mc-checkbox-frame {
    @extend %mc-checkbox-outer-box;

    background-color: transparent;
    border: {
        width: $mc-checkbox-border-width;
        style: solid;
    }
    box-shadow: $toggle-box-shadow;
}

.mc-checkbox {
    display: inline-block;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.mc-checked {
        .mc-checkbox-checkmark {
            display: block;
        }

        .mc-checkbox-mixedmark {
            display: none;
        }
    }

    &.mc-indeterminate {
        .mc-checkbox-checkmark {
            display: none;
        }

        .mc-checkbox-mixedmark {
            display: block;
        }
    }

    &.mc-disabled {
        cursor: default;

        .mc-checkbox-frame {
            box-shadow: none;
        }
    }
}

.mc-checkbox-layout {
    // `cursor: inherit` ensures that the wrapper element gets the same cursor as the mc-checkbox
    // (e.g. pointer by default, regular when disabled), instead of the browser default.
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;

    width: 100%;
}

.mc-checkbox-inner-container {
    display: inline-block;
    height: $mc-checkbox-size;
    line-height: 0;
    margin-right: $mc-checkbox-item-spacing;
    order: 0;
    position: relative;
    align-self: center;
    white-space: nowrap;
    width: $mc-checkbox-size;
    flex-shrink: 0;

    [dir='rtl'] & {
        margin: {
            left: $mc-checkbox-item-spacing;
            right: auto;
        }
    }
}

.mc-checkbox-inner-container-no-side-margin {
    margin: {
        left: 0;
        right: 0;
    }
}

.mc-checkbox-label-before {
    .mc-checkbox-inner-container {
        order: 1;
        margin: {
            left: $mc-checkbox-item-spacing;
            right: auto;
        }

        [dir='rtl'] & {
            margin: {
                left: auto;
                right: $mc-checkbox-item-spacing;
            }
        }
    }
}
