# CDK
/packages/cdk/**                                       @Fost @lskramarov

# Docs
/packages/docs/**                                      @Fost

# Mosaic
/packages/mosaic/**                                    @Fost @lskramarov

# Moment Adapter
/packages/mosaic-moment-adapter/**                     @lskramarov

# Luxon Adapter
/packages/mosaic-luxon-adapter/**                      @lskramarov
