@import '../../../styles/legacy-2017/default-theme/variables';

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    width: calc(100% - 600px); // for Edge
    margin: {
        top: $navbar-item-size-height;
        left: 300px;
        right: 300px;
        bottom: 62px;
    }

    padding: 20px 69px;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .content {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}
