.main {}

.content {
    margin: {
        top: 64px;
        left: 360px;
        bottom: 62px;
    }

    padding: {
        top: 20px;
        right: 360px;
        left: 48px;
    }

    &__wrapper {
        padding: 10px 0;
    }
}
