{
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "indentation": [4, {
            "message": "4 spaces must use! :P"
        }],
        "max-empty-lines": 3,
        "max-line-length": 120,
        "no-duplicate-selectors": true,
        "no-descending-specificity": true,
        "rule-empty-line-before": ["always", {
            "ignore": ["after-comment", "first-nested"]
        }],
        "selector-type-case": "lower",
        "max-nesting-depth": 4,
        "number-leading-zero": ["always", {
            "message": "zero before dot"
        }]
    },
    "ignoreFiles": [
        "packages/mosaic/design-tokens/pt-2022/*.scss",
        "packages/mosaic/design-tokens/pt-2022/*.css",
        "packages/mosaic/design-tokens/legacy-2017/*.scss",
        "packages/mosaic/design-tokens/legacy-2017/*.css",

        "packages/docs/src/styles/default-theme/*.scss",
        "packages/docs/src/styles/default-theme/*.css",
        "packages/docs/src/styles/green-theme/*.scss",
        "packages/docs/src/styles/green-theme/*.css",
        "packages/docs/src/styles/red-theme/*.scss",
        "packages/docs/src/styles/red-theme/*.css",
        "packages/docs/src/styles/yellow-theme/*.scss",
        "packages/docs/src/styles/yellow-theme/*.css",
        "packages/mosaic-moment-adapter/coverage/**/*.css",
        "packages/mosaic-luxon-adapter/coverage/**/*.css",
        "packages/mosaic/coverage/**/*.css"
    ]
}
