{
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "indentation": [4, {
            "message": "4 spaces must use! :P"
        }],
        "max-empty-lines": 3,
        "max-line-length": 120,
        "no-duplicate-selectors": true,
        "no-descending-specificity": true,
        "rule-empty-line-before": ["always", {
            "ignore": ["after-comment", "first-nested"]
        }],
        "selector-type-case": "lower",
        "max-nesting-depth": 4,
        "number-leading-zero": ["always", {
            "message": "zero before dot"
        }]
    },
    "ignoreFiles": [
        "packages/mosaic/design-tokens/_palette.scss",
        "packages/mosaic/design-tokens/_variables.scss",
        "packages/mosaic/design-tokens/tokens.js",
        "packages/mosaic/design-tokens/css-tokens.css"
    ]
}
