@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../lib/core/theming/prebuilt/default-theme';
//@import '../../lib/core/theming/prebuilt/dark-theme';


mc-card {
    margin-right: 10px;
}

.line {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.mc-upload-to-cloud_24 {
    font-size: 32px;
}

.simple-content {
    padding: 8px;
}
