@import '../design-tokens/pt-2022/tokens';


.mc-toggle {
    display: inline-block;

    .mc-toggle-layout {
        cursor: inherit;
        align-items: baseline;
        vertical-align: middle;
        display: inline-flex;
        white-space: nowrap;
    }

    .mc-toggle-bar {
        position: relative;

        border: {
            width: 1px;
            style: solid;
        }

        &.mc-toggle-label-position-left {
            order: 1;
        }
    }

    .mc-toggle-bar-container {
        position: relative;
    }
}

.mc-toggle__container {
    display: flex;
    align-items: center;
    position: relative;

    &.left {
        flex-direction: row-reverse;
    }
}

.mc-toggle__content {
    &.left {
        margin-right: var(--mc-toggle-size-label-margin, $toggle-size-label-margin);
    }

    &.right {
        margin-left: var(--mc-toggle-size-label-margin, $toggle-size-label-margin);
    }
}

.mc-toggle__circle {
    position: absolute;

    border: {
        width: 1px;
        style: solid;
        radius: 100%;
    }

    margin-top: -1px;
    margin-left: -1px;
    transform: translateX(-1px); // due to EDGE animation features
}

.mc-toggle__overlay {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1;
}

.mc-toggle:not(.mc-toggle_small) {
    .mc-toggle-bar {
        height: var(--mc-toggle-size-height, $toggle-size-height);
        width: var(--mc-toggle-size-width, $toggle-size-width);
        border-radius: var(--mc-toggle-size-border-radius, $toggle-size-border-radius);
    }

    .mc-toggle__overlay {
        border-radius: var(--mc-toggle-size-border-radius, $toggle-size-border-radius);
        height: var(--mc-toggle-size-height, $toggle-size-height);
        width: var(--mc-toggle-size-width, $toggle-size-width);
    }

    .mc-toggle__circle {
        height: var(--mc-toggle-size-height, $toggle-size-height);
        width: var(--mc-toggle-size-height, $toggle-size-height);
    }
}

.mc-toggle.mc-toggle_small {
    .mc-toggle-bar {
        height: var(--mc-toggle-small-size-height, $toggle-small-size-height);
        width: var(--mc-toggle-small-size-width, $toggle-small-size-width);
        border-radius: var(--mc-toggle-small-size-border-radius, $toggle-small-size-border-radius);
    }

    .mc-toggle__overlay {
        border-radius: var(--mc-toggle-small-size-border-radius, $toggle-small-size-border-radius);
        height: var(--mc-toggle-small-size-height, $toggle-small-size-height);
        width: var(--mc-toggle-small-size-width, $toggle-small-size-width);
    }

    .mc-toggle__circle {
        height: var(--mc-toggle-small-size-height, $toggle-small-size-height);
        width: var(--mc-toggle-small-size-height, $toggle-small-size-height);
    }
}

.mc-toggle:not(.mc-disabled) {
    cursor: pointer;
}
