@mixin box-shadow ($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

.anchors-menu {
    position: fixed;
    top: 64px;
    width: 350px;
    right: 0;
    bottom: 0;

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    &__list-element {
        list-style-type: none;
        padding: 6px 16px;
        line-height: 20px;
        font-size: 15px;
        color: #2f2f33;

        &:hover { @include box-shadow( inset 3px 0 0 rgba(140,148,158,0.2) ); }

        &_active, &_active:hover { @include box-shadow( inset 3px 0 0 #2f80ed ); }
    }
}

