@import '../../mosaic/core/visual/prebuilt/default-visual';

body {
    margin: 0;
    background-color: ghostwhite;
}

app {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.panel-container {
    padding: 16px;
}

.title {
    margin: 0;
}

.buttons-container {
    margin-left: auto;
    justify-self: flex-end;
}

.footer-button {
    margin-left: 16px!important;
}

.list {
    margin-top: 16px;
}

.list__short {
    width: 400px;
}

.narwhals__action {
    margin-left: 8px!important;
}

.narwhals__panel {
    flex-grow: 1;
}

.narwhals__footer {
    justify-content: space-between;
}

.narwhals__content {
    display: flex!important;
    flex-grow: 1;
}

.narwhals__left {
    flex-shrink: 0;
}

.narwhals__main {
    flex-grow: 1;
    margin-left: 16px;
    text-align: justify;
}
