@import "../core/theming/theming";


@mixin mc-progress-spinner-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    .mc-progress-spinner {
        &.mc-primary .mc-progress-spinner__circle {
            stroke: mc-color($primary);
        }

        &.mc-second .mc-progress-spinner__circle {
            stroke: mc-color($second);
        }

        &.mc-error .mc-progress-spinner__circle {
            stroke: mc-color($error);
        }
    }
}
