@import '../design-tokens/index';


@mixin mc-progress-spinner-theme($theme) {
    .mc-progress-spinner {
        &.mc-primary .mc-progress-spinner__circle {
            stroke: $color-primary-default;
        }

        &.mc-second .mc-progress-spinner__circle {
            stroke: $color-second-default;
        }

        &.mc-error .mc-progress-spinner__circle {
            stroke: $color-error-default;
        }
    }
}
