@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/functions/_timing.scss';


@keyframes mc-progress-spinner-indeterminate {
    100% {
        transform: rotateZ(270deg);
    }
}

.mc-progress-spinner {
    display: inline-block;
    width: var(--mc-progress-spinner-size-size, $progress-spinner-size-size);
    height: var(--mc-progress-spinner-size-size, $progress-spinner-size-size);
    overflow: hidden;

    &__circle {
        fill: none;
        stroke: black;
        stroke-dasharray: 273%;
        stroke-width: 13%;
        transition: stroke-dashoffset 0.3s;
        transform-origin: center center;
    }

    &__inner {
        width: 100%;
        height: 100%;
        transform: rotateZ(-90deg);

        &--indeterminate {
            animation: mc-progress-spinner-indeterminate 1.5s $ease-in-out-quad infinite;

            // TODO: rework this place
            .mc-progress-spinner__circle {
                stroke-dashoffset: 80%;
            }
        }
    }

    &__svg {
        width: 100%;
        height: 100%;
    }
}
