@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';
@import '../../lib/core/theming/prebuilt/default-theme';
@import '../../lib/core/visual/prebuilt/default-visual';

.horizontal-block {
    height: 100px;
    border: 1px solid black;
}

.vertical-block {
    height: 300px;
    border: 1px solid black;
}

.min-width-500 {
    min-width: 30%;
}
