@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';

@import '../core/styles/common/animation';


@mixin mc-popover-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $is-dark: map-get($theme, is-dark);

    $primary-background-color: map-get($background, background);
    $secondary-background-color: if($is-dark, map-get($background, background), map-get($background, button-bg));
    $border-color: if($is-dark, $primary-background-color, map-get($foreground, disabled));

    .mc-popover {
        border-color: $border-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .mc-popover__container {
        color: map-get($foreground, text);
        background-color: $primary-background-color;
    }

    .mc-popover__header {
        border-bottom-color: map-get($foreground, divider);
    }

    .mc-popover__header, .mc-popover__content {
        background-color: $primary-background-color;
    }

    .mc-popover__footer {
        background-color: $secondary-background-color;
        border-top-color: if($is-dark, map-get($foreground, divider), $secondary-background-color);
    }

    .mc-popover .mc-popover__arrow {
        border-color: $border-color;
    }

    .mc-popover_placement-top .mc-popover__arrow,
    .mc-popover_placement-top-left .mc-popover__arrow,
    .mc-popover_placement-top-right .mc-popover__arrow{
        background-color: $primary-background-color;
        border-top-color: $primary-background-color;
        border-left-color: $primary-background-color;
    }

    .mc-popover_placement-top .mc-popover__arrow.mc-popover__arrow_with-footer,
    .mc-popover_placement-top-left .mc-popover__arrow.mc-popover__arrow_with-footer,
    .mc-popover_placement-top-right .mc-popover__arrow.mc-popover__arrow_with-footer {
        background-color: $secondary-background-color;
        border-top-color: $secondary-background-color;
        border-left-color: $secondary-background-color;
    }

    .mc-popover_placement-right .mc-popover__arrow,
    .mc-popover_placement-right-top .mc-popover__arrow,
    .mc-popover_placement-right-bottom .mc-popover__arrow{
        background-color: $primary-background-color;
        border-top-color: $primary-background-color;
        border-right-color: $primary-background-color;
    }

    .mc-popover_placement-right-bottom .mc-popover__arrow.mc-popover__arrow_with-footer {
        background-color: $secondary-background-color;
        border-top-color: $secondary-background-color;
        border-right-color: $secondary-background-color;
    }

    .mc-popover_placement-left .mc-popover__arrow,
    .mc-popover_placement-left-top .mc-popover__arrow,
    .mc-popover_placement-left-bottom .mc-popover__arrow {
        background-color: $primary-background-color;
        border-bottom-color: $primary-background-color;
        border-left-color: $primary-background-color;
    }

    .mc-popover_placement-left-bottom .mc-popover__arrow.mc-popover__arrow_with-footer {
        background-color: $secondary-background-color;
        border-bottom-color: $secondary-background-color;
        border-left-color: $secondary-background-color;
    }

    .mc-popover_placement-bottom .mc-popover__arrow,
    .mc-popover_placement-bottom-left .mc-popover__arrow,
    .mc-popover_placement-bottom-right .mc-popover__arrow,
    .mc-popover_placement-bottom .mc-popover__arrow.mc-popover__arrow_with-footer,
    .mc-popover_placement-bottom-left .mc-popover__arrow.mc-popover__arrow_with-footer,
    .mc-popover_placement-bottom-right .mc-popover__arrow.mc-popover__arrow_with-footer{
        background-color: $primary-background-color;
        border-right-color: $primary-background-color;
        border-bottom-color: $primary-background-color;
    }
}

@mixin mc-popover-typography($config) {
    .mc-popover__content,
    .mc-popover__footer {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-popover__header {
        @include mc-typography-level-to-styles($config, subheading);
    }
}

