@import '../design-tokens/tokens';
@import '../core/styles/variables';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';
@import '../core/styles/common/animation';
@import '../core/styles/common/overlay';
@import '../core/pop-up/pop-up';


.mc-popover {
    position: relative;

    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    border-width: 1px;
    border-style: solid;

    box-sizing: border-box;

    z-index: $zindex-popover;

    list-style: none;
    white-space: pre-line;

    &.mc-popover_small {
        max-width: var(--mc-popover-size-small-width, $popover-size-small-width);
    }

    &.mc-popover_normal {
        max-width: var(--mc-popover-size-normal-width, $popover-size-normal-width);
    }

    &.mc-popover_large {
        max-width: var(--mc-popover-size-large-width, $popover-size-large-width);
    }

    $popover-distance: calc(var(--mc-popover-size-trigger-margin, #{$popover-size-trigger-margin}));

    @include popUpMargins(mc-popover, $popover-distance);
}

.mc-popover__container {
    display: flex;
    flex-direction: column;

    max-height: var(--mc-popover-size-max-height, $popover-size-max-height);
    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    overflow: hidden;
}

.mc-popover__header {
    height: var(--mc-popover-header-size-height, $popover-header-size-height);

    padding: var(--mc-popover-header-size-padding, $popover-header-size-padding);

    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mc-popover__content {
    overflow: hidden;

    padding: var(--mc-popover-size-padding, $popover-size-padding);

    &.mc-popover__content_padding_bottom {
        padding-bottom: calc(
            var(--mc-popover-size-padding, $popover-size-padding) +
            var(--mc-popover-footer-size-margin-top, $popover-footer-size-margin-top)
        );
    }
}

.mc-popover__footer {
    box-sizing: border-box;

    height: var(--mc-popover-footer-size-height, $popover-footer-size-height);

    padding: var(--mc-popover-footer-size-padding, $popover-footer-size-padding);

    border-top-width: 1px;
    border-top-style: solid;
}

.mc-popover__arrow {
    position: absolute;

    z-index: -1;

    width: var(--mc-popover-size-arrow-size, #{$popover-size-arrow-size});
    height: var(--mc-popover-size-arrow-size, #{$popover-size-arrow-size});

    border: solid 1px;

    transform: rotate(45deg);
}

$arrow-offset: calc((var(--mc-popover-size-arrow-size, #{$popover-size-arrow-size - 1}) / -2));
$arrow-padding: calc(18px - var(--mc-popover-size-trigger-margin, #{$popover-size-trigger-margin}));

@include popUpArrowPositions(mc-popover, $arrow-offset, $arrow-padding);

.mc-popover-confirm .mc-popover__content {
    padding: 24px 16px 16px;

    button {
        margin-top: 16px;
        display: block;
        margin-left: auto;
    }
}
