@import '../design-tokens/tokens';
@import '../core/styles/variables';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';
@import '../core/styles/common/animation';
@import '../core/styles/common/overlay';
@import '../core/pop-up/pop-up';


.mc-popover {
    position: relative;

    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    border-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-style: solid;

    box-sizing: border-box;

    z-index: $zindex-popover;

    list-style: none;
    white-space: pre-line;

    &.mc-popover_small {
        max-width: var(--mc-popover-size-small-width, $popover-size-small-width);
    }

    &.mc-popover_normal {
        max-width: var(--mc-popover-size-normal-width, $popover-size-normal-width);
    }

    &.mc-popover_large {
        max-width: var(--mc-popover-size-large-width, $popover-size-large-width);
    }

    $popover-distance: calc(var(--mc-popover-size-arrow-width, #{$popover-size-trigger-margin}));

    @include popUpMargins(mc-popover, $popover-distance);
}

.mc-popover__container {
    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    overflow: hidden;
}

.mc-popover__header {
    padding: var(--mc-popover-header-size-padding, $popover-header-size-padding);
    border-bottom-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-bottom-style: solid;
}

.mc-popover__content {
    padding: var(--mc-popover-size-padding, $popover-size-padding);
}

.mc-popover__footer {
    margin-top: var(--mc-popover-footer-size-margin-top, $popover-footer-size-margin-top);
    padding: var(--mc-popover-footer-size-padding, $popover-footer-size-padding);
    border-top-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-top-style: solid;
}

.mc-popover__arrow {
    position: absolute;

    z-index: -1;
    width: 14px;
    height: 14px;
    border: solid 1px;
    transform: rotate(45deg);
}

$arrow-offset: calc((var(--mc-popover-size-arrow-width, #{$popover-size-arrow-size - 1}) / -2));
$arrow-padding: calc(18px - var(--mc-popover-size-arrow-width, #{$popover-size-trigger-margin}));

@include popUpArrowPositions(mc-popover, $arrow-offset, $arrow-padding);
