@import '../design-tokens/tokens';
@import '../core/styles/variables';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';
@import '../core/styles/common/animation';
@import '../core/styles/common/overlay';


$popover-distance: calc(var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}) * 2);
$popover-arrow-distance: calc(-1 * (var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}) + 2px));

.mc-popover {
    position: relative;

    display: block;

    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    border-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-style: solid;

    box-sizing: border-box;

    visibility: visible;

    z-index: $zindex-popover;

    list-style: none;
    white-space: pre-line;

    &.mc-popover_small {
        max-width: var(--mc-popover-size-small-width, $popover-size-small-width);
    }

    &.mc-popover_normal {
        max-width: var(--mc-popover-size-normal-width, $popover-size-normal-width);
    }

    &.mc-popover_large {
        max-width: var(--mc-popover-size-large-width, $popover-size-large-width);
    }
}

.mc-popover__container {
    border-radius: var(--mc-popover-size-border-radius, $popover-size-border-radius);
    overflow: hidden;
}

.mc-popover__header {
    padding: var(--mc-popover-header-size-padding, $popover-header-size-padding);
    border-bottom-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-bottom-style: solid;
}

.mc-popover__content {
    padding: var(--mc-popover-size-padding, $popover-size-padding);
}

.mc-popover__footer {
    margin-top: var(--mc-popover-footer-size-margin-top, $popover-footer-size-margin-top);
    padding: var(--mc-popover-footer-size-padding, $popover-footer-size-padding);
    border-top-width: var(--mc-popover-size-border-width, $popover-size-border-width);
    border-top-style: solid;
}

.mc-popover {
    &.mc-popover_placement-top,
    &.mc-popover_placement-top-left,
    &.mc-popover_placement-top-right {
        margin-bottom: $popover-distance;
    }

    &.mc-popover_placement-right,
    &.mc-popover_placement-right-top,
    &.mc-popover_placement-right-bottom {
        margin-left: $popover-distance;
    }

    &.mc-popover_placement-bottom,
    &.mc-popover_placement-bottom-left,
    &.mc-popover_placement-bottom-right {
        margin-top: $popover-distance;
    }

    &.mc-popover_placement-left,
    &.mc-popover_placement-left-top,
    &.mc-popover_placement-left-bottom {
        margin-right: $popover-distance;
    }
}

.mc-popover__arrow {
    position: absolute;

    z-index: -1;
    width: 14px;
    height: 14px;
    border: solid 1px;
    transform: rotate(45deg);
}

.mc-popover_placement-top .mc-popover__arrow {
    bottom: $popover-arrow-distance;
    left: 50%;
    margin-left: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-top-left .mc-popover__arrow {
    bottom: $popover-arrow-distance;
    left: 20px;
    margin-left: 0;
}

.mc-popover_placement-top-right .mc-popover__arrow {
    bottom: $popover-arrow-distance;
    right: 20px;
    margin-left: 0;
}

.mc-popover_placement-right .mc-popover__arrow {
    left: $popover-arrow-distance;
    top: 50%;
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-right-top .mc-popover__arrow {
    left: $popover-arrow-distance;
    top: 18px;
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-right-bottom .mc-popover__arrow {
    left: $popover-arrow-distance;
    bottom: 14px; // same as top placement = element.style.top + element.style.margin-top = 20px -6px
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-left .mc-popover__arrow {
    right: $popover-arrow-distance;
    top: 50%;
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-left-top .mc-popover__arrow {
    right: $popover-arrow-distance;
    top: 18px;
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-left-bottom .mc-popover__arrow {
    right: $popover-arrow-distance;
    bottom: 14px; // same as top placement = element.style.top + element.style.margin-top = 20px -6px
    margin-top: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-bottom .mc-popover__arrow {
    top: $popover-arrow-distance;
    left: 50%;
    margin-left: calc(-1 * var(--mc-popover-size-arrow-width, #{$popover-size-arrow-width}));
}

.mc-popover_placement-bottom-left .mc-popover__arrow {
    top: $popover-arrow-distance;
    left: 20px;
    margin-left: 0;
}

.mc-popover_placement-bottom-right .mc-popover__arrow {
    top: $popover-arrow-distance;
    right: 20px;
    margin-left: 0;
}
