
.dev-container {
    width: 300px;
    height: 140px;

    border: 1px solid red;

    padding: 24px;
}

.custom-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #B3B3B3;
}
