@import '../design-tokens/index';
@import '../core/styles/typography/typography-utils';


@mixin mc-icon-theme($theme) {
    $primary-color: map-get($color-primary-palette, 400);

    // Дефолтные серые иконки default-icon: лупа в поле, иконки дропдаунов v, все иконки вне полей.
    .mc-icon:not(.mc-icon_light) {
        color: $color-foreground-icon;

        &.mc-primary {
            color: mix($color-foreground-icon, $primary-color, 30%);

            &[disabled],
            &.mc-disabled {
                color: $primary-color;
            }
        }

        &.mc-second {
            color: $color-foreground-text-less-contrast;

            &[disabled],
            &.mc-disabled {
                color: $color-second-default;
            }
        }

        &.mc-error {
            color: mix($color-foreground-icon, $color-error-default, 30%);

            &[disabled],
            &.mc-disabled {
                color: $color-error-default;
            }
        }

        &:not(.mc-primary):not(.mc-second):not(.mc-error) {
            &[disabled],
            &.mc-disabled {
                color: $color-second-default;

                cursor: default;
            }
        }
    }

    // Облегченные серые иконки less-contrast-icon нужны тогда, когда действие, которое они делают не дефолтное и
    // не самое важное. Не используются вне инпутов или селектов.
    .mc-icon.mc-icon_light {
        &.mc-primary {
            color: $primary-color;

            &:hover {
                color: mix($color-foreground-text, $primary-color);
            }
        }

        &.mc-second {
            color: $color-second-default;

            &:hover {
                color: mix($color-foreground-text, $color-second-default, 90%);
            }
        }

        &.mc-error {
            color: $color-error-default;

            &:hover {
                color: mix($color-foreground-text, $color-error-default);
            }
        }
    }
}

@mixin mc-icon-typography($config) {
    .mc-icon {
        font: {
            size:   mc-font-size($config, button);
            family: mc-font-family($config, button);
            weight: mc-font-weight($config, button);
        }
    }
}

