$light-color-scheme-primary-palette: (
40: #eff6ff,
60: #e7f1ff,
100: #c8dfff,
200: #a2c7fe,
300: #5697ff,
400: #4187ff,
500: #0374eb,
560: #0059b8,
600: #014b9d,
700: #023c7f,
800: #193060,
900: #00224f,
A100: rgba(3, 116, 235, 0.15),
A200: rgba(3, 116, 235, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$light-color-scheme-second-palette: (
40: #f2f5f9,
60: #ebeef2,
100: #d7dee4,
200: #bdc7d1,
300: #8c99a5,
400: #7f8c98,
500: #6d7a86,
560: #515e69,
600: #434f5a,
700: #333f4a,
800: #27333e,
900: #19252f,
A40: rgba(25, 37, 47, 0.04),
A60: rgba(25, 37, 47, 0.06),
A100: rgba(25, 37, 47, 0.1),
A200: rgba(25, 37, 47, 0.2),
A300: rgba(25, 37, 47, 0.3),
A500: rgba(25, 37, 47, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$light-color-scheme-error-palette: (
40: #fff3f3,
60: #ffeaea,
100: #fbd6d6,
200: #fcb2b4,
300: #ee6f79,
400: #ea5868,
500: #db3c55,
560: #b9023a,
600: #9e0130,
700: #800025,
800: #621420,
900: #500013,
A100: rgba(219, 60, 85, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$light-color-scheme-info-palette: (
40: #ebf8fd,
60: #d9f3fd,
100: #afe6f9,
200: #6ed3f2,
300: #18a5c5,
400: #2099b7,
500: #218ca8,
560: #0c6579,
600: #0c5567,
700: #084453,
800: #143641,
900: #022731,
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$light-color-scheme-success-palette: (
40: #ecf9ef,
60: #d2f7db,
100: #b6ebc3,
200: #8ed5a1,
300: #4ba96c,
400: #319d5c,
500: #028b49,
560: #016b37,
600: #015a2d,
700: #004823,
800: #103920,
900: #002a12,
A100: rgba(2, 139, 73, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$light-color-scheme-warning-palette: (
40: #fff4dd,
60: #ffecce,
100: #fcdda6,
200: #f5c23c,
300: #e19f12,
400: #c78816,
500: #a26e0c,
560: #7e5406,
600: #6b4804,
700: #543803,
800: #3e3015,
900: #312001,
A100: rgba(255, 159, 18, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-primary-palette: (
40: #eff6ff,
60: #e7f1ff,
100: #c8dfff,
200: #a2c7fe,
300: #5697ff,
400: #4187ff,
500: #0374eb,
560: #0059b8,
600: #014b9d,
700: #023c7f,
800: #193060,
900: #00224f,
A100: rgba(3, 116, 235, 0.15),
A200: rgba(3, 116, 235, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$dark-color-scheme-second-palette: (
40: #f2f5f9,
60: #ebeef2,
100: #d7dee4,
200: #bdc7d1,
300: #8c99a5,
400: #7f8c98,
500: #6d7a86,
560: #515e69,
600: #434f5a,
700: #333f4a,
800: #27333e,
900: #19252f,
A40: rgba(25, 37, 47, 0.04),
A60: rgba(25, 37, 47, 0.06),
A100: rgba(25, 37, 47, 0.1),
A200: rgba(25, 37, 47, 0.2),
A300: rgba(25, 37, 47, 0.3),
A500: rgba(25, 37, 47, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$dark-color-scheme-error-palette: (
40: #fff3f3,
60: #ffeaea,
100: #fbd6d6,
200: #fcb2b4,
300: #ee6f79,
400: #ea5868,
500: #db3c55,
560: #b9023a,
600: #9e0130,
700: #800025,
800: #621420,
900: #500013,
A100: rgba(219, 60, 85, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-info-palette: (
40: #ebf8fd,
60: #d9f3fd,
100: #afe6f9,
200: #6ed3f2,
300: #18a5c5,
400: #2099b7,
500: #218ca8,
560: #0c6579,
600: #0c5567,
700: #084453,
800: #143641,
900: #022731,
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$dark-color-scheme-success-palette: (
40: #ecf9ef,
60: #d2f7db,
100: #b6ebc3,
200: #8ed5a1,
300: #4ba96c,
400: #319d5c,
500: #028b49,
560: #016b37,
600: #015a2d,
700: #004823,
800: #103920,
900: #002a12,
A100: rgba(2, 139, 73, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$dark-color-scheme-warning-palette: (
40: #fff4dd,
60: #ffecce,
100: #fcdda6,
200: #f5c23c,
300: #e19f12,
400: #c78816,
500: #a26e0c,
560: #7e5406,
600: #6b4804,
700: #543803,
800: #3e3015,
900: #312001,
A100: rgba(255, 159, 18, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-blue-palette: (
40: #eff6ff,
60: #e7f1ff,
100: #c8dfff,
200: #a2c7fe,
300: #5697ff,
400: #4187ff,
500: #0374eb,
560: #0059b8,
600: #014b9d,
700: #023c7f,
800: #193060,
900: #00224f,
A100: rgba(3, 116, 235, 0.15),
A200: rgba(3, 116, 235, 0.3),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$color-green-palette: (
40: #ecf9ef,
60: #d2f7db,
100: #b6ebc3,
200: #8ed5a1,
300: #4ba96c,
400: #319d5c,
500: #028b49,
560: #016b37,
600: #015a2d,
700: #004823,
800: #103920,
900: #002a12,
A100: rgba(2, 139, 73, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-red-palette: (
40: #fff3f3,
60: #ffeaea,
100: #fbd6d6,
200: #fcb2b4,
300: #ee6f79,
400: #ea5868,
500: #db3c55,
560: #b9023a,
600: #9e0130,
700: #800025,
800: #621420,
900: #500013,
A100: rgba(219, 60, 85, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-grey-palette: (
40: #f2f5f9,
60: #ebeef2,
100: #d7dee4,
200: #bdc7d1,
300: #8c99a5,
400: #7f8c98,
500: #6d7a86,
560: #515e69,
600: #434f5a,
700: #333f4a,
800: #27333e,
900: #19252f,
A40: rgba(25, 37, 47, 0.04),
A60: rgba(25, 37, 47, 0.06),
A100: rgba(25, 37, 47, 0.1),
A200: rgba(25, 37, 47, 0.2),
A300: rgba(25, 37, 47, 0.3),
A500: rgba(25, 37, 47, 0.5),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,

)
);

$color-yellow-palette: (
40: #fff4dd,
60: #ffecce,
100: #fcdda6,
200: #f5c23c,
300: #e19f12,
400: #c78816,
500: #a26e0c,
560: #7e5406,
600: #6b4804,
700: #543803,
800: #3e3015,
900: #312001,
A100: rgba(255, 159, 18, 0.15),
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,

)
);

$color-teal-palette: (
40: #ebf8fd,
60: #d9f3fd,
100: #afe6f9,
200: #6ed3f2,
300: #18a5c5,
400: #2099b7,
500: #218ca8,
560: #0c6579,
600: #0c5567,
700: #084453,
800: #143641,
900: #022731,
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);

$color-purple-palette: (
40: #fff3fb,
60: #ffe9f8,
100: #f2d4e8,
200: #e4bbd7,
300: #c692b5,
400: #bb78a7,
500: #a65d92,
560: #864775,
600: #753865,
700: #612853,
800: #48273f,
900: #36172e,
contrast: (
40: #4D4D4D,
60: #4D4D4D,
100: #4D4D4D,
200: #4D4D4D,
300: #4D4D4D,
400: white,
500: white,
560: white,
600: white,
700: white,
800: white,
A100: #4D4D4D,
A200: white,

)
);
