@import '../../lib/core/theming/prebuilt/dark-theme';


.example-viewport {
    height: 400px;
    width: 400px;
    border: 1px solid;
    margin: 8px;
}

.example-item {
    height: 50px;
    margin: 0 8px;
}
