
mc-vertical-navbar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 1px 0 2px 1px grey;

    .mc-vertical-navbar__toggle-button {
        visibility: hidden;
        width: 24px !important;
    }
}

[mc-vertical-navbar-item]:first-of-type {
    margin-top: 64px;
}

.content {
    margin-left: 64px;
}


