@use '../../../node_modules/@angular/cdk/overlay/index' as overlay;

@import 'styles/common/animation';
@import 'styles/common/button';
@import 'styles/common/clearfix';
@import 'styles/common/groups';
@import 'styles/common/input';
@import 'styles/common/layout';
@import 'styles/common/list';
@import 'styles/common/overlay';
@import 'styles/common/popup';
@import 'styles/common/rtl';
@import 'styles/common/scrollbar';
@import 'styles/common/size';
@import 'styles/common/vendor-prefixes';

@import 'forms/forms';

@import '../../cdk/a11y/a11y';

@import './selection/pseudo-checkbox/pseudo-checkbox-theme';

@import 'styles/typography/all-typography';


// Mixin that renders all of the core styles that are not theme-dependent.
@mixin mc-core($typography-config: null) {
    @include mosaic-typography($typography-config);
    @include cdk-a11y();
    @include overlay.overlay();
}

// Mixin that renders all of the core styles that depend on the theme.
@mixin mc-core-theme($theme) {
    @include mc-pseudo-checkbox-theme($theme);

    .mc-app-background {
        $background: map-get($theme, background);
        $foreground: map-get($theme, foreground);

        background-color: mc-color($background, background);
        color: mc-color($foreground, text);
    }

    .mc-theme-loaded-marker {
        display: none;
    }

    .mc-error {
        color: mc-color(map-get($theme, error), 500);
    }

    .mc-success {
        color: mc-color(map-get($theme, success), 500);
    }
}
