@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../mosaic/core/theming/prebuilt/default-theme';
//@import '../../mosaic/core/theming/prebuilt/dark-theme';


.mc-button-group_vertical {
    width: 200px;
}
