version: 2

package_lock_key: &package_lock_key
  key: mosaic-cache-{{ checksum "package.json" }}

post_checkout: &post_checkout
  post: git pull --ff-only origin "refs/pull/${CI_PULL_REQUEST//*pull\//}/merge"

defaults: &defaults
  working_directory: ~/mosaic
  docker:
    - image: ptsecurity/node-container:0.0.4

jobs:
  install:
    <<: *defaults
    steps:
      - checkout: *post_checkout
      - restore_cache: *package_lock_key
      - run: npm install --no-save
      - save_cache:
          <<: *package_lock_key
          paths:
            - node_modules

  build_mosaic:
    <<: *defaults
    steps:
      - checkout: *post_checkout
      - restore_cache: *package_lock_key
      - run: npm run build:lib

  build_cdk:
      <<: *defaults
      steps:
        - checkout: *post_checkout
        - restore_cache: *package_lock_key
        - run: npm run build:cdk

  test_unit:
    <<: *defaults
    steps:
      - checkout: *post_checkout
      - restore_cache: *package_lock_key
      - run: npm run test:unit

  snapshot_publish:
    <<: *defaults
    steps:
      - add_ssh_keys:
          fingerprints:
            - "c3:de:eb:9c:82:70:a8:23:f3:4e:92:b8:07:d2:22:df"
      - checkout: *post_checkout
      - restore_cache: *package_lock_key
      - run: npm run build:cdk
      - run: npm run build:lib
      - run: ./scripts/deploy/publish-artifacts.sh


workflows:
  version: 2
  default_workflow:
    jobs:
      - install
      - build_cdk:
          requires:
            - install
      - build_mosaic:
          requires:
            - install
      - test_unit:
          requires:
            - build_cdk
            - build_mosaic
      - snapshot_publish:
          requires:
            - test_unit
            - build_cdk
            - build_mosaic
          filters:
              branches:
                only:
                  - master
