# To validate changes, use an online parser, eg.
# http://yaml-online-parser.appspot.com/

var_3: &job_defaults
    working_directory: ~/mosaic
    docker:
        - image: ptsecurity/node-container:0.1.0

var_2: &cache_key mosaic-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}-0.3.0

# Restores the cache that could be available for the current Yarn lock file.
var_5: &restore_cache
    restore_cache:
        key: *cache_key

# After checkout, rebase on top of master.
# Similar to travis behavior, but not quite the same.
# See https://discuss.circleci.com/t/1662
var_4: &checkout_code
    checkout:
        # After checkout, rebase on top of master. By default, PRs are not rebased on top of master,
        # which we want. See https://discuss.circleci.com/t/1662
        post: git pull --ff-only origin "refs/pull/${CI_PULL_REQUEST//*pull\//}/merge"

var_6: &save_cache
    save_cache:
        key: *cache_key
        paths:
            - "node_modules"

var_7: &yarn_install
    run: yarn install --frozen-lockfile --non-interactive

var_8: &cdk_release_cache cdk-cache-{{ .Branch }}-{{ .Revision }}

var_9: &mosaic_release_cache mosaic-cache-{{ .Branch }}-{{ .Revision }}

var_10: &mosaic-date-adapter_release_cache mosaic-date-adapter-cache-{{ .Branch }}-{{ .Revision }}

attach_options: &attach_options
    at: .

version: 2
jobs:
    install:
        <<: *job_defaults
        steps:
            - *checkout_code
            - *restore_cache
            - *yarn_install
            - persist_to_workspace:
                  root: .
                  paths:
                      - ./*
            - *save_cache

    validate_licenses:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - run: yarn run valid:lic

    build_mosaic:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - run: yarn run build:lib
            - save_cache:
                key: *mosaic_release_cache
                paths:
                    - "./dist/releases/mosaic/**/*"
    build_cdk:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - run: yarn run build:cdk
            - save_cache:
                key: *cdk_release_cache
                paths:
                    - "./dist/releases/cdk/**/*"

    build_mosaic-moment-adapter:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - run: yarn run build:mosaic-moment-adapter
            - save_cache:
                key: *mosaic-date-adapter_release_cache
                paths:
                    - "./dist/releases/mosaic-moment-adapter/**/*"

    build_dev-app_aot:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - restore_cache:
                key: *cdk_release_cache
            - restore_cache:
                key: *mosaic_release_cache
            - restore_cache:
                key: *mosaic-date-adapter_release_cache
            - run: yarn run ci:aot

    test_unit:
        <<: *job_defaults
        steps:
            - attach_workspace: *attach_options
            - run:
                  command: yarn run test:unit
                  environment:
                      JUNIT_REPORT_PATH: ./junit/
                      JUNIT_REPORT_NAME: test-results.xml
                  when: always
            - store_test_results:
                  path: ./junit
            - store_artifacts:
                  path: ./junit

    snapshot_publish:
        <<: *job_defaults
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - "c3:de:eb:9c:82:70:a8:23:f3:4e:92:b8:07:d2:22:df"
            - *checkout_code
            - *restore_cache
            - run: yarn run build:cdk
            - run: yarn run build:lib
            - run: yarn run build:mosaic-moment-adapter
            - run: ./scripts/deploy/publish-artifacts.sh

    docs_publish:
        <<: *job_defaults
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - "c3:de:eb:9c:82:70:a8:23:f3:4e:92:b8:07:d2:22:df"
            - *checkout_code
            - *restore_cache
            - run: ./scripts/deploy/publish-docs.sh


workflows:
    version: 2
    default_workflow:
        jobs:
            - install
            - validate_licenses:
                  requires:
                      - install
            - build_cdk:
                  requires:
                      - install
            - build_mosaic-moment-adapter:
                  requires:
                      - install
            - build_mosaic:
                  requires:
                      - install
            - test_unit:
                  requires:
                      - build_cdk
                      - build_mosaic
                      - build_mosaic-moment-adapter
            - build_dev-app_aot:
                  requires:
                      - test_unit
                      - build_cdk
                      - build_mosaic
                      - build_mosaic-moment-adapter
            - snapshot_publish:
                  requires:
                      - test_unit
                      - build_cdk
                      - build_mosaic
                      - build_mosaic-moment-adapter
                  filters:
                      branches:
                          only:
                              - master
            - docs_publish:
                  requires:
                      - test_unit
                      - build_mosaic
                  filters:
                      branches:
                          only:
                              - master
