default-locale,
en-locale {
    display: block;
}

.number-input {
    margin-top: 32px;
    margin-bottom: 32px;

    max-width: 200px;
}

.common-container {
    padding-left: 16px;
    padding-right: 16px;
}

.light-text-secondary {
    color: #CCC;
}

.row-border {
    padding: 8px;
    border-bottom: 1px solid #CCC;
}
