@import '../design-tokens/pt-2022/tokens';


%mc-textarea-base {
    background: transparent;
    margin: 0;
    border: none;
    outline: none;

    resize: none;
    overflow: auto;

    width: 100%;

    box-sizing: border-box;
    padding: var(--mc-textarea-size-padding, $textarea-size-padding);
}
