$hover-color: #90a3bd;
$text-color: #2f2f33;

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

.nav {
    position: fixed;
    top: 64px;
    bottom: 0;
    z-index: 2;

    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
    width: 360px;

    font-family: Roboto, -apple-system, Arial, sans-serif;
    background-color: #f5f6f9;
    padding: {
        top: 10px;
        bottom: 10px;
    };

    &__wrapper {
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__trigger {
        display: flex;
        justify-content: space-between;
        width: 100%;

        font-size: 17px;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;

        border: none;
        background: none;
        padding: 14px 32px 6px 32px;

        .nav__trigger-icon {
            color: $text-color;
            @include transition( transform 225ms cubic-bezier(0.4,0.0,0.2,1) );

            &_expanded { &_collapsed { transform: rotate(0); } }

            &_collapsed { transform: rotate(-180deg); }
        }

        &:hover { background: fade-out($hover-color, 0.85); }
    }

    &__item {
        line-height: 20px;
        font-size: 15px;
        color: $text-color;
        padding: 6px 32px;

        &.docs-component-viewer-sidenav-item-selected,
        &:hover { background: fade-out($hover-color, 0.85); }

        &:active, &:focus { background: fade-out($hover-color, 0.8); }

        & > a {
            position: relative;
            text-decoration: none;

            &:hover, &:active, &:focus { text-decoration: none; }
        }
    }
}
