@import './typography';
@import '../alerts';
@import '../badges';
@import '../../forms/forms-theme';
@import '../../option/option-theme';
@import '../../option/optgroup-theme';
@import '../../../autocomplete/autocomplete-theme';
@import '../../../button/button-theme';
@import '../../../checkbox/checkbox-theme';
@import '../../../datepicker/datepicker-theme';
@import '../../../dl/dl-theme';
@import '../../../dropdown/dropdown-theme';
@import '../../../form-field/form-field-theme';
@import '../../../input/input-theme';
@import '../../../link/link-theme';
@import '../../../list/list-theme';
@import '../../../modal/modal-theme';
@import '../../../navbar/navbar-theme';
@import '../../../popover/popover-theme';
@import '../../../radio/radio-theme';
@import '../../../select/select-theme';
@import '../../../sidepanel/sidepanel-theme';
@import '../../../tabs/tabs-theme';
@import '../../../tags/tag-theme';
@import '../../../textarea/textarea-theme';
@import '../../../toggle/toggle-theme';
@import '../../../tooltip/tooltip-theme';
@import '../../../tree-select/tree-select-theme';
@import '../../../tree/tree-theme';
@import '../../../table/table-theme';


@mixin mosaic-typography($config: null) {
    @if $config == null {
        $config: mc-typography-config();
    }

    @include mc-base-typography($config);

    @include mc-alert-typography($config);
    @include mc-badge-typography($config);
    @include mc-button-typography($config);
    @include mc-checkbox-typography($config);
    @include mc-datepicker-typography($config);
    @include mc-dropdown-typography($config);
    @include mc-dl-typography($config);
    @include mc-form-field-typography($config);
    @include mc-forms-typography($config);
    @include mc-input-typography($config);
    @include mc-link-typography($config);
    @include mc-list-typography($config);
    @include mc-modal-typography($config);
    @include mc-navbar-typography($config);
    @include mc-option-typography($config);
    @include mc-optgroup-typography($config);
    @include mc-popover-typography($config);
    @include mc-radio-typography($config);
    @include mc-select-typography($config);
    @include mc-sidepanel-typography($config);
    @include mc-tabs-typography($config);
    @include mc-tag-typography($config);
    @include mc-textarea-typography($config);
    @include mc-toggle-typography($config);
    @include mc-tooltip-typography($config);
    @include mc-tree-select-typography($config);
    @include mc-tree-typography($config);
    @include mc-table-typography($config);
}
