@import 'variables';
@import './typography-utils';


@function mc-typography-config(
    $font-family: map-get(map-get($fonts, base), font-family),
    $font-family-mono: map-get(map-get($fonts, monospace), font-family)
) {
    $typography: map-get($mosaic, typography);

    $config: (
        display-1:          map-get($typography, display-1),
        display-2:          map-get($typography, display-2),
        display-3:          map-get($typography, display-3),

        headline:           map-get($typography, headline),
        subheading:         map-get($typography, subheading),
        title:              map-get($typography, title),

        body:               map-get($typography, body),
        body-strong:        map-get($typography, body-strong),
        body-caps:          map-get($typography, body-caps),
        body-mono:          map-get($typography, body-mono),
        body-tabular:       map-get($typography, body-tabular),

        caption:            map-get($typography, caption),
        caption-caps:       map-get($typography, caption-caps),
        caption-mono:       map-get($typography, caption-mono),
        caption-tabular:    map-get($typography, caption-tabular),

        small-text:         map-get($typography, small-text),
        extra-small-text:   map-get($typography, extra-small-text),
        extra-small-text-caps:   map-get($typography, extra-small-text-caps),
        extra-small-text-mono:   map-get($typography, extra-small-text-mono)
    );

    @each $key, $level in $config {
        @if map-get($level, font-family) == null {
            $new-level: map-merge($level, (font-family: $font-family));
            $config: map-merge($config, ($key: $new-level));
        }
    }

    // Add the base font family to the config.
    @return map-merge($config, (font-family: $font-family));
}
