@import 'variables';
@import '../../../design-tokens/pt-2022/tokens';


@function mc-typography-level(
    $font-size,
    $line-height: $font-size,
    $letter-spacing: normal,
    $font-weight: normal,
    $font-family: null,
    $text-transform: null,
    $font-feature-settings: null
) {
    @return (
        font-size: $font-size,
        line-height: $line-height,
        font-weight: $font-weight,
        font-family: $font-family,
        letter-spacing: $letter-spacing,
        text-transform: $text-transform,
        font-feature-settings: $font-feature-settings
    );
}

@function _mc-get-type-value($config, $level, $name) {
    @return map-get(map-get($config, $level), $name);
}

@function mc-font-size($config, $level) {
    @return _mc-get-type-value($config, $level, font-size);
}

@function mc-line-height($config, $level) {
    @return _mc-get-type-value($config, $level, line-height);
}

@function mc-font-weight($config, $level) {
    @return _mc-get-type-value($config, $level, font-weight);
}

@function mc-letter-spacing($config, $level) {
    @return _mc-get-type-value($config, $level, letter-spacing);
}

@function mc-text-transform($config, $level) {
    @return _mc-get-type-value($config, $level, text-transform);
}

@function mc-font-feature-settings($config, $level) {
    @return _mc-get-type-value($config, $level, font-feature-settings);
}

// Gets the font-family from a typography config and removes the quotes around it.
@function mc-font-family($config, $level: null) {
    $font-family: map-get($config, font-family);

    @if $level != null {
        $font-family: _mc-get-type-value($config, $level, font-family);
    }

    // Guard against unquoting non-string values, because it's deprecated.
    @return if(type-of($font-family) == string, unquote($font-family), $font-family);
}

@mixin mc-typography-level-to-styles($config, $level) {
    $font-size: mc-font-size($config, $level);
    $font-weight: mc-font-weight($config, $level);
    $line-height: mc-line-height($config, $level);
    $font-family: mc-font-family($config, $level);
    $text-transform: mc-text-transform($config, $level);
    $font-feature-settings: mc-font-feature-settings($config, $level);

    font: $font-weight #{$font-size}/#{$line-height} $font-family;
    letter-spacing: mc-letter-spacing($config, $level);
    text-transform: mc-text-transform($config, $level);
    font-feature-settings: mc-font-feature-settings($config, $level);
}

@mixin mc-base-typography($config) {
    .mc-display-1 {
        @include mc-typography-level-to-styles($config, display-1);
    }

    .mc-display-2 {
        @include mc-typography-level-to-styles($config, display-2);
    }

    .mc-display-3 {
        @include mc-typography-level-to-styles($config, display-3);
    }

    .mc-headline {
        @include mc-typography-level-to-styles($config, headline);
    }

    .mc-subheading {
        @include mc-typography-level-to-styles($config, subheading);
    }

    .mc-title {
        @include mc-typography-level-to-styles($config, title);
    }

    .mc-body {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-body_strong {
        @include mc-typography-level-to-styles($config, body-strong);
    }

    .mc-body_tabular {
        @include mc-typography-level-to-styles($config, body-tabular);
    }

    .mc-body_caps {
        @include mc-typography-level-to-styles($config, body-caps);
    }

    .mc-body_mono {
        @include mc-typography-level-to-styles($config, body-mono);
    }

    .mc-caption {
        @include mc-typography-level-to-styles($config, caption);
    }

    .mc-caption_caps {
        @include mc-typography-level-to-styles($config, caption-caps);
    }

    .mc-caption_mono {
        @include mc-typography-level-to-styles($config, caption-mono);
    }

    .mc-small-text {
        @include mc-typography-level-to-styles($config, small-text);
    }

    .mc-extra-small-text {
        @include mc-typography-level-to-styles($config, extra-small-text);
    }
}
