@import '../../../design-tokens/pt-2022/tokens';

$typography-font-weight-values: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
) !default;


// TODO add caption-height
$fonts: (
    base: (
        font-family: $font-family-base
    ),
    monospace: (
        font-family: $font-family-monospace
    )
);
