@import '../design-tokens/index';


@mixin mc-button-color(
    $color,
    $border-color,
    $background,
    $icon-color,
    $state-active_border-color,
    $state-active_background
) {
    color: $color;
    border-color: $border-color;
    background: $background;

    .mc-icon {
        color: $icon-color;
    }

    &:active,
    &.mc-active {
        border-color: $state-active_border-color;
        background: $state-active_background;
    }
}

@mixin mc-button-theme($theme) {
    .mc-button-overlay {
        background: transparent;
    }

    .mc-button,
    .mc-icon-button {
        -webkit-font-smoothing: antialiased;

        &.mc-primary {
            @include mc-button-color(
                $button-color-primary-color,
                $button-color-primary-border-color,
                $button-color-primary-background,
                $button-color-primary-icon-color,
                $button-color-primary-active-border-color,
                $button-color-primary-active-background
            );
        }

        &.mc-second {
            @include mc-button-color(
                $button-color-second-color,
                $button-color-second-border-color,
                $button-color-second-background,
                $button-color-second-icon-color,
                $button-color-second-active-border-color,
                $button-color-second-active-background
            );
        }

        &.mc-error {
            @include mc-button-color(
                $button-color-error-color,
                $button-color-error-border-color,
                $button-color-error-background,
                $button-color-error-icon-color,
                $button-color-error-active-border-color,
                $button-color-error-active-background
            );
        }

        &:hover,
        &.mc-hover {
            & .mc-button-overlay {
                background: $color-background-overlay-hovered;
            }
        }

        &:active,
        &.mc-active {
            box-shadow: $button-color-active-shadow;
        }

        &.mc-primary,
        &.mc-second,
        &.mc-error {
            &.cdk-keyboard-focused {
                border-color: $globals-states-focused-color;
                box-shadow: inset 0 0 0 1px $color-background-background, 0 0 0 1px $globals-states-focused-color;
            }
        }

        &.mc-button_transparent {
            border-color: transparent;
            background-color: transparent;

            &:hover,
            &.mc-hover {
                & .mc-button-overlay {
                    background: $color-background-overlay-hovered;
                }
            }

            &:active,
            &.mc-active {
                border-color: transparent;
                background-color: transparent;
                box-shadow: none;

                & .mc-button-overlay {
                    background: $color-background-overlay-active;
                }
            }

            &.mc-disabled,
            &[disabled] {
                border-color: transparent;
            }
        }

        &.mc-disabled,
        &[disabled] {
            opacity: $globals-states-disabled-opacity;
        }
    }
}

@mixin mc-button-typography($config) {
    .mc-button,
    .mc-icon-button {
        font: $typography-body-font-weight
            #{$typography-body-font-size}/#{$typography-body-line-height}
            $typography-body-font-family;
        letter-spacing: $typography-body-letter-spacing;
        text-transform: $typography-body-text-transform;

        &.mc-primary {
            font: $typography-body-strong-font-weight
                #{$typography-body-strong-font-size}/#{$typography-body-strong-line-height}
                $typography-body-strong-font-family;
            letter-spacing: $typography-body-strong-letter-spacing;
            text-transform: $typography-body-strong-text-transform;
        }
    }

    .mc-icon-button.mc-button-wrapper {
        .mc-icon {
            line-height: $typography-body-line-height;
        }
    }
}

