@import '../design-tokens/tokens';
@import '../core/styles/common/button';


%mc-button-base {
    @include mc-button-reset();

    position: relative;

    box-sizing: border-box;

    display: inline-block;

    margin: 0; /* Safari */

    white-space: nowrap;

    text-decoration: none;
    text-align: center;

    vertical-align: baseline;

    border: var(--mc-button-size-border-width, $button-size-border-width) solid transparent;
    border-radius: var(--mc-button-size-border-radius, $button-size-border-radius);

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        pointer-events: none;
        cursor: default;
    }

    &.cdk-focused {
        z-index: 1;
    }
}
