@import '../core/styles/common/layout';

@import 'button-base';


.mc-button {
    @extend %mc-button-base;

    @include mc-button-size($mc-button-padding, $mc-button-line-height, $mc-button-font);

    &_transparent {
        &.mc-primary,
        &.mc-second {
            border-color: transparent;
            background-color: transparent;

            &.mc-disabled,
            &[disabled] {
                border-color: transparent;
            }

            &:active,
            &.mc-active {
                border-color: transparent;
                background-color: transparent;
                box-shadow: none;
            }
        }
    }
}

.mc-light-button {
    @extend %mc-button-base;
}

.mc-icon-button {
    @extend %mc-button-base;

    @include mc-button-size($mc-icon-button-padding, $mc-icon-button-line-height, $mc-icon-button-font);

    &.mc-icon-button_left {
        padding-right: $mc-icon-button-text-padding;
    }

    &.mc-icon-button_right {
        padding-left: $mc-icon-button-text-padding;
    }

    .mc-button-wrapper {
        display: flex;

        .mc-icon {
            margin: auto;
            line-height: 20px;
        }

        .mc-icon_left {
            margin-right: $mc-icon-button-icon-padding;
        }

        .mc-icon_right {
            margin-left: $mc-icon-button-icon-padding;
        }
    }
}

.mc-button-overlay {
    position: absolute;

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    pointer-events: none;
    border-radius: inherit;
}

.mc-button-group {
    display: flex;
    flex-direction: row;

    > .mc-button,
    > .mc-icon-button {

        &:first-of-type:not(:last-of-type) {
            @include border-right-radius(0);
        }

        &:last-of-type:not(:first-of-type) {
            @include border-left-radius(0);
        }

        &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
        }
    }

    .mc-button + .mc-button,
    .mc-button + .mc-icon-button,
    .mc-icon-button + .mc-icon-button,
    .mc-icon-button + .mc-button {
        margin-left: -$mc-button-border-size;
    }
}

.mc-button-group_justified {
    > .mc-button,
    > .mc-icon-button {
        width: 100%;
    }
}

.mc-button-group_vertical {
    display: flex;
    flex-direction: column;

    > .mc-button,
    > .mc-icon-button {
        &:first-child:not(:last-child) {
            @include border-bottom-radius(0);

            border-top-right-radius: $mc-button-border-radius;
        }

        &:last-child:not(:first-child) {
            @include border-top-radius(0);

            border-bottom-left-radius: $mc-button-border-radius;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }

    .mc-button + .mc-button,
    .mc-button + .mc-icon-button,
    .mc-icon-button + .mc-icon-button,
    .mc-icon-button + .mc-button {
        margin-top: -$mc-button-border-size;
    }
}
