@import '../theming/palette';
@import '../theming/theming';
@import '../styles/typography/typography-utils';


@mixin mc-optgroup-theme($theme) {
    $foreground: map-get($theme, foreground);

    .mc-optgroup-label {
        color: mc-color($foreground, text);
    }

    .mc-disabled .mc-optgroup-label {
        color: mc-color($foreground, text-disabled);
    }
}

@mixin mc-optgroup-typography($config) {
    .mc-optgroup-label {
        @include mc-typography-level-to-styles($config, subheading);
    }
}
