@import '../theming/theming';
@import '../styles/typography/typography-utils';


@mixin mc-option-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);

    .mc-option {
        color: map-get($foreground, text);

        &:hover:not(.mc-disabled) {
            .mc-option-overlay {
                background: map-get($background, overlay-hover);
            }
        }

        &.mc-active {
            border-color: map-get(map-get($theme, states), focused-color);
        }

        &.mc-selected {
            background: map-get(map-get($theme, states), selected-color);
        }

        &.mc-disabled {
            background: transparent;

            color: map-get($foreground, text-disabled);
        }
    }
}

@mixin mc-option-typography($config) {
    .mc-option {
        @include mc-typography-level-to-styles($config, $option-font-default);
    }
}
