@import '../../design-tokens/tokens';
@import '../styles/common/vendor-prefixes';


.mc-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;

    position: relative;

    max-width: 100%;

    height: $option-size-height;

    border: $option-size-border-width solid transparent;

    cursor: pointer;

    outline: none;

    padding: $option-size-padding;

    -webkit-tap-highlight-color: transparent;

    &.mc-disabled {
        cursor: default;
    }

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }

    & .mc-option-overlay {
        position: absolute;

        top: -$option-size-border-width;
        left: -$option-size-border-width;
        right: -$option-size-border-width;
        bottom: -$option-size-border-width;

        pointer-events: none;
        border-radius: inherit;
    }
}

.mc-option-text {
    display: inline-block;
    flex-grow: 1;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
