@import '../../design-tokens/pt-2022/tokens';
@import '../styles/common/vendor-prefixes';


.mc-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;

    position: relative;

    max-width: 100%;

    height: var(--mc-option-size-height, $option-size-height);

    border: var(--mc-option-size-border-width, $option-size-border-width) solid transparent;

    cursor: pointer;

    outline: none;

    padding-left: var(--mc-option-size-horizontal-padding, $option-size-horizontal-padding);
    padding-right: var(--mc-option-size-horizontal-padding, $option-size-horizontal-padding);

    -webkit-tap-highlight-color: transparent;

    &.mc-disabled {
        cursor: default;
    }

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }

    & .mc-option-overlay {
        position: absolute;

        top: calc(-1 * var(--mc-option-size-border-width, #{$option-size-border-width}));
        left: calc(-1 * var(--mc-option-size-border-width, #{$option-size-border-width}));
        right: calc(-1 * var(--mc-option-size-border-width, #{$option-size-border-width}));
        bottom: calc(-1 * var(--mc-option-size-border-width, #{$option-size-border-width}));

        pointer-events: none;
        border-radius: inherit;
    }
}

.mc-option-text {
    display: inline-block;
    flex-grow: 1;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
