.docs-margin {
    margin: 8px;
}

.docs-row {
    margin-bottom: 16px;
}

.docs-label {
    margin-bottom: 4px;

    color: #999
}

.docs-width {
    width: 400px;
}

.docs-hint {
    color: #E04D36;
}
