.docs-form {
    color: #999999
}

.docs-row {
    margin-bottom: 16px;
}

.docs-label {
    margin-bottom: 4px;
}

.docs-width {
    width: 400px;
}

.docs-hint {
    color: #E76E5C;
}

.layout-row {
    margin-bottom: 4px;
}
