@mixin mc-divider-theme($theme) {
    $popup: map-get(map-get($theme, components), popup);

    .mc-divider_horizontal {
        border-top-color: map-get($popup, divider);
    }

    .mc-divider_vertical {
        border-right-color: map-get($popup, divider);
    }
}
