@import '../core/theming/palette';
@import '../core/theming/theming';


@mixin mc-divider-theme($theme) {
    $foreground: map-get($theme, foreground);
    $color: mc-color($foreground, divider);

    .mc-divider {
        border-top-color: $color;
    }

    .mc-divider_vertical {
        border-right-color: $color;
    }
}
