@import '../design-tokens/pt-2022/tokens';


// This mixin provides the correct offset for an inset divider based on the
// size of the parent class (e.g. avatar vs icon)
@mixin mc-inset-divider-offset($offset, $padding) {
    $mc-inset-divider-offset: (2 * $padding) + $offset;

    margin-left: $mc-inset-divider-offset;
    width: 100% - $mc-inset-divider-offset;

    [dir='rtl'] & {
        margin-left: auto;
        margin-right: $mc-inset-divider-offset;
    }
}

.mc-divider {
    display: block;
    margin: 0;

    &.mc-divider_horizontal {
        border-top-width: var(--mc-divider-size-width, $divider-size-width);
        border-top-style: solid;
    }

    &.mc-divider_vertical {
        height: 100%;

        border-right-width: var(--mc-divider-size-width, $divider-size-width);
        border-right-style: solid;
    }

    &.mc-divider_inset {
        margin-left: var(--mc-divider-size-inset-margin, $divider-size-inset-margin);

        [dir='rtl'] & {
            margin-left: auto;
            margin-right: var(--mc-divider-size-inset-margin, $divider-size-inset-margin);
        }
    }
}
