<h2>Layout</h2>

<div class="colorNested">
    <div class="layout-row">
        <div class="flex">
            class="flex"
        </div>
        <div class="flex">
            class="flex"
        </div>
    </div>
</div>

<h2>Flex Percent Values</h2>
<div class="colorNested">
    <div class="layout-row layout-wrap">
    <div class="flex-30">
        class="flex-30"
    </div>
    <div class="flex-45">
        class="flex-45"
    </div>
    <div class="flex-25">
        class="flex-25"
    </div>
    <div class="flex-33">
        class="flex-33"
    </div>
    <div class="flex-66">
        class="flex-66"
    </div>
    <div class="flex-50">
        class="flex-50"
    </div>
    <div class="flex">
        class="flex"
    </div>
</div>
</div>

<h1>Other Flex Values</h1>
<div class="colorNested">
    <div class="layout-wrap layout-row">
        <div class="flex-none">
            class=flex-none
        </div>
        <div class="flex">
            class=flex
        </div>
        <div class="flex-grow">
            class="flex-grow"
        </div>
        <div class="flex-auto">
            class="flex-auto"
        </div>
        <div class="flex-auto">
            class="flex-auto"
        </div>
        <div class="flex-initial">
            class="flex-initial"
        </div>
    </div>
</div>

<h2>Flex Offset Attribute</h2>

<div class="colorNested">
    <div class="layout-row">
        <div class="flex flex-offset-33">
            class="flex flex-offset-33"
        </div>
        <div class="flex">
            class="flex"
        </div>
    </div>
</div>
