@import '../core/styles/common/popup';
@import '../core/theming/theming';


@mixin mc-autocomplete-theme($theme) {
    $foreground: map-get($theme, foreground);

    .mc-autocomplete-panel {
        @include popup-params($theme);

        color: mc-color($foreground, text);

        .mc-selected {
            $popup: map-get(map-get($theme, components), popup);

            background-color: map-get($popup, background);
        }
    }
}
