@import '../core/theming/theming';

@mixin mc-autocomplete-theme($theme) {
    $foreground: map-get($theme, foreground);

    .mc-autocomplete-panel {
        $popup: map-get(map-get($theme, components), popup);

        box-shadow: map-get($popup, shadow);
        border-color: map-get($popup, border-color);

        background-color: map-get($popup, background);

        color: mc-color($foreground, text);

        .mc-selected {
            background-color: map-get($popup, background);
        }
    }
}

@mixin mc-autocomplete-typography($config) {}
