@import '../../cdk/a11y/a11y';
@import '../design-tokens/pt-2022/tokens';


.mc-autocomplete-trigger {
    text-overflow: ellipsis;
}

.mc-autocomplete-panel {
    visibility: hidden;

    position: relative;

    overflow: auto;
    -webkit-overflow-scrolling: touch;   // for momentum scroll on mobile

    margin-top: -1px;

    min-width: 100%;
    width: 100%;
    max-width: none;

    max-height: var(--mc-autocomplete-size-panel-max-height, $autocomplete-size-panel-max-height);

    border: {
        width: 1px;
        style: solid;
    }

    border-bottom-left-radius: var(--mc-autocomplete-size-panel-border-radius, $autocomplete-size-panel-border-radius);
    border-bottom-right-radius: var(--mc-autocomplete-size-panel-border-radius, $autocomplete-size-panel-border-radius);

    padding: var(--mc-autocomplete-size-panel-padding, $autocomplete-size-panel-padding);

    &.mc-autocomplete_visible {
        visibility: visible;
    }

    &.mc-autocomplete_hidden {
        visibility: hidden;
    }

    .mc-autocomplete-panel-above & {
        border-radius:
            var(--mc-autocomplete-size-panel-border-radius, $autocomplete-size-panel-border-radius)
            var(--mc-autocomplete-size-panel-border-radius, $autocomplete-size-panel-border-radius)
            0 0;
    }

    // We need to offset horizontal dividers by their height, because
    // they throw off the keyboard navigation inside the panel.
    .mc-divider-horizontal {
        margin-top: -1px;
    }

    @include cdk-high-contrast {
        outline: solid 1px;
    }
}

