// This mixin will ensure that lines that overflow the container will hide the overflow and
// truncate neatly with an ellipsis.
@mixin mc-truncate-line() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Mixin to provide all mc-line styles, changing secondary font size based on whether the list is in dense mode.
@mixin mc-line-base($secondary-font-size) {
    .mc-line {
        @include mc-truncate-line();

        display: block;
        box-sizing: border-box;

        // all lines but the top line should have smaller text
        &:nth-child(n + 2) {
            font-size: $secondary-font-size;
        }
    }
}

// This mixin normalizes default element styles, e.g. font weight for heading text.
@mixin mc-normalize-text() {
    & > * {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: inherit;
    }
}

// This mixin provides base styles for the wrapper around mc-line elements in a list.
@mixin mc-line-wrapper-base() {
    @include mc-normalize-text();

    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    // Must remove wrapper when lines are empty or it takes up horizontal
    // space and pushes other elements to the right.
    &:empty {
        display: none;
    }
}

@mixin mc-no-select() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.mc-no-select {
    @include mc-no-select;
}
