@import '../../../design-tokens/index';


@mixin popup-params($theme) {
    box-shadow: $popup-common-color-shadow;
    border-color: $popup-common-color-border-color;

    background-color: $popup-common-color-background;
}
