@import '../form-field/form-field';


$right-padding: 20px;

.mc-timepicker {
    padding-right: $right-padding - $mc-form-field-border-size;
}

.mc-form-field-type-mc-timepicker {
    width: auto;
}
