@import '../core/styles/common/layout';
@import '../design-tokens/pt-2022/tokens';


// Description Lists
.mc-dl {
    display: flex;
    flex-direction: row;

    margin-bottom: var(--mc-description-list-size-margin-bottom, $description-list-size-margin-bottom);

    .mc-dt {
        width: var(--mc-description-list-size-term-width, $description-list-size-term-width);
        max-width: var(--mc-description-list-size-term-width, $description-list-size-term-width);

        padding-right: 16px;
    }

    .mc-dd {
        width: var(--mc-description-list-size-description-width, $description-list-size-description-width);
        max-width: var(--mc-description-list-size-description-width, $description-list-size-description-width);
    }

    &.mc-dl_vertical {
        flex-direction: column;

        .mc-dt,
        .mc-dd {
            width: 100%;
            max-width: 100%;
        }
    }
}
