@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';
@import '../../mosaic/core/visual/prebuilt/default-visual';

@import '../../mosaic/core/theming/prebuilt/default-theme';
//@import '../../mosaic/core/theming/prebuilt/dark-theme';

app {
    display: block;
}

.container {
    height: 500px;
}

.mc-sidebar {

}

.mc-sidebar-opened {
    background-color: #6fba53;
}

.mc-sidebar-closed {
    background-color: darkgray;
}

