@import '../../mosaic/core/visual/prebuilt/default-visual';

app {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 200px;
}

.container__body {
    flex: 1 1 30%;

    background-color: antiquewhite;
}

.mc-sidebar {

}

.mc-sidebar-opened {
    background-color: #6fba53;
}

.mc-sidebar-closed {
    background-color: darkgray;
}

