@import '../../../design-tokens/index';


@mixin mc-pseudo-checkbox-theme($theme) {
    $is-dark: map-get($theme, is-dark);

    .mc-pseudo-checkbox {
        border-color: $color-second-default;
        background-color: $color-background-background;

        & .mc-checkbox-checkmark,
        & .mc-checkbox-mixedmark {
            color: white;
        }

        &.mc-checked {
            border-color: if($is-dark, $color-primary-lighter, $color-primary-darker);

            background: if($is-dark, map-get($color-primary-palette, 600), $color-primary-default);
        }

        &.mc-disabled {
            border-color: $color-foreground-border;

            background-color: $color-background-background-disabled;

            .mc-checkbox-checkmark,
            .mc-checkbox-mixedmark {
                color: $color-foreground-text-disabled;
            }
        }
    }
}
