@import '../../theming/theming';


@mixin mc-pseudo-checkbox-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $is-dark-theme: map-get($theme, is-dark);

    .mc-pseudo-checkbox {
        border-color: mc-color($second);
        background-color: map-get($background, background);;

        & .mc-checkbox-checkmark,
        & .mc-checkbox-mixedmark {
            color: white;
        }

        &.mc-checked {
            border-color: mc-color($primary, if($is-dark-theme, lighter, darker));

            background: if($is-dark-theme, mc-color($primary, 600), mc-color($primary));
        }

        &.mc-disabled {
            border-color: map-get($background, button-border);

            background-color: map-get($background, button-bg);

            .mc-checkbox-checkmark,
            .mc-checkbox-mixedmark {
                color: map-get($foreground, disabled-text);
            }
        }
    }
}
