@import '../../theming/theming';


@mixin mc-pseudo-checkbox-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $second: map-get($theme, second);

    $checkbox: map-get(map-get($theme, components), checkbox);

    .mc-pseudo-checkbox {
        border-color: mc-color($second);
        background-color: map-get($background, background);

        & .mc-checkbox-checkmark,
        & .mc-checkbox-mixedmark {
            color: white;
        }

        &.mc-checked {
            border-color: map-get($checkbox, state-checked-border);

            background: map-get($checkbox, state-checked-background);
        }

        &.mc-disabled {
            border-color: map-get($foreground, border);

            background-color: map-get($background, background-disabled);

            .mc-checkbox-checkmark,
            .mc-checkbox-mixedmark {
                color: map-get($foreground, text-disabled);
            }
        }
    }
}
