@import '../../styles/common/checkbox';


// Padding inside of a pseudo checkbox.
$_mc-pseudo-checkbox-padding: $mc-checkbox-border-width * 2;

// Size of the checkmark in a pseudo checkbox.
$_mc-pseudo-checkmark-size: $mc-checkbox-size - (2 * $_mc-pseudo-checkbox-padding);


.mc-pseudo-checkbox {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    width: $mc-checkbox-size;
    height: $mc-checkbox-size;

    border: {
        radius: 3px;
        width: $mc-checkbox-border-width;
        style: solid;
    }

    cursor: pointer;

    vertical-align: middle;
    flex-shrink: 0;

    & .mc-checkbox-checkmark,
    & .mc-checkbox-mixedmark {
        display: none;

        position: absolute;
        top: -$mc-checkbox-border-width;
        left: -$mc-checkbox-border-width;
    }

    &.mc-pseudo-checkbox-checked,
    &.mc-pseudo-checkbox-indeterminate {
        border-color: transparent;
    }

    &.mc-checked {
        .mc-checkbox-checkmark {
            display: inline-block;
        }
    }

    &.mc-indeterminate {
        .mc-checkbox-mixedmark {
            display: inline-block;
        }
    }

    &.mc-disabled {
        cursor: default;
    }
}
