@import '../../../design-tokens/pt-2022/tokens';


.mc-pseudo-checkbox {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    width: var(--mc-checkbox-size-width, $checkbox-size-width);
    height: var(--mc-checkbox-size-width, $checkbox-size-width);

    border: {
        radius: 3px;
        width: var(--mc-checkbox-size-border-width, $checkbox-size-border-width);
        style: solid;
    }

    cursor: pointer;

    vertical-align: middle;
    flex-shrink: 0;

    & .mc-checkbox-checkmark,
    & .mc-checkbox-mixedmark {
        display: none;

        position: absolute;
        top: calc(-1 * var(--mc-checkbox-size-border-width, #{$checkbox-size-border-width}));
        left: calc(-1 * var(--mc-checkbox-size-border-width, #{$checkbox-size-border-width}));
    }

    &.mc-pseudo-checkbox-checked,
    &.mc-pseudo-checkbox-indeterminate {
        border-color: transparent;
    }

    &.mc-checked {
        .mc-checkbox-checkmark {
            display: inline-block;
        }
    }

    &.mc-indeterminate {
        .mc-checkbox-mixedmark {
            display: inline-block;
        }
    }

    &.mc-disabled {
        cursor: default;
    }
}
