:host {
    font-size: 13px;
    // Width is container width minus content width
    width: 19%;
    position: sticky;
    top: 0;
    padding-left: 25px;
    box-sizing: border-box;
    display: inline-flex;
}
