@import '../design-tokens/tokens';
@import '../core/styles/variables';


.mc-tooltip {
    display: block;
    box-sizing: border-box;

    visibility: visible;

    position: relative;

    z-index: $zindex-tooltip;

    max-width: var(--mc-tooltip-size-max-width, $tooltip-size-max-width);

    list-style: none;
    white-space: pre-line;
}

.mc-tooltip_placement-top {
    padding-bottom: var(--mc-tooltip-size-distance, $tooltip-size-distance);
}

.mc-tooltip_placement-right {
    padding-left: var(--mc-tooltip-size-distance, $tooltip-size-distance);
}

.mc-tooltip_placement-bottom {
    padding-top: var(--mc-tooltip-size-distance, $tooltip-size-distance);
}

.mc-tooltip_placement-left {
    padding-right: var(--mc-tooltip-size-distance, $tooltip-size-distance);
}

.mc-tooltip-inner {
    padding: var(--mc-tooltip-size-padding, $tooltip-size-padding);
    text-align: left;
    text-decoration: none;
    border-radius: var(--mc-tooltip-size-border-radius, $tooltip-size-border-radius);
    min-height: var(--mc-tooltip-size-min-height, $tooltip-size-min-height);
    height: fit-content;
    vertical-align: center;
}

.mc-tooltip-arrow {
    position: absolute;
    width: var(--mc-tooltip-size-arrow-size, $tooltip-size-arrow-size);
    height: var(--mc-tooltip-size-arrow-size, $tooltip-size-arrow-size);
    transform: rotate(45deg);
}

.mc-tooltip_placement-top .mc-tooltip-arrow {
    bottom:
        var(--mc-tooltip-size-distance, $tooltip-size-distance) -
        var(--mc-tooltip-size-arrow-width, $tooltip-size-arrow-width);
    left: 50%;
    margin-left: calc(-1 * var(--mc-tooltip-size-arrow-width, #{$tooltip-size-arrow-width}));
}

.mc-tooltip_placement-right .mc-tooltip-arrow {
    left:
        var(--mc-tooltip-size-distance, $tooltip-size-distance) -
        var(--mc-tooltip-size-arrow-width, $tooltip-size-arrow-width);
    top: 16px;
    margin-top: calc(-1 * var(--mc-tooltip-size-arrow-width, #{$tooltip-size-arrow-width}));
}

.mc-tooltip_placement-left .mc-tooltip-arrow {
    right:
        var(--mc-tooltip-size-distance, $tooltip-size-distance) -
        var(--mc-tooltip-size-arrow-width, $tooltip-size-arrow-width);
    top: 16px;
    margin-top: calc(-1 * var(--mc-tooltip-size-arrow-width, #{$tooltip-size-arrow-width}));
}

.mc-tooltip_placement-bottom .mc-tooltip-arrow {
    top:
        var(--mc-tooltip-size-distance, $tooltip-size-distance) -
        var(--mc-tooltip-size-arrow-width, $tooltip-size-arrow-width);
    left: 50%;
    margin-left: calc(-1 * var(--mc-tooltip-size-arrow-width, #{$tooltip-size-arrow-width}));
}
