@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/variables';
@import '../core/pop-up/pop-up';


.mc-tooltip__inner {
    border-radius: var(--mc-tooltip-size-border-radius, $tooltip-size-border-radius);
}

.mc-tooltip {
    box-sizing: border-box;

    border-radius: var(--mc-tooltip-size-border-radius, $tooltip-size-border-radius);

    z-index: $zindex-tooltip;

    white-space: pre-line;

    $trigger-margin: calc(var(--mc-tooltip-size-trigger-margin, #{$tooltip-size-trigger-margin}));

    @include popUpMargins(mc-tooltip, $trigger-margin);

    &.mc-tooltip_default,
    &.mc-tooltip_warning {
        max-width: var(--mc-tooltip-size-max-width, $tooltip-size-max-width);

        .mc-tooltip__inner {
            padding: var(--mc-tooltip-size-padding, $tooltip-size-padding);
        }
    }

    &.mc-tooltip_extended {
        max-height: var(--mc-extended-tooltip-size-max-height, $extended-tooltip-size-max-height);

        .mc-tooltip__header {
            height: var(--mc-extended-tooltip-header-size-height, $extended-tooltip-header-size-height);
            padding: var(--mc-extended-tooltip-header-size-padding, $extended-tooltip-header-size-padding);

            border-top-left-radius: var(--mc-tooltip-size-border-radius, $tooltip-size-border-radius);
            border-top-right-radius: var(--mc-tooltip-size-border-radius, $tooltip-size-border-radius);
        }

        .mc-tooltip__content {
            padding: var(--mc-extended-tooltip-size-padding, $extended-tooltip-size-padding);
        }
    }
}

.mc-tooltip__arrow {
    position: absolute;

    width: var(--mc-tooltip-size-arrow-size, $tooltip-size-arrow-size);
    height: var(--mc-tooltip-size-arrow-size, $tooltip-size-arrow-size);

    transform: rotate(45deg);
}

$arrow-offset: calc((var(--mc-tooltip-size-arrow-size, #{$tooltip-size-arrow-size}) - 1px) / -2);
$arrow-padding: calc(18px - (var(--mc-tooltip-size-trigger-margin, #{$tooltip-size-trigger-margin}) / 2));

@include popUpArrowPositions(mc-tooltip, $arrow-offset, $arrow-padding);

