@import '../../mosaic/core/visual/prebuilt/default-visual';

@import '../../mosaic/core/theming/prebuilt/default-theme';

.container {
    margin: 8px;
}

.horizontal-block {
    height: 100px;
    border: 1px solid black;
}

.vertical-block {
    height: 300px;
    border: 1px solid black;
}

.min-width-enabled {
    min-width: 200px;
}

.min-height-enabled {
    min-height: 30px;
}

div[mc-splitter-area] {
    background: #c5c0c0
}

// custom color
mc-splitter.custom-color > mc-gutter {
    background-color: #03A9F4;
    color: white;
}

mc-splitter.custom-color > mc-gutter:hover {
    background-color: #8bc34a;
    color: black;
}

/* stylelint-disable no-descending-specificity */
// custom gutter image
mc-splitter.custom-gutter > mc-gutter {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
/* stylelint-enable no-descending-specificity */

mc-splitter.custom-gutter > mc-gutter > i {
    display: none;
}
