@import '../../design-tokens/pt-2022/tokens';
@import '../styles/common/vendor-prefixes';


.mc-form {
    display: flex;
    flex-direction: column;
}

.mc-form__row {
    display: flex;
    flex-direction: row;
}

.mc-form-horizontal {
    & .mc-form-row_margin {
        margin-bottom: var(--mc-forms-size-horizontal-row-margin-bottom, #{$forms-size-horizontal-row-margin-bottom});
    }

    & .mc-form__label {
        padding-top: var(--mc-forms-size-horizontal-label-padding-top, #{$forms-size-horizontal-label-padding-top});
        padding-bottom:
            var(--mc-forms-size-horizontal-label-padding-bottom, #{$forms-size-horizontal-label-padding-bottom});

        text-align: end;
    }

    & .mc-form__control {
        padding-left:
            var(--mc-forms-size-horizontal-control-padding-left, #{$forms-size-horizontal-control-padding-left});
    }

    & .mc-form__legend {
        margin-top: var(--mc-forms-size-horizontal-legend-margin-top, #{$forms-size-horizontal-legend-margin-top});
        margin-bottom:
            var(--mc-forms-size-horizontal-legend-margin-bottom, #{$forms-size-horizontal-legend-margin-bottom});
    }
}

.mc-form-vertical {
    & .mc-form__row {
        flex-direction: column;
    }

    & .mc-form-row_margin {
        margin-bottom: var(--mc-forms-size-vertical-row-margin-bottom, #{$forms-size-vertical-row-margin-bottom});
    }

    & .mc-form__label {
        padding-top: var(--mc-forms-size-vertical-label-padding-top, #{$forms-size-vertical-label-padding-top});
        padding-bottom:
            var(--mc-forms-size-vertical-label-padding-bottom, #{$forms-size-vertical-label-padding-bottom});

        text-align: start;
    }

    & .mc-form__control {
        padding-left: 0;
    }

    & .mc-form__legend {
        margin-top: var(--mc-forms-size-vertical-legend-margin-top, #{$forms-size-vertical-legend-margin-top});
        margin-bottom: var(--mc-forms-size-vertical-legend-margin-bottom, #{$forms-size-vertical-legend-margin-bottom});
    }
}

.mc-form__fieldset {
    display: flex;
    flex-direction: column;
}

.mc-form__fieldset.mc-horizontal {
    flex-direction: row;

    & .mc-form__row:not(:first-child) {
        padding-left: var(--mc-forms-size-vertical-control-padding-left, #{$forms-size-vertical-control-padding-left});
    }
}
