.docs-label {
    margin-bottom: 4px;

    color: #999
}

.docs-hint {
    color: #E04D36;
}

.docs-composite-form {
    width: 500px;

    margin: 8px 8px 40px;
}

.docs-column {
    width: 200px;
    margin-right: 16px;
}

.layout-row {
    margin-bottom: 4px;
}

.validation-error {
    background-color: #FCEFEC;
    border-radius: 4px;
}

.mc-subheading {
    margin-bottom: 16px;
}

.mc-headline {
    margin-bottom: 32px;
}

.docs-form {
    padding: 8px;
}
