@import '../../design-tokens/tokens';
@import '../theming/theming';
@import '../styles/typography/typography-utils';


.mc-badge {
    display: inline-block;

    vertical-align: middle;

    min-width: var(--mc-badge-size-min-width, $badge-size-min-width);

    padding: var(--mc-badge-size-padding, $badge-size-padding);

    border: {
        width: var(--mc-badge-size-border-width, $badge-size-border-width);
        style: solid;
        radius: var(--mc-badge-size-border-radius, $badge-size-border-radius);
    }

    text-align: center;
    white-space: nowrap;
}


@mixin mc-badge-color($palette, $is-dark) {
    color: white;

    $color: mc-color($palette, if($is-dark, 700, 500));

    border-color: $color;
    background-color: $color;
}

@mixin mc-badge-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);
    $info: map-get($theme, info);
    $success: map-get($theme, success);
    $warning: map-get($theme, warning);

    $is-dark: map-get($theme, is-dark);

    .mc-badge {
        color: map-get($foreground, text);
        border-color: mc-color($second, 400);
    }

    .mc-badge_light {
        $color: mc-color($second, if($is-dark, 400, 100));

        border-color: $color;
        background-color: $color;
    }

    .mc-badge_second {
        @include mc-badge-color($second, $is-dark);
    }

    .mc-badge_primary {
        @include mc-badge-color($primary, $is-dark);
    }

    .mc-badge_error {
        @include mc-badge-color($error, $is-dark);
    }

    .mc-badge_info {
        @include mc-badge-color($info, $is-dark);
    }

    .mc-badge_success {
        @include mc-badge-color($success, $is-dark);
    }

    .mc-badge_warning {
        @include mc-badge-color($warning, $is-dark);
    }
}

@mixin mc-badge-typography($config) {
    .mc-badge {
        @include mc-typography-level-to-styles($config, caption);
    }

    .mc-badge_caps {
        @include mc-typography-level-to-styles($config, caption-caps);
    }
}
