@import '../theming/theming';
@import '../styles/typography/typography-utils';


.mc-form__row {
    display: flex;
    flex-direction: row;
}

.mc-form {
    display: flex;
    flex-direction: column;

    & > .mc-form__row:not(:first-child) {
        margin-top: var(--mc-forms-size-default-row-margin-bottom, #{$forms-size-default-row-margin-bottom});
    }
}

.mc-form__label {
    padding-top: var(--mc-forms-size-default-label-padding-top, #{$forms-size-default-label-padding-top});

    text-align: end;
}

.mc-form__control {
    padding-left: var(--mc-forms-size-default-control-padding-left, #{$forms-size-default-control-padding-left});
}

.mc-form__fieldset {
    display: flex;
    flex-direction: column;

    &:not(.mc-form_horizontal) > .mc-form__row:not(:first-child):not(.mc-form__legend) {
        margin-top: var(--mc-forms-size-default-row-margin-bottom, #{$forms-size-default-row-margin-bottom});
    }

    &.mc-form_horizontal:not(:first-child) > .mc-form__row {
        margin-top: var(--mc-forms-size-default-row-margin-bottom, #{$forms-size-default-row-margin-bottom});
    }
}

.mc-form__legend {
    margin-top: var(--mc-forms-size-default-legend-margin-top, #{$forms-size-default-legend-margin-top});
    margin-bottom: var(--mc-forms-size-default-legend-margin-bottom, #{$forms-size-default-legend-margin-bottom});
}

.mc-form.mc-form_vertical {
    flex-direction: column;

    & .mc-form__row {
        flex-direction: column;
    }

    & .mc-form__label {
        padding-top: 0;
        padding-bottom: 4px;

        text-align: start;
    }

    & .mc-form__control {
        padding-left: 0;
    }
}

.mc-form__fieldset.mc-form_horizontal {
    flex-direction: row;

    & .mc-form__row:not(:first-child) {
        padding-left: var(--mc-forms-size-default-control-padding-left, #{$forms-size-default-control-padding-left});
    }
}


@mixin mc-forms-theme($theme) {
    $foreground: map-get($theme, foreground);

    $forms: map-get(map-get($theme, components), forms);

    .mc-form__label {
        color: map-get($forms, label);
    }

    .mc-form__legend {
        color: map-get($forms, legend);
    }
}

@mixin mc-forms-typography($config) {
    .mc-form__label {
        @include mc-typography-level-to-styles($config, $forms-font-default-label);
    }

    .mc-form__legend {
        @include mc-typography-level-to-styles($config, $forms-font-default-legend);
    }
}
