.title{
    text-transform: capitalize;
}

.docs-header-link {
    padding-top: 24px;
}

.docs-markdown {
    &__p {
        margin: 0;
        padding-top: 8px;
    }
}

.docs-component-overview_hidden {
    visibility: hidden;
}
