@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

//@import '../../mosaic/core/theming/prebuilt/default-theme';
@import '../../mosaic/core/theming/prebuilt/dark-theme';


mc-card {
    margin-right: 10px;
}

.line {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.simple-content {
    padding: 8px;
}
