@import '../core/theming/theming';
@import '../core/theming/palette';
@import '../core/styles/typography/typography-utils';


@mixin mc-link-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    $is-dark: map-get($theme, is-dark);

    $color: mc-color($primary);
    $color_hover: mc-color($primary, if($is-dark, lighter, darker));

    .mc-link {
        color: $color;

        text-decoration: none;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:visited {
            color: $color;
        }

        &:hover {
            color: $color_hover;
        }

        &.cdk-keyboard-focused {
            $focused-color: map-get(map-get($theme, states), focused-color);

            outline: $focused-color solid 2px;
            outline-offset: 2px;
        }

        & .mc-link__icon {
            color: inherit;
        }

        & .mc-link__text:not(:first-child) {
            margin-left: 4px;
        }

        & .mc-link__text:not(:last-child) {
            margin-right: 4px;
        }

        &.mc-link_underlined .mc-link__text {
            border-bottom-style: solid;
            border-bottom-color: rgba($color, .32);
        }

        &.mc-link_dashed .mc-link__text {
            border-bottom-style: dashed;
            border-bottom-width: 1px;
            border-bottom-color: rgba($color, .5);

            &:visited {
                border-bottom-color: rgba($color, .5);
            }

            &:hover {
                border-bottom-color: rgba($color_hover, .5);
            }
        }

        &.mc-link_underlined .mc-link__text {
            border-bottom-width: 1px;
            border-bottom-color: rgba($color, .32);

            &:visited {
                border-bottom-color: rgba($color, .32);
            }

            &:hover {
                border-bottom-color: rgba($color_hover, .32);
            }
        }

        &[disabled] {
            $color_disabled: mc-color($foreground, text-disabled);

            color: $color_disabled;

            cursor: default;
            pointer-events: none;

            &.mc-link_underlined .mc-link__text {
                border-bottom-color: rgba($color_disabled, .64);
            }

            &.mc-link_dashed .mc-link__text {
                border-bottom-color: $color_disabled;
            }
        }
    }
}

@mixin mc-link-typography($config) {
    .mc-link {
        @include mc-typography-level-to-styles($config, body);
    }
}
