.mc-link {
    text-decoration: none;

    cursor: pointer;

    & > .mc-link__icon {
        color: inherit;
    }

    & > .mc-link__text:not(:first-child) {
        margin-left: 4px;
    }

    & > .mc-link__text:not(:last-child) {
        margin-right: 4px;
    }

    &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}


