$link-border-radius: 3px;
$link-padding: 4px 8px;


.mc-link {
    display: inline-block;

    outline: none;

    padding: $link-padding;

    text-decoration: none;

    cursor: pointer;

    & > .mc-link__icon {
        color: inherit;
    }

    & > .mc-link__text:not(:first-child) {
        margin-left: 4px;
    }

    & > .mc-link__text:not(:last-child) {
        margin-right: 4px;
    }

    &.cdk-keyboard-focused {
        border-radius: $link-border-radius;
    }

    &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}


