sidepanel-component-example .mc-form__control.flex-10 {
    min-width: 120px;
}


.sidepanel-container {
    display: flex;
    flex-direction: column;
}

.layout-padding {
    padding: 8px;
}

.layout-padding > * {
    padding: 8px;
}
