@import "../core/theming/theming";
@import '../core/styles/typography/typography-utils';


@mixin mc-radio-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $radio: map-get(map-get($theme, components), radio);

    .mc-radio-group {
        color: map-get($foreground, text);
    }

    .mc-radio-button {
        & .mc-radio-button__outer-circle {
            border-color: map-get($radio, outer-circle_border);
            background: map-get($background, background);
        }

        & .mc-radio-button__inner-circle {
            border-color: map-get($radio, inner-circle_border);
        }

        &:hover {
            & .mc-radio-button__outer-circle {
                background: map-get($background, overlay-hover);
            }
        }

        &.mc-selected {
            & .mc-radio-button__outer-circle {
                border-color: map-get($radio, outer-circle_checked-state_border);
            }

            & .mc-radio-button__inner-circle {
                display: block;
                border-color: map-get($radio, inner-circle_checked-state_border)
            }
        }

        &.cdk-keyboard-focused {
            & .mc-radio-button__outer-circle {
                border-color: map-get($radio, outer-circle_focused-state_border);
                box-shadow: map-get($radio, outer-circle_focused-state_shadow);
            }

            & .mc-radio-button__inner-circle {
                box-shadow: map-get($radio, inner-circle_focused-state_shadow);
            }
        }

        &.mc-disabled {
            color: map-get($foreground, text-disabled);

            & .mc-radio-label {
                cursor: default;
            }

            & .mc-radio-button__outer-circle {
                border-color: map-get($foreground, border);
                background: map-get($background, background-disabled);
            }

            & .mc-radio-button__inner-circle {
                border-color: map-get($background, background-disabled);
                background: map-get($foreground, text-disabled);
            }
        }
    }
}

@mixin mc-radio-typography($config) {
    .mc-radio-group {
        @include mc-typography-level-to-styles($config, $radio-font-default);
    }
}
