@import '../design-tokens/pt-2022/tokens';


// Top-level host container.
.mc-radio-button {
    display: inline-block;
}

.mc-radio-label {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    cursor: pointer;

    white-space: nowrap;
    // for maximum clickable area.
    width: 100%;
}

.mc-radio-label-content {
    display: inline-block;

    position: relative;

    order: 0;
    line-height: inherit;

    padding-left: calc(
        var(--mc-radio-size-size, #{$radio-size-size}) +
        var(--mc-radio-size-padding, #{$radio-size-label-margin})
    );
    padding-right: 0;

    .mc-radio-button__outer-circle,
    .mc-radio-button__inner-circle {
        box-sizing: content-box;
        position: absolute;

        content: '';

        border: {
            style: solid;
            radius: 50%;
        }
    }

    .mc-radio-button__outer-circle {
        left: 0;
        top: calc(50% - 8px);

        width: var(--mc-radio-size-size, $radio-size-size);
        height: var(--mc-radio-size-size, $radio-size-size);

        border: {
            width: 1px;
        }
    }

    .mc-radio-button__inner-circle {
        display: none;

        left: 1px;
        top: calc(50% - 7px);

        width: 6px;
        height: 6px;

        border-width: 4px;
    }

    [dir='rtl'] & {
        padding-right: var(--mc-radio-size-padding, $radio-size-label-margin);
        padding-left: 0;
    }
}

.mc-radio-input {
    position: absolute;
    outline: none;
    opacity: 0;
}
