mc-checkbox {
    margin-top: 8px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

button + button {
    margin-left: 16px;
}

.buttons-container button:first-child {
    margin-right: auto;
}

mc-form-field {
    margin-top: 8px;
}
