@mixin example-viewer-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $color: mc-color($primary);
    $is-dark: map-get($theme, is-dark);
    $color_hover: mc-color($primary, if($is-dark, lighter, darker));
    $error: map-get($theme, error);
    $error-border: mc-color($error, 200);
    $error-background: mc-color($error, 60);
    $divider: mc-color($foreground, divider);
    $hint-text: mc-color($foreground, hint-text);

    .docs-example-viewer__lost-example {
        border: 1px solid $error-border;
        background-color: $error-background;
        padding: 16px;
    }

    .docs-example-source_copy {
        color: $color;

        &:hover { color: $color_hover; }
    }
}

@mixin example-viewer-typography($config) {
    .docs-example-source {
        @include mc-typography-level-to-styles($config, body-mono);
        font-size: 14px;
    }
}
