@import '../../mosaic/core/theming/prebuilt/default-theme';
//@import '../../mosaic/core/theming/prebuilt/dark-theme';


.container {
    display: flex;
    align-items: center;

    .percent {
        margin-right: 8px;
        width: 60px;
        text-align: center;
        flex-shrink: 0;
    }

    .lines {
        flex-grow: 1;
        margin-top: 8px;
    }

    .line-container:not(:first-child) {
        margin-top: 16px;
    }
}
