@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';


@mixin mc-dropdown-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $is-dark: map-get($theme, is-dark);

    $dropdown: map-get(map-get($theme, components), dropdown);

    .mc-dropdown__panel {
        $panel: map-get($dropdown, panel);

        border-color: map-get($panel, border-color);
        box-shadow: map-get($panel, box-shadow);

        background-color: map-get($background, background-popup);
    }

    .mc-dropdown__item {
        color: mc-color($foreground, text);

        background: transparent;

        &:hover,
        &.mc-hovered {
            background: mc-color($background, overlay-hovered);
        }

        &.cdk-keyboard-focused {
            $focus-color: map-get(map-get(map-get($theme, states), focus), color);

            outline: $focus-color solid 2px;
            outline-offset: -2px;

            &.mc-link {
                outline-offset: -2px;
            }

        }

        &.mc-selected {
            background: mc-color($primary, if($is-dark, 700, 100));
        }

        &[disabled] {
            color: mc-color($foreground, text-disabled);

            background: transparent;
        }

        .mc-dropdown__item-caption {
            color: mc-color($foreground, text-less-contrast);
        }
    }

    .mc-dropdown__item_highlighted:not([disabled]) {
        background: mc-color($background, overlay-hovered);
    }
}

@mixin mc-dropdown-typography($config) {
    .mc-dropdown__item,
    .mc-dropdown__content {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-dropdown__item-caption {
        @include mc-typography-level-to-styles($config, caption);
    }
}
