@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';


@mixin mc-dropdown-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $is-dark: map-get($theme, is-dark);

    .mc-dropdown__panel {
        border-color: mc-color($second);

        box-shadow: 0 3px 3px 0 mc-color($second, A200);

        background-color: if($is-dark, map-get($second, 700), map-get($background, background));
    }

    .mc-dropdown__item {
        color: mc-color($foreground, text);

        background: transparent;

        &:hover,
        &.mc-hovered {
            background: mc-color($background, hover);
        }

        &.cdk-keyboard-focused {
            outline: mc-color($primary) solid 2px;
            outline-offset: -2px;

            &.mc-link {
                outline-offset: -2px;
            }

        }

        &.mc-selected {
            background: mc-color($primary, if($is-dark, 700, 100));
        }

        &[disabled] {
            color: mc-color($foreground, disabled-text);

            background: transparent;
        }

        .mc-dropdown__item-caption {
            color: mc-color($foreground, less-contrast-text);
        }
    }

    .mc-dropdown__item_highlighted {
        &:not([disabled]) {
            background: mc-color($background, hover);
        }
    }
}

@mixin mc-dropdown-typography($config) {
    .mc-dropdown__item,
    .mc-dropdown__content {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-dropdown__item-caption {
        @include mc-typography-level-to-styles($config, caption);
    }
}
