@import '../design-tokens/tokens';


.mc-dropdown__item {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    width: 100%;

    border: 1px solid transparent;
    outline: none;

    padding: $dropdown-item-size-padding;

    text-align: left;
    white-space: nowrap;

    &:not([disabled]):not(.mc-disabled){
        cursor: pointer;
    }

    .mc-dropdown__item-caption {
        margin-top: 4px;
    }
}

.mc-dropdown__trigger {
    margin-left: auto;
    padding-left: $dropdown-trigger-size-padding-left;
}

.mc-dropdown__panel {
    min-width: 100%; // prevents some animation twitching and test inconsistencies in IE11

    overflow: auto;

    margin-top: -1px;

    border: {
        width: $dropdown-panel-size-border-width;
        style: solid;
    }

    border-bottom-left-radius: $dropdown-panel-size-border-radius;
    border-bottom-right-radius: $dropdown-panel-size-border-radius;

    padding: $dropdown-panel-size-padding;
}

.mc-dropdown__content {
    h1, h2, h3, h4, h5 {
        padding: 8px 16px 4px 16px;
        margin: 0;
    }
}
