@import '../design-tokens/pt-2022/tokens';


.mc-dropdown__panel {
    margin-top: -1px;

    max-width: var(--mc-dropdown-panel-size-max-width, $dropdown-panel-size-max-width);

    border: {
        width: var(--mc-dropdown-panel-size-border-width, $dropdown-panel-size-border-width);
        style: solid;
    }

    border-bottom-left-radius: var(--mc-dropdown-panel-size-border-radius, $dropdown-panel-size-border-radius);
    border-bottom-right-radius: var(--mc-dropdown-panel-size-border-radius, $dropdown-panel-size-border-radius);

    padding: var(--mc-dropdown-panel-size-padding, $dropdown-panel-size-padding);

    &.mc-dropdown__panel_nested {
        border-top-left-radius: var(--mc-dropdown-panel-size-border-radius, $dropdown-panel-size-border-radius);
        border-top-right-radius: var(--mc-dropdown-panel-size-border-radius, $dropdown-panel-size-border-radius);
    }

    // Prevent users from interacting with the panel while it's animating. Note that
    // people won't be able to click through it, because the overlay pane will catch the click.
    // This fixes the following issues:
    //  * Users accidentally opening sub-menus when the `overlapTrigger` option is enabled.
    //  * Users accidentally tapping on content inside the sub-menu on touch devices, if the
    //    sub-menu overlaps the trigger. The issue is due to touch devices emulating the
    //    `mouseenter` event by dispatching it on tap.
    &.ng-animating {
        pointer-events: none;
    }
}

.mc-dropdown__content {
    display: flex;
    flex-direction: column;
}
