@import '../design-tokens/tokens';
@import '../core/styles/common/vendor-prefixes';


.mc-dropdown-item {
    @include user-select(none);

    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    width: 100%;

    border: 1px solid transparent;
    outline: none;

    padding: var(--mc-dropdown-item-size-padding, $dropdown-item-size-padding);

    text-align: left;
    white-space: nowrap;

    &:not([disabled]) {
        cursor: pointer;
    }

    .mc-dropdown-item-caption {
        margin-top: 4px;
    }

    .docs-navbar-version__num {
        margin-right: 4px;
    }

    & > div {
        width: 100%;
    }
}

.mc-dropdown__group-header {
    @include user-select(none);

    padding: var(--mc-dropdown-item-size-padding, $dropdown-group-header-size-default-padding);

    &.mc-dropdown__group-header_small {
        padding: var(--mc-dropdown-item-size-padding, $dropdown-group-header-size-small-padding);
    }
}

.mc-dropdown__divider {
    height: var(--mc-dropdown-item-size-padding, $dropdown-divider-size-height);

    margin: var(--mc-dropdown-item-size-padding, $dropdown-divider-size-margin);
}
