@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';

@mixin _mc-navbar-theme-color($theme) {
    $palette: map-get($theme, primary);

    background-color: mc-color($palette, 700);

    [mc-icon], .mc-icon {
        color: mc-color($palette, 100);
    }

    mc-navbar-item.mc-navbar-item-active {
        $active-lighten: 5%;
        background-color: lighten(mc-color($palette, 700), $active-lighten)
    }

    mc-navbar-item[disabled] {
        > mc-navbar-title, .mc-navbar-title, [mc-icon] {
            opacity: 0.3;
        }
    }

    mc-navbar-item, .mc-navbar-item, .mc-navbar-title {
        color: mc-color($palette, 100);
    }

    mc-navbar-item, .mc-navbar-item {
        outline: 0;
    }

    mc-navbar-item:not([disabled]), .mc-navbar-item:not([disabled]) {
        outline: 0;

        &.cdk-keyboard-focused, &.cdk-program-focused  {
            $focus-color: mc-color($primary);

            border-color: $focus-color;
            box-shadow: 0 0 0 2px $focus-color;
        }
    }

    mc-navbar-item:hover:not([disabled]):not(.mc-progress) {
        $hover-lighten: 5%;
        background-color: lighten(mc-color($palette, 700), $hover-lighten)
    }

    mc-navbar-item.mc-progress:hover:not([disabled]) {
        $bg-lighten: 15%;
        background-color: lighten(mc-color($palette, 800), $bg-lighten);
    }

    .mc-navbar-brand {
        .mc-navbar-title {
            opacity: 0.5;
        }
    }
}

@mixin mc-navbar-theme($theme) {
    .mc-navbar {
        @include _mc-navbar-theme-color($theme);
    }
}

@mixin mc-navbar-typography($config) {
    .mc-navbar-title {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-navbar-item {
        .mc-navbar-title {
            @include mc-typography-level-to-styles($config, body);
        }
    }

    .mc-navbar-brand {
        .mc-navbar-title {
            @include mc-typography-level-to-styles($config, title);
        }
    }
}
