
$mc-navbar-h-padding: 0px;
$mc-navbar-height: 48px;
$mc-navbar-item-h-padding: 16px;
$mc-navbar-dropdown-v-padding: 4px;
$mc-navbar-dropdown-link-v-padding: 6px;
$mc-navbar-dropdown-link-h-padding: 16px;
$mc-navbar-brand-h-padding: 12px;
$mc-navbar-brand-margin-right: 24px;
$mc-navbar-title-icon-space: 8px;
$mc-navbar-icon-min-width: 15px;


%mc-navbar-container-base {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%mc-nav-bar-base {
    position: relative;
    height: $mc-navbar-height;

    padding: 0 $mc-navbar-h-padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: $mc-navbar-title-icon-space;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: $mc-navbar-title-icon-space;
    }
}

%mc-navbar-item-base {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $mc-navbar-item-h-padding;
    padding-right: $mc-navbar-item-h-padding;
    background-color: transparent;
    border: none;
}

%mc-navbar-brand-base {
    @extend %mc-navbar-item-base;
    padding-left: 0;
    padding-right: $mc-navbar-brand-h-padding;
    margin-right: $mc-navbar-brand-margin-right;

    .mc-navbar-title {
        padding-left: $mc-navbar-brand-h-padding;
        padding-right: 0;
    }
}

%mc-navbar-title-base {
    white-space: nowrap;
}
