@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';


@mixin mc-navbar-theme($theme) {
    $focused-color: map-get(map-get($theme, states), focused-color);

    $navbar: map-get(map-get($theme, components), navbar);

    .mc-navbar {
        background-color: map-get($navbar, background-color);

        .mc-navbar-title,
        .mc-icon {
            color: map-get($navbar, color);
        }
    }

    .mc-navbar-brand {
        .mc-navbar-title {
            opacity: 0.5;
        }
    }

    .mc-navbar-item {
        outline: 0;

        color: map-get($navbar, item_color);

        &:not([disabled]) {
            outline: 0;

            &.cdk-keyboard-focused {
                box-shadow: inset 0 0 0 2px $focused-color;
            }
        }

        &.mc-navbar-item-active {
            background-color: map-get($navbar, item_state-active_color);
        }

        &:hover:not([disabled]):not(.mc-progress) {
            background-color: map-get($navbar, item_state-hover_color);
        }

        &.mc-progress:hover:not([disabled]) {
            background-color: map-get($navbar, item_state-progress_color);
        }

        &[disabled] {
            .mc-navbar-title,
            .mc-icon {
                opacity: 0.3;
            }
        }
    }
}

@mixin mc-navbar-typography($config) {
    .mc-navbar-title {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-navbar-brand {
        .mc-navbar-title {
            @include mc-typography-level-to-styles($config, title);
        }
    }
}
