@import '../design-tokens/index';


%mc-navbar-container-base {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

%mc-nav-bar-base {
    position: relative;
    height: $navbar-size-height;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: $navbar-size-icon-margin-left;
    }

    [mc-icon] {
        min-width: 16px;
        min-height: 16px;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: $navbar-size-icon-margin-left;
    }
}

%mc-navbar-item-base {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $navbar-item-size-padding;
    padding-right: $navbar-item-size-padding;
}

%mc-navbar-brand-base {
    @extend %mc-navbar-item-base;
    padding-left: 0;
    padding-right: $navbar-brand-size-padding;
    margin-right: $navbar-brand-size-margin-right;

    .mc-navbar-title {
        padding-left: $navbar-brand-size-padding;
        padding-right: 0;
    }
}

%mc-navbar-title-base {
    white-space: nowrap;
}
