@import '../design-tokens/tokens';


%mc-navbar-container-base {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

%mc-nav-bar-base {
    position: relative;
    height: var(--mc-navbar-size-height, $navbar-size-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }

    [mc-icon] {
        min-width: 16px;
        min-height: 16px;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }
}

%mc-navbar-item-base {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);
    padding-right: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);
}

%mc-navbar-brand-base {
    @extend %mc-navbar-item-base;
    padding-left: 0;
    padding-right: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
    margin-right: var(--mc-navbar-brand-size-margin-right, $navbar-brand-size-margin-right);

    .mc-navbar-title {
        padding-left: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
        padding-right: 0;
    }
}

%mc-navbar-title-base {
    white-space: nowrap;
}
