@import '../design-tokens/tokens';


.mc-navbar-title {
    display: inline-block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mc-navbar-item {
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

    height: var(--mc-navbar-item-size-height, $navbar-item-size-height);

    padding-left: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);
    padding-right: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);

    &.mc-opened.mc-navbar-item_bento {
        position: absolute;

        top: 0;
        right: 0;
    }

    & .mc-icon {
        min-width: 16px;
        min-height: 16px;
    }

    .mc-badge {
        position: absolute;
    }
}

.mc-navbar-item.mc-horizontal {
    & .mc-icon + .mc-navbar-title,
    & .mc-navbar-title + .mc-icon {
        padding-left: var(--mc-navbar-size-icon-margin, $navbar-size-icon-margin)
    }

    &.mc-navbar-item_collapsed .mc-navbar-title {
        display: none;
    }

    .mc-badge {
        top: 8px;
        right: 8px;
    }
}

.mc-navbar-item.mc-vertical {
    /* stylelint-disable no-descending-specificity */
    & .mc-navbar-title {
        padding-left: 26px;
    }

    & .mc-icon + .mc-navbar-title,
    & .mc-navbar-title + .mc-icon {
        padding-left: var(--mc-vertical-navbar-size-icon-margin, $vertical-navbar-size-icon-margin);
    }

    &.mc-opened {
        & .mc-badge {
            right: 16px;
        }
    }

    &.mc-closed {
        & .mc-badge {
            top: 8px;
            right: 8px;
        }

        & .mc-navbar-title {
            display: none;
        }

        &.mc-navbar-item_button {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.mc-navbar-item.mc-navbar-item_button .mc-icon-button {
    flex: 1;

    & .mc-button-wrapper {
        justify-content: center;

        & .mc-icon.mc-icon_left {
            margin-left: unset;
        }

        & .mc-icon.mc-icon_right {
            margin-right: unset;
        }
    }
}

a.mc-navbar-item,
a.mc-navbar-title {
    text-decoration: none;
}
