@import '../design-tokens/pt-2022/tokens';


.mc-navbar-title,
.mc-navbar-subtitle {
    display: inline-block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mc-navbar-item {
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

    padding-left: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);
    padding-right: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);

    &.mc-expanded.mc-navbar-bento {
        position: absolute;

        top: 0;
        right: 0;

        z-index: 1;
    }

    .mc-badge {
        position: absolute;
    }
}

.mc-navbar-item__title {
    display: flex;

    flex-direction: column;

    align-self: center;

    min-width: 0;
}

.mc-navbar-item__container {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
    justify-content: space-between;

    min-width: 0;

    & .mc-icon {
        align-self: center;
    }
}

.mc-navbar-item.mc-horizontal {
    height: var(--mc-navbar-item-size-height, $navbar-item-size-height);

    & .mc-icon {
        min-width: 16px;
        min-height: 16px;
    }

    & .mc-navbar-item__title + .mc-icon {
        margin-left: 2px;
    }

    & .mc-icon + .mc-navbar-item__container {
        margin-left: var(--mc-navbar-size-icon-margin, $navbar-size-icon-margin)
    }

    &.mc-navbar-item_collapsed .mc-navbar-item__container {
        display: none;
    }

    .mc-badge {
        top: 8px;
        right: 8px;
    }
}

.mc-navbar-item.mc-vertical {
    height: var(--mc-navbar-item-size-height_vertical, $navbar-item-size-height_vertical);

    /* stylelint-disable no-descending-specificity */
    & > .mc-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 24px;
        min-height: 24px;
    }

    & .mc-navbar-item__title,
    & .mc-icon + .mc-navbar-item__title,
    & .mc-navbar-item__title + .mc-icon {
        padding-left: var(--mc-vertical-navbar-size-icon-margin, $vertical-navbar-size-icon-margin);
    }

    &.mc-navbar-item_button {
        padding-left: 12px;
        padding-right: 12px;
    }

    &.mc-expanded {
        & .mc-badge {
            top: 16px;
            right: 16px;
        }
    }

    &.mc-collapsed {
        & .mc-badge {
            top: 4px;
            right: 4px;
        }

        & .mc-navbar-item__title {
            display: none;
        }
    }
}

.mc-navbar-item.mc-navbar-item_button .mc-icon-button {
    flex: 1;

    & .mc-button-wrapper {
        justify-content: center;

        & .mc-icon.mc-icon_left {
            margin-left: unset;
        }

        & .mc-icon.mc-icon_right {
            margin-right: unset;
        }
    }
}

a.mc-navbar-item,
a.mc-navbar-title {
    text-decoration: none;
}

.mc-navbar-item,
.mc-navbar-brand,
.mc-navbar-toggle {
    & .mc-navbar-item__overlay {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    & [mc-button] {
        z-index: 1;
    }
}
