@import '../design-tokens/pt-2022/tokens';


.mc-navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.mc-navbar-container {
    display: flex;

    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
