@import 'navbar-theme';


.mc-navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: auto;

    & .mc-navbar-container {
        position: relative;
        flex-direction: column;
        align-items: unset;
    }

    & .mc-navbar-item,
    & .mc-navbar-brand {
        height: 48px;

        & .mc-icon + .mc-navbar-title {
            padding-left: 10px;
        }
    }

    & .mc-navbar-divider {
        height: 1px;

        margin: 8px 16px;
    }

    &.mc-navbar_closed {
        width: 48px;

        & .mc-navbar-item {
            &.mc-navbar-item_button {

            }
        }

        & .mc-navbar-title {
            display: none;
        }

        & .mc-navbar-brand {
            align-items: center;
            justify-content: center;

            padding: 0;
            margin: 0;
        }
    }

    &.mc-navbar_opened {
        width: 240px;

        & .mc-navbar-container:first-child .mc-navbar-item:first-child {
            position: absolute;
            top: 0;
            right: 0;
        }

        & .mc-navbar-brand {
            flex-direction: column;
            align-items: unset;

            height: unset;

            padding-left: 16px;

            & .mc-navbar-logo {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                width: 48px;
                height: 48px;
            }

            & .mc-navbar-title {
                height: 48px;
                padding-left: 0;
            }
        }
    }
}

.mc-navbar-container.mc-navbar-left,
.mc-navbar-container.mc-navbar-right {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.mc-navbar-toggle {
    height: 48px;
}
