@import '../design-tokens/tokens';
@import 'navbar-theme';


.mc-navbar-title {
    position: relative;

    height: 100%;

    display: flex;
    align-items: center;

    white-space: nowrap;
}

.mc-navbar-item {
    position: relative;

    display: flex;
    align-items: center;

    height: 48px;

    & .mc-icon {
        min-width: 16px;
        min-height: 16px;
    }

    padding-left: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);
    padding-right: var(--mc-navbar-item-size-padding, $navbar-item-size-padding);

    &.mc-navbar-item_button .mc-icon-button {
        flex: 1;

        & .mc-button-wrapper {
            justify-content: center;

            & .mc-icon.mc-icon_left {
                margin-left: unset;
            }

            & .mc-icon.mc-icon_right {
                margin-right: unset;
            }
        }
    }

    &.mc-opened {
    }

    &.mc-closed.mc-navbar-item_button {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.mc-navbar-item_horizontal {
    height: 100%;

    & .mc-icon + .mc-navbar-title,
    & .mc-navbar-title + .mc-icon {
        padding-left: 4px
    }

    //mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
    //    padding-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    //}
}

.mc-navbar-item_vertical {
    & .mc-navbar-title {
        padding-left: 26px;
    }

    & .mc-icon + .mc-navbar-title,
    & .mc-navbar-title + .mc-icon {
        padding-left: 10px;
    }
}

.mc-navbar-brand {
    //position: relative;

    display: flex;
    align-items: center;

    //padding-right: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
    //margin-right: var(--mc-navbar-brand-size-margin-right, $navbar-brand-size-margin-right);
    padding-right: 24px;

    .mc-navbar-title {
        padding-left: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
        padding-right: 0;
    }
}

mc-navbar-title.mc-navbar-collapsed-title {
    display: none;
}

.mc-navbar-divider {
    display: block;
}

.mc-navbar-vertical-divider {
    height: 1px;

    margin: 8px 16px;
}

.mc-navbar-horizontal-divider {
    width: 1px;

    height: 58%;

    margin-left: 8px;
    margin-right: 8px;
}
