@import '../design-tokens/pt-2022/tokens';


.mc-navbar-logo {
    display: flex;
}

.mc-navbar-brand {
    position: relative;

    display: flex;
    align-items: center;

    & .mc-navbar-title {
        cursor: pointer;
    }
}

a.mc-navbar-brand {
    text-decoration: none;
}

.mc-navbar-brand.mc-horizontal {
    height: var(--mc-navbar-item-size-height, $navbar-item-size-height);

    padding-right: var(--mc-navbar-brand-size-margin-right, $navbar-brand-size-margin-right);

    & .mc-navbar-title {
        padding-left: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
        padding-right: 0;
    }
}

.mc-navbar-brand.mc-vertical {
    & .mc-navbar-logo {
        flex-direction: column;

        height: var(--mc-navbar-item-size-height-vertical, $navbar-item-size-height-vertical);
    }

    & .mc-navbar-title {
        display: flex;
        align-items: center;

        height: var(--mc-navbar-item-size-height-vertical, $navbar-item-size-height-vertical);

        padding-left: 0;
    }

    &.mc-expanded {
        align-items: unset;

        & .mc-navbar-logo {
            padding-left: 12px;

            justify-content: center;
        }

        & .mc-navbar-title {
            padding-left: 16px;
        }
    }

    &.mc-collapsed {
        padding: 0;

        & .mc-navbar-logo {
            align-items: center;
            justify-content: center;

            width: 100%;
        }

        & .mc-navbar-title {
            display: none;
        }
    }
}
