@import 'navbar-theme';


mc-navbar {
    display: flex;
}

.mc-navbar {
    position: relative;
    height: var(--mc-navbar-size-height, $navbar-size-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }

    [mc-icon] {
        min-width: 16px;
        min-height: 16px;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }

    & .mc-navbar-divider {
        width: 1px;
        height: 28px;

        margin: 8px;
    }
}

.mc-navbar-container.mc-navbar-left,
.mc-navbar-container.mc-navbar-right {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}
