.mc-vertical-navbar {
    display: flex;
    flex-direction: column;

    height: auto;

    & .mc-navbar-container {
        flex-direction: column;
        align-items: unset;
    }

    &.mc-opened {
        width: 240px;
    }

    &.mc-closed {
        width: 48px;
    }
}
