@import '../design-tokens/pt-2022/tokens';


.mc-vertical-navbar {
    position: relative;

    width: var(--mc-vertical-navbar-size-states-closed-width, $vertical-navbar-size-states-collapsed-width);
    height: 100%;

    & .mc-navbar-container {
        flex-direction: column;
        align-items: unset;
    }

    & .mc-vertical-navbar__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        &.mc-collapsed {
            width: var(--mc-vertical-navbar-size-states-closed-width, $vertical-navbar-size-states-collapsed-width);
        }

        &.mc-expanded {
            width: var(--mc-vertical-navbar-size-states-opened-width, $vertical-navbar-size-states-expanded-width);
        }
    }
}
