@mixin mc-splitter-theme($theme) {
    $background: map-get($theme, background);

    .mc-gutter {
        cursor: col-resize;

        &:hover,
        &.mc-gutter_dragged {
            // todo
            // background-color: mix(map-get($background, background-disabled), map-get($background, overlay-hover));
            background-color: map-get($background, background-disabled);
        }

        &.mc-gutter_vertical {
            cursor: row-resize;
        }

        &[disabled] {
            // todo background-color: mix(mc-color($background, overlay-disabled), map-get($background, overlay-hover));
            background-color: mc-color($background, overlay-disabled);

            cursor: default;
        }
    }

    .mc-gutter-ghost {
        background: mc-color($background, overlay-disabled);
    }
}
