.mc-splitter {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow: hidden;

    .mc-splitter-area {
        overflow: hidden;

        &_resizing {
            pointer-events: none;
        }
    }

}

.mc-gutter {
    display: flex;

    flex-grow: 0;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;

    overflow: hidden;

    &.mc-gutter_vertical > .mc-icon {
        transform: rotate(90deg);
    }
}

.mc-gutter-ghost {
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;

    &.mc-gutter-ghost_vertical > .mc-icon {
        transform: rotate(90deg);
    }

    &.mc-gutter-ghost_visible {
        display: block;
    }
}
