@import '../core/theming/theming';
@import '../core/theming/palette';


@mixin card-type($color, $second, $is-dark) {
    box-shadow:
        inset -1px 0 0 0 mc-color($second, if($is-dark, darker, lighter)),
        inset 0 1px 0 0 mc-color($second, if($is-dark, darker, lighter)),
        inset 0 -1px 0 0 mc-color($second, if($is-dark, darker, lighter));

    background-color: mc-color($color, if($is-dark, darker, lighter));

    border-left-color: mc-color($color);
}

@mixin mc-card-theme($theme) {
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    $info: map-get($theme, info);
    $success: map-get($theme, success);
    $warning: map-get($theme, warning);

    $is-dark: map-get($theme, is-dark);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $selected-color: map-get(map-get($theme, states), selected-color);

    .mc-card {
        color: map-get($foreground, text);

        &.mc-card_info {
            @include card-type($info, $second, $is-dark);
        }

        &.mc-card_warning {
            @include card-type($warning, $second, $is-dark);
        }

        &.mc-card_success {
            @include card-type($success, $second, $is-dark);
        }

        &.mc-card_error {
            @include card-type($error, $second, $is-dark);
        }

        &.mc-card_white {
            $popup-common: map-get(map-get($theme, components), popup-common);

            background-color: map-get($popup-common, background);
        }

        &.mc-selected {
            background-color: $selected-color;
        }

        &:not(.mc-card_readonly):hover {
            .mc-card__overlay {
                background: map-get($background, overlay-hovered);
            }
        }

        &.cdk-keyboard-focused {
            $focused-color: map-get(map-get($theme, states), focused-color);

            box-shadow: 0 0 0 2px $focused-color;
        }
    }
}
