@import '../design-tokens/index';
@import '../core/theming/theming';
@import '../core/theming/palette';


@mixin card-type($color, $background, $shadow-color) {
    box-shadow:
        inset -1px 0 0 0 $shadow-color,
        inset 0 1px 0 0 $shadow-color,
        inset 0 -1px 0 0 $shadow-color;

    background-color: $background;

    border-left-color: $color;
}

@mixin mc-card-theme($theme) {
    $is-dark: map-get($theme, is-dark);

    .mc-card {
        color: $color-foreground-text;

        &.mc-card_info {
            @if($is-dark) {
                @include card-type($color-info-default, $color-info-darker, $color-second-darker);
            } @else {
                @include card-type($color-info-default, $color-info-lighter, $color-second-lighter);
            }
        }

        &.mc-card_warning {
            @if($is-dark) {
                @include card-type($color-warning-default, $color-warning-darker, $color-second-darker);
            } @else {
                @include card-type($color-warning-default, $color-warning-lighter, $color-second-lighter);
            }
        }

        &.mc-card_success {
            @if($is-dark) {
                @include card-type($color-success-default, $color-success-darker, $color-second-darker);
            } @else {
                @include card-type($color-success-default, $color-success-lighter, $color-second-lighter);
            }
        }

        &.mc-card_error {
            @if($is-dark) {
                @include card-type($color-error-default, $color-error-darker, $color-second-darker);
            } @else {
                @include card-type($color-error-default, $color-error-lighter, $color-second-lighter);
            }
        }

        &.mc-card_white {
            background-color: $popup-common-color-background;
        }

        &.mc-selected {
            background-color: $globals-states-selected-color;
        }

        &:not(.mc-card_readonly):hover {
            .mc-card__overlay {
                background: $color-background-overlay-hovered;
            }
        }

        &.cdk-keyboard-focused {
            box-shadow: 0 0 0 2px $globals-states-focused-color;
        }
    }
}
