@import '../design-tokens/pt-2022/tokens';
@import '../core/theming/theming';


@mixin card-type($card) {
    box-shadow:
        inset -1px 0 0 0 map-get($card, shadow),
        inset 0 1px 0 0 map-get($card, shadow),
        inset 0 -1px 0 0 map-get($card, shadow);

    background-color: map-get($card, background);

    border-left-color: map-get($card, vertical-line);
}

@mixin mc-card-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $card: map-get(map-get($theme, components), card);
    $popup: map-get(map-get($theme, components), popup);

    $is-dark: map-get($theme, is-dark);

    .mc-card {
        color: map-get($foreground, text);

        &.mc-card_error {
            @include card-type(map-get($card, error));
        }

        &.mc-card_warning {
            @include card-type(map-get($card, warning));
        }

        &.mc-card_success {
            @include card-type(map-get($card, success));
        }

        &.mc-card_info {
            @include card-type(map-get($card, info));
        }

        &.mc-card_white {
            background-color: map-get($popup, background);
        }

        &.mc-selected {
            background-color: map-get(map-get($theme, states), selected-color);
        }

        &:not(.mc-card_readonly):hover {
            .mc-card__overlay {
                background: map-get($background, overlay-hover);
            }
        }

        &.cdk-keyboard-focused {
            box-shadow: 0 0 0 2px map-get(map-get($theme, states), focused-color);
        }
    }
}
