td {
    padding: 16px;
}

/*Цвета ссылок должны браться как переменные из необходмой темы*/

.warning {
    color: #F0D49B !important;
    border-bottom: 1px solid #F0D49B !important;
}

.ok {
    color: #B79A45 !important;
    border-bottom: 1px solid #B79A45 !important;
}
