@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';
@import '../../lib/core/visual/prebuilt/default-visual';

//@import '../../lib/core/theming/prebuilt/default-theme';
@import '../../lib/core/theming/prebuilt/dark-theme';

@include mosaic-visual();

.mc-column-container {
    margin-left: 15px;
    margin-right: 15px;
}

.mc-alert {
    margin-bottom: 15px;
}

.alert-footer {
    margin-top: 8px;
}
