@import '../../mosaic/core/visual/prebuilt/default-visual';


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

app {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 10%;
}

.popover-485 {
    .mc-popover {
        max-width: 485px !important;
    }
}
