@import '../core/theming/palette';
@import '../core/theming/theming';
@import '../core/styles/common/popup';
@import '../core/styles/typography/typography-utils';


$mc-datepicker-selected-today-box-shadow-width: 1px;
$mc-datepicker-selected-fade-amount: 0.6;
$mc-datepicker-today-fade-amount: 0.2;

@mixin _mc-datepicker-color($color) {
    .mc-selected {
        background: $color;
    }

    .mc-calendar__body_disabled > .mc-selected {
        background-color: fade-out($color, $mc-datepicker-selected-fade-amount);
    }
}

@mixin mc-datepicker-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    $foreground: map-get($theme, foreground);

    $selected-color: map-get(map-get($theme, states), selected-color);

    .mc-calendar__table-header {
        color: mc-color($second, 400);
    }

    .mc-datepicker-toggle__button.mc-icon-button {
        border-color: transparent;
        border-radius: 0;
        background: transparent;
        opacity: 1;

        .mc-icon {
            color: map-get($foreground, icon);
        }
    }

    .mc-calendar__table-header-divider::after {
        background: mc-color($foreground, divider);
    }

    .mc-calendar__body-label {
        color: mc-color($foreground, text);
    }

    .mc-calendar__body-cell-content {
        color: mc-color($foreground, text);
        border-color: transparent;
    }

    .mc-calendar__body_disabled > .mc-calendar__body-cell-content:not(.mc-selected) {
        color: mc-color($foreground, text-disabled);
    }

    .cdk-keyboard-focused .mc-calendar__body_active,
    .cdk-program-focused .mc-calendar__body_active {
        & > .mc-calendar__body-cell-content {
            $focused-color: map-get(map-get($theme, states), focused-color);

            border-color: $focused-color;
            box-shadow: 0 0 0 1px $focused-color;
        }
    }

    .mc-calendar__body-cell:not(.mc-calendar__body_disabled):hover {
        & > .mc-calendar__body-cell-content:not(.mc-selected) {
            background-color: mc-color($second, A60);
        }
    }

    .mc-calendar__controls {
        .mc-button,
        .mc-icon-button {
            border-radius: 0;
            border-color: transparent;
            background-color: transparent;

            .mc-button-overlay {
                z-index: -1;
            }

            &:hover {
                background: mc-color($second, A60);
            }
        }
    }

    .mc-calendar__body-today {
        color: mc-color($primary);
    }

    .mc-calendar__body_disabled > .mc-calendar__body-today:not(.mc-selected) {
        border-color: fade-out(mc-color($foreground, text), $mc-datepicker-today-fade-amount);
    }

    @include _mc-datepicker-color($selected-color);

    .mc-datepicker__content {
        @include popup-params($theme);

        color: mc-color($foreground, text);
    }

    .mc-active {
        color: mc-color($primary);
    }
}

@mixin mc-datepicker-typography($config) {
    .mc-calendar {
        font-family: mc-font-family($config);
    }

    .mc-calendar__body {
        font-size: mc-font-size($config, body);
    }

    .mc-calendar__period-button {
        font: {
            size: mc-font-size($config, body);
            weight: mc-font-weight($config, body);
        }
    }

    .mc-calendar__body-label {
        font: {
            size: mc-font-size($config, body-strong);
            weight: mc-font-weight($config, body-strong);
        }
    }

    .mc-calendar__table-header th {
        font: {
            size: mc-font-size($config, caption);
            weight: mc-font-weight($config, body);
        }
    }

    .mc-calendar__body-today {
        font-weight: mc-font-weight($config, body-strong);
    }
}
