@import '../core/theming/palette';
@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';


$mc-datepicker-selected-today-box-shadow-width: 1px;
$mc-datepicker-selected-fade-amount: 0.6;
$mc-datepicker-today-fade-amount: 0.2;

@mixin _mc-datepicker-color($color) {
    .mc-calendar__body_selected {
        background: $color;
    }

    .mc-calendar__body_disabled > .mc-calendar__body_selected {
        background-color: fade-out($color, $mc-datepicker-selected-fade-amount);
    }
}

@mixin mc-datepicker-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $is-dark: map-get($theme, is-dark);

    .mc-calendar {
        border: {
            color: mc-color($second);
            width: 1px;
            style: solid;
        }
    }

    .mc-calendar__table-header {
        color: mc-color($second, 400);
    }

    .mc-datepicker-toggle__button.mc-icon-button {
        border-color: transparent;
        border-radius: 0;
        background: transparent;

        .mc-icon {
            color: mc-color($second, 400);
        }
    }

    .mc-calendar__table-header-divider::after {
        background: mc-color($foreground, divider);
    }

    .mc-calendar__body-label {
        color: mc-color($foreground, text);
    }

    .mc-calendar__body-cell-content {
        color: mc-color($foreground, text);
        border-color: transparent;
    }

    .mc-calendar__body_disabled > .mc-calendar__body-cell-content:not(.mc-calendar__body_selected) {
        color: mc-color($foreground, text-disabled);
    }

    .cdk-keyboard-focused .mc-calendar__body_active,
    .cdk-program-focused .mc-calendar__body_active {
        & > .mc-calendar__body-cell-content {
            $focus-color: mc-color($primary);

            border-color: $focus-color;
            box-shadow: 0 0 0 1px $focus-color;
        }
    }

    .mc-calendar__body-cell:not(.mc-calendar__body_disabled):hover {
        & > .mc-calendar__body-cell-content:not(.mc-calendar__body_selected) {
            background-color: mc-color($second, A60);
        }
    }

    .mc-calendar__controls {
        .mc-button, .mc-icon-button {
            border-radius: 0;
            border-color: transparent;
            background-color: transparent;

            .mc-button-overlay {
                z-index: -1;
            }

            &:hover {
                background: mc-color($second, A60);
            }
        }
    }

    .mc-calendar__body-today {
        color: mc-color($primary, 500);
    }

    .mc-calendar__body_disabled > .mc-calendar__body-today:not(.mc-calendar__body_selected) {
        border-color: fade-out(mc-color($foreground, text), $mc-datepicker-today-fade-amount);
    }

    @include _mc-datepicker-color(mc-color($primary, if($is-dark, 700, 100)));

    .mc-datepicker__content {
        box-shadow: 0 1px 10px 0 rgba(black, 0.12);
        background-color: map-get($background, background-popup);
        color: mc-color($foreground, text);

        &.mc-warn {
            @include _mc-datepicker-color(mc-color(map-get($theme, error)));
        }
    }

    .mc-datepicker-toggle_active {
        color: mc-color(map-get($theme, primary));

        &.mc-warn {
            color: mc-color(map-get($theme, error));
        }
    }
}

@mixin mc-datepicker-typography($config) {
    .mc-calendar {
        font-family: mc-font-family($config);
    }

    .mc-calendar__body {
        font-size: mc-font-size($config, body);
    }

    .mc-calendar__period-button {
        font: {
            size: mc-font-size($config, body);
            weight: mc-font-weight($config, body);
        }
    }

    .mc-calendar__body-label {
        font: {
            size: mc-font-size($config, body-strong);
            weight: mc-font-weight($config, body-strong);
        }
    }

    .mc-calendar__table-header th {
        font: {
            size: mc-font-size($config, caption);
            weight: mc-font-weight($config, body);
        }
    }

    .mc-calendar__body-today {
        font-weight: mc-font-weight($config, body-strong);
    }
}
