@import '../design-tokens/index';
@import '../core/styles/common/layout';


.mc-calendar {
    display: block;
}

.mc-calendar__header {
    padding: $datepicker-calendar-size-padding $datepicker-calendar-size-padding 0 $datepicker-calendar-size-padding;
}

.mc-calendar__content {
    padding: 0 $datepicker-calendar-size-padding $datepicker-calendar-size-padding $datepicker-calendar-size-padding;
    outline: none;
}

.mc-calendar__controls {
    display: flex;
}

.mc-calendar-spacer {
    flex: 1 1 auto;
}

.mc-calendar__period-button {
    min-width: 0;
}

.mc-calendar__previous-button::after {
    border-left-width: $datepicker-calendar-size-icon-border-width;
    transform: $datepicker-calendar-size-icon-prev-icon-transform;
}

.mc-calendar__next-button::after {
    border-right-width: $datepicker-calendar-size-icon-border-width;
    transform: $datepicker-calendar-size-icon-nex-icon-transform;
}

.mc-calendar__table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.mc-calendar__table-header th {
    text-align: center;
    padding: 0 0 $datepicker-calendar-size-padding 0;
}

.mc-calendar__table-header-divider {
    position: relative;
    height: $datepicker-calendar-size-divider-width;

    // We use an absolutely positioned pseudo-element as the divider line for the table header so we
    // can extend it all the way to the edge of the calendar.
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -$datepicker-calendar-size-padding;
        right: -$datepicker-calendar-size-padding;
        height: $datepicker-calendar-size-divider-width;
    }
}
