@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/layout';


.mc-calendar {
    display: block;
}

.mc-calendar-header {
    display: flex;

    padding:
        var(--mc-datepicker-calendar-size-padding-top, $datepicker-calendar-size-padding-top)
        var(--mc-datepicker-calendar-size-padding-horizontal, $datepicker-calendar-size-padding-horizontal)
        var(--mc-datepicker-calendar-size-padding-blocks, $datepicker-calendar-size-padding-blocks)
        var(--mc-datepicker-calendar-size-padding-horizontal, $datepicker-calendar-size-padding-horizontal);
}

.mc-calendar__content {
    padding:
        0
        var(--mc-datepicker-calendar-size-padding-horizontal, $datepicker-calendar-size-padding-horizontal)
        var(--mc-datepicker-calendar-size-padding-horizontal, $datepicker-calendar-size-padding-horizontal)
        var(--mc-datepicker-calendar-size-padding-horizontal, $datepicker-calendar-size-padding-horizontal);
    outline: none;
}

.mc-calendar-spacer {
    flex: 1 1 auto;
}

.mc-calendar__period-button {
    min-width: 0;

    & .mc-icon {
        vertical-align: baseline;
    }
}

.mc-calendar__previous-button::after {
    border-left-width:
        var(--mc-datepicker-calendar-size-icon-border-width, $datepicker-calendar-size-icon-border-width);
    transform:
        var(--mc-datepicker-calendar-size-icon-prev-icon-transform, $datepicker-calendar-size-icon-prev-icon-transform);
}

.mc-calendar__next-button::after {
    border-right-width:
        var(--mc-datepicker-calendar-size-icon-border-width, $datepicker-calendar-size-icon-border-width);
    transform:
        var(--mc-datepicker-calendar-size-icon-nex-icon-transform, $datepicker-calendar-size-icon-nex-icon-transform);
}

.mc-calendar__table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.mc-calendar__table-header th {
    text-align: center;
    height: 30px;

    &.mc-calendar__table-header-divider {
        position: relative;
        height: calc(
            var(--mc-datepicker-calendar-size-padding-blocks, #{$datepicker-calendar-size-padding-blocks}) - 2px
        );

        $horizontal-padding: $datepicker-calendar-size-padding-horizontal;

        // We use an absolutely positioned pseudo-element as the divider line for the table header so we
        // can extend it all the way to the edge of the calendar.
        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: calc(-1 * var(--mc-datepicker-calendar-size-padding-horizontal, #{$horizontal-padding}));
            right: calc(-1 * var(--mc-datepicker-calendar-size-padding-horizontal, #{$horizontal-padding}));

            height: var(--mc-datepicker-calendar-size-divider-width, $datepicker-calendar-size-divider-width);
        }
    }
}
