@import '../../cdk/a11y/a11y';


$mc-calendar-body-label-padding-start: 5% !default;
// We don't want the label to jump around when we switch between month and year views, so we use
// the same amount of padding regardless of the number of columns. We align the header label with
// the one third mark of the first cell, this was chosen somewhat arbitrarily to make it look
// roughly like the mock. Half way is too far since the cell text is center aligned.
$mc-calendar-body-label-side-padding: 33% / 7 !default;
$mc-calendar-body-cell-min-size: 32px !default;
$mc-calendar-body-cell-content-margin: 5% !default;
$mc-calendar-body-cell-content-padding: 8px !default;
$mc-calendar-body-cell-content-border-width: 1px !default;

$mc-calendar-body-min-size: 7 * $mc-calendar-body-cell-min-size !default;
$mc-calendar-body-cell-content-size: 100% - $mc-calendar-body-cell-content-margin * 2 !default;


.mc-calendar__body {
    min-width: $mc-calendar-body-min-size;
}

.mc-calendar__body-label {
    height: 0;
    line-height: 0;
    text-align: left;
    padding-left: $mc-calendar-body-label-side-padding;
    padding-right: $mc-calendar-body-label-side-padding;
}

.mc-calendar__body-cell {
    position: relative;
    height: 0;
    line-height: 0;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.mc-calendar__body_disabled {
    cursor: default;
}

.mc-calendar__body-cell-content {
    position: absolute;
    top: $mc-calendar-body-cell-content-margin;
    left: $mc-calendar-body-cell-content-margin;

    padding: $mc-calendar-body-cell-content-padding;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: $mc-calendar-body-cell-content-size;
    height: $mc-calendar-body-cell-content-size;

    // Prevents text being off-center on Android.
    line-height: 1;

    border-width: $mc-calendar-body-cell-content-border-width;
    border-style: solid;

    @include cdk-high-contrast {
        border: none;
    }
}

mc-month-view {
    .mc-calendar__body-cell-content {
        justify-content: flex-end;
    }
}

mc-multi-year-view,
mc-year-view {
    .mc-calendar__body-cell-content {
        justify-content: center;
    }
}

@include cdk-high-contrast {
    .mc-datepicker__popup:not(:empty),
    .mc-selected {
        outline: solid 1px;
    }

    .mc-calendar__body-today {
        outline: dotted 1px;
    }
}

[dir='rtl'] {
    .mc-calendar__body-label {
        text-align: right;
    }
}
