@import '../design-tokens/pt-2022/tokens';
@import '../../cdk/a11y/a11y';


$mc-calendar-body-cell-content-size: 100% - $datepicker-body-size-cell-margin * 2;


.mc-calendar__body {
    min-width: calc(7 * var(--mc-datepicker-body-size-cell-min-size, $datepicker-body-size-cell-min-size));
}

.mc-calendar__body-label {
    text-align: left;
    // We don't want the label to jump around when we switch between month and year views, so we use
    // the same amount of padding regardless of the number of columns. We align the header label with
    // the one third mark of the first cell, this was chosen somewhat arbitrarily to make it look
    // roughly like the mock. Half way is too far since the cell text is center aligned.
    padding: var(--mc-datepicker-body-size-label-paddings, $datepicker-body-size-label-paddings);
}

.mc-calendar__body-cell {
    position: relative;
    height: 0;
    line-height: 0;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.mc-calendar__body_disabled {
    cursor: default;
}

.mc-calendar__body-cell-content {
    position: absolute;
    top: var(--mc-datepicker-body-size-cell-margin, $datepicker-body-size-cell-margin);
    left: var(--mc-datepicker-body-size-cell-margin, $datepicker-body-size-cell-margin);

    padding: var(--mc-datepicker-body-size-cell-padding, $datepicker-body-size-cell-padding);

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: $mc-calendar-body-cell-content-size;
    height: $mc-calendar-body-cell-content-size;

    // Prevents text being off-center on Android.
    line-height: 1;

    border-width: var(--mc-datepicker-body-size-cell-border-width, $datepicker-body-size-cell-border-width);
    border-style: solid;

    @include cdk-high-contrast {
        border: none;
    }
}

mc-month-view {
    .mc-calendar__body-cell-content {
        justify-content: flex-end;
    }
}

mc-multi-year-view,
mc-year-view {
    .mc-calendar__body-cell-content {
        justify-content: center;
    }
}

@include cdk-high-contrast {
    .mc-datepicker__popup:not(:empty),
    .mc-selected {
        outline: solid 1px;
    }

    .mc-calendar__body-today {
        outline: dotted 1px;
    }
}

[dir='rtl'] {
    .mc-calendar__body-label {
        text-align: right;
    }
}
