@import './calendar';

$mc-datepicker-non-touch-calendar-cell-size: 40px;
$mc-datepicker-non-touch-calendar-width:
    $mc-datepicker-non-touch-calendar-cell-size * 7 + $datepicker-calendar-size-padding-horizontal * 2;
// Based on the natural height of the calendar in a month with 6 rows of dates
// (largest the calendar will get).
$mc-datepicker-non-touch-calendar-height: 352px;


.mc-datepicker__content {
    display: block;

    border: {
        width: 1px;
        style: solid;
    }


    .mc-calendar {
        width: $mc-datepicker-non-touch-calendar-width;
        height: $mc-datepicker-non-touch-calendar-height;
    }

    .mc-calendar__next-button[disabled],
    .mc-calendar__previous-button[disabled] {
        border: 0;
    }
}
