@import '../design-tokens/pt-2022/tokens';


.mc-datepicker-toggle:focus {
    outline: 0;
}

.mc-datepicker-toggle__button.mc-icon-button {
    width: var(--mc-datepicker-toggle-size-width, $datepicker-toggle-size-width);
    height: var(--mc-datepicker-toggle-size-height, $datepicker-toggle-size-height);
    margin-left: 2px;
}

.mc-form-field-appearance-legacy {
    .mc-form-field-prefix,
    .mc-form-field-suffix {
        .mc-datepicker-toggle__default-icon {
            width: 1em;
        }
    }
}

.mc-form-field:not(.mc-form-field-appearance-legacy) {
    .mc-form-field-prefix,
    .mc-form-field-suffix {
        .mc-datepicker-toggle__default-icon {
            display: block;
            width: 1.5em;
            height: 1.5em;
        }

        .mc-icon-button .mc-datepicker-toggle__default-icon {
            margin: auto;
        }
    }
}
