@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../mosaic/core/visual/prebuilt/default-visual';
// @import '../../mosaic/core/theming/prebuilt/default-theme';
@import '../../mosaic/core/theming/prebuilt/dark-theme';

@include mosaic-visual();

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

app {
    height: 100%;
    width: 100%;
}

.container {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    &-item {
        height: 100%;
    }
}

.mc-button {
    min-width: 85px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
    margin-bottom: 8px !important;
}

.custom-pos {
    align-self: end;
}
