@import '../../mosaic/core/visual/prebuilt/default-visual';

@include mosaic-visual();

.container {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    &-item {
        .mc-button {
            margin-top: 20px;
        }

    }
}

.customTooltipClass {

    .mc-tooltip-content {
        color: yellow;
        font-size: 18px;
    }
}
