/** No CSS for this example */

mc-splitter {
    display: flex;
    border: 1px solid black;
    height: 400px;
    margin: 2px;
}

.mc-splitter-area_fixed-height {
    min-height: 100px;
}

div[mc-splitter-area] {
    background: #c5c0c0
}

.flex {
    flex: 1;
}
