@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/input';


%mc-input-field-base {
    @include mc-reset-input();

    box-sizing: border-box;
    padding: var(--mc-input-size-padding, $input-size-padding);
    width: var(--mc-input-size-width, $input-size-width);
    min-height: var(--mc-input-size-min-height, $input-size-min-height); // for IE11
}
