@import '../core/theming/theming';
@import '../core/styles/typography/typography-utils';

@mixin mc-input-theme($theme) {
    $foreground: map-get($theme, foreground);

    .mc-input {
        color: map-get($foreground, text);;

        &::placeholder {
            color: map-get($foreground, disabled-text);
        }

        &::-ms-input-placeholder {
            color: map-get($foreground, disabled-text);
        }

        &::-webkit-input-placeholder {
            color: map-get($foreground, disabled-text);
        }
    }
}

@mixin mc-input-typography($config) {
    .mc-input {
        @include mc-typography-level-to-styles($config, body);
    }

    .mc-input.mc-input_monospace {
        @include mc-typography-level-to-styles($config, body-mono);
    }
}
