@import '../design-tokens/tokens';
@import '../core/styles/common/input';


%mc-input-field-base {
    @include mc-reset-input();

    box-sizing: border-box;
    padding: $input-size-padding;
    width: $input-size-width;
    min-height: $input-size-min-height; // for IE11
}
