@import 'input-base';


.mc-input {
    @extend %mc-input-field-base;

    display: inline-block;
}

input.mc-input[type="number"] {
    -moz-appearance: textfield;
}

input.mc-input[type="number"]::-webkit-inner-spin-button,
input.mc-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* remove default red border for HTML5 validation invalid fields in Firefox */
input.mc-input:invalid {
    box-shadow: unset;
}

.mc-password-toggle {
    display: flex;

    position: absolute;

    top: -1px;
    right: -1px;

    border: 1px solid transparent;

    width: 32px;
    height: 32px;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-top-right-radius: var(--mc-form-field-size-border-radius, $form-field-size-border-radius);
    border-bottom-right-radius: var(--mc-form-field-size-border-radius, $form-field-size-border-radius);

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }
}
