@import '../design-tokens/pt-2022/tokens';
@import '../core/option/option';
@import '../core/styles/common/vendor-prefixes';


.mc-tree-select {
    box-sizing: border-box;

    display: inline-block;

    width: 100%;

    outline: none;

    &.mc-disabled {
        & .mc-tree-select__trigger {
            @include user-select(none);

            cursor: default;
        }
    }
}

/* stylelint-disable no-descending-specificity */
.mc-tree-select__trigger {
    display: flex;
    box-sizing: border-box;
    position: relative;

    height: var(--mc-select-size-height, $select-size-height);

    cursor: pointer;

    padding-left: calc(
        var(--mc-select-size-left-padding, #{$select-size-left-padding}) -
        var(--mc-form-field-size-border-width, #{$form-field-size-border-width})
    );
    padding-right: calc(
        var(--mc-select-size-right-padding, #{$select-size-right-padding}) -
        var(--mc-form-field-size-border-width, #{$form-field-size-border-width})
    );

    &.mc-tree-select__trigger_multiple {
        padding-left: calc(
            var(--mc-select-size-left-padding-multiple, #{$select-size-left-padding-multiple}) -
            var(--mc-form-field-size-border-width, #{$form-field-size-border-width})
        );

        & .mc-tree-select__placeholder {
            margin-left: 8px;
        }

        & .mc-tag.mc-disabled .mc-tag__text {
            margin-right: 7px;
        }
    }
}
/* stylelint-enable no-descending-specificity */

.mc-tree-select__matcher {
    display: flex;
    align-items: center;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    & > span {
        width: 100%;
    }
}

.mc-tree-select__multiple-matcher {
    display: flex;

    width: 100%;
}

.mc-tree-select__match-list {
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

    max-height: calc(
        var(--mc-select-size-height, #{$select-size-height}) -
        var(--mc-select-panel-size-border-width, #{$select-panel-size-border-width})
    );

    & .mc-tag {
        margin-right: 4px;
    }
}

.mc-tree-select__match-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    & .mc-tree-select__match-hidden-text {
        flex: 0 0 70px;
        align-self: center;
        padding: 0 8px;

        text-align: right;
    }
}

.mc-tree-select__match-item {
    display: flex;

    border: 1px solid transparent;
    border-radius: 3px;

    padding-left: 7px;

    margin-right: 4px;

    max-width: 100%;
}

.mc-tree-select__arrow-wrapper {
    align-self: center;

    // When used in a box or standard appearance form-field the arrow should be shifted up 50%.
    .mc-form-field-appearance-fill &,
    .mc-form-field-appearance-standard & {
        transform: translateY(-50%);
    }

    // When used in a outline form-field the arrow should be shifted up 25%.
    .mc-form-field-appearance-outline & {
        transform: translateY(-25%);
    }
}

.mc-tree-select__panel {
    min-width: 100%; // prevents some animcion twitching and test inconsistencies in IE11

    border: {
        width: var(--mc-select-panel-size-border-width, $select-panel-size-border-width);
        style: solid;
    }

    border-bottom-left-radius: var(--mc-select-panel-size-border-radius, $select-panel-size-border-radius);
    border-bottom-right-radius: var(--mc-select-panel-size-border-radius, $select-panel-size-border-radius);


    // Override optgroup and option to scale based on font-size of the trigger.
    .mc-optgroup-label,
    .mc-tree-select-option {
        font-size: inherit;
        line-height: var(--mc-option-size-height, $option-size-height);
        height: var(--mc-option-size-height, $option-size-height);
    }
}

.mc-tree-select__content {
    max-height: var(--mc-select-panel-size-max-height, $select-panel-size-max-height);

    overflow: auto;

    & .mc-tree-selection {
        height: 100%;
    }
}

.mc-form-field-type-select {
    &:not(.mc-disabled) .mc-form-field-flex {
        cursor: pointer;
    }
}

.mc-select__no-options-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    position: relative;

    max-width: 100%;
    height: var(--mc-option-size-height, $option-size-height);

    cursor: default;
    outline: none;

    padding-left: var(--mc-option-size-horizontal-padding, $option-size-horizontal-padding);
    padding-right: var(--mc-option-size-horizontal-padding, $option-size-horizontal-padding);
}

.mc-select__search-container {
    border-bottom: {
        width: 1px;
        style: solid;
    }
}
