@import '../design-tokens/index';
@import '../core/option/option';
@import '../core/styles/common/vendor-prefixes';


.mc-tree-select {
    box-sizing: border-box;

    display: inline-block;

    // Fix IE aligning - default align in IE is baseline, not the middle of element
    vertical-align: top;

    width: 100%;

    outline: none;

    &.mc-disabled {
        & .mc-tree-select__trigger {
            @include user-select(none);

            cursor: default;
        }
    }
}

/* stylelint-disable no-descending-specificity */
.mc-tree-select__trigger {
    display: flex;
    box-sizing: border-box;
    position: relative;

    height: $select-size-height;

    cursor: pointer;

    padding: $select-size-padding;

    &.mc-tree-select__trigger_multiple {
        padding-left: $select-size-padding-left-multiple;

        & .mc-tree-select__placeholder {
            margin-left: 8px;
        }

        & .mc-tag.mc-disabled .mc-tag__text {
            margin-right: 7px;
        }
    }
}
/* stylelint-enable no-descending-specificity */

.mc-tree-select__matcher {
    display: flex;
    align-items: center;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    & > span {
        width: 100%;
    }
}

.mc-tree-select__multiple-matcher {
    display: flex;

    width: 100%;
}

.mc-tree-select__match-list {
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

    max-height: 28px;

    & .mc-tag {
        margin-right: 4px;
    }
}

.mc-tree-select__match-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    & .mc-tree-select__match-hidden-text {
        flex: 0 0 70px;
        align-self: center;
        padding: 0 8px;

        text-align: right;
    }
}

.mc-tree-select__match-item {
    display: flex;

    border: 1px solid transparent;
    border-radius: 3px;

    padding-left: 7px;

    margin-right: 4px;

    max-width: 100%;
}

.mc-tree-select__arrow-wrapper {
    align-self: center;

    // When used in a box or standard appearance form-field the arrow should be shifted up 50%.
    .mc-form-field-appearance-fill &,
    .mc-form-field-appearance-standard & {
        transform: translateY(-50%);
    }

    // When used in a outline form-field the arrow should be shifted up 25%.
    .mc-form-field-appearance-outline & {
        transform: translateY(-25%);
    }
}

.mc-tree-select__panel {
    max-height: $select-panel-size-max-height;
    min-width: 100%; // prevents some animcion twitching and test inconsistencies in IE11

    overflow: auto;

    border: {
        width: $select-panel-size-border-width;
        style: solid;
    }

    border-bottom-left-radius: $select-panel-size-border-radius;
    border-bottom-right-radius: $select-panel-size-border-radius;

    padding: 4px 0;

    // Override optgroup and option to scale based on font-size of the trigger.
    .mc-optgroup-label,
    .mc-tree-select-option {
        font-size: inherit;
        line-height: $mc-option-item-height;
        height: $mc-option-item-height;
    }
}

.mc-tree-select__content {
    height: 100%;

    & .mc-tree-selection {
        height: 100%;
    }
}

.mc-form-field-type-mc-select {
    &:not(.mc-disabled) .mc-form-field-flex {
        cursor: pointer;
    }
}
