@import "../core/theming/theming";


@mixin mc-progress-bar-theme($theme) {
    $primary: map-get($theme, primary);
    $second: map-get($theme, second);
    $error: map-get($theme, error);

    $progress-bar: map-get(map-get($theme, components), progress-bar);

    .mc-progress-bar {
        background-color: map-get($progress-bar, background);

        &.mc-primary .mc-progress-bar__line {
            background-color: mc-color($primary);
        }

        &.mc-second .mc-progress-bar__line {
            background-color: mc-color($second);
        }

        &.mc-error .mc-progress-bar__line {
            background-color: mc-color($error);
        }
    }
}
