@import '../design-tokens/index';


@mixin mc-progress-bar-theme($theme) {
    .mc-progress-bar {
        background-color: $progress-bar-color-background;

        &.mc-primary .mc-progress-bar__line {
            background-color: $color-primary-default;
        }

        &.mc-second .mc-progress-bar__line {
            background-color: $color-second-default;
        }

        &.mc-error .mc-progress-bar__line {
            background-color: $color-error-default;
        }
    }
}
