@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/functions/_timing.scss';


@keyframes mc-progress-bar-indeterminate {
    0% {
        transform: scaleX(0.25) translateX(-150%);
    }

    100% {
        transform: scaleX(0.4) translateX(250%);
    }
}

.mc-progress-bar {
    display: block;
    height: var(--mc-progress-bar-size-height, $progress-bar-size-height);
    overflow: hidden;

    &__inner {
        height: 100%;
    }

    &__line {
        height: 100%;
        transform-origin: top left;

        &--determinate {
            transition: transform 0.3s;
        }

        &--indeterminate {
            animation: mc-progress-bar-indeterminate 2.1s $ease-in-out-quad infinite;
        }
    }
}
