.left-padding {
    padding-left: 32px;
}

app {
    height: 100%;
    width: 100%;
}

.actual {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.red {
    color: red;
}

.container {
    width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.config {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 50%;
    width: 100%;
}

.result {
    border: solid 2px red;
    height: 50%;
    width: 100%;
}

.visual-box {
    height: 100px;
    width: 100px;
    border: 1px solid #575757;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
}

.visual-box_clickable {
    height: 12px;
    width: 12px;
    position: absolute;
    background: #4dc3ff;
    cursor: pointer;
}

.active {
    background: red;
}

.visual-box_placement-top-left {
    top: -6px;
    left: 10px;
}

.visual-box_placement-top {
    top: -6px;
    left: calc(50% - 6px);
}

.visual-box_placement-top-right {
    top: -6px;
    right: 10px;
}

.visual-box_placement-left-top {
    top: 10px;
    left: -6px;
}

.visual-box_placement-left {
    top: calc(50% - 6px);
    left: -6px;
}

.visual-box_placement-left-bottom {
    bottom: 10px;
    left: -6px;
}

.visual-box_placement-bottom-right {
    bottom: -6px;
    right: 10px;
}

.visual-box_placement-bottom {
    bottom: -6px;
    right: calc(50% - 6px);
}

.visual-box_placement-bottom-left {
    bottom: -6px;
    left: 10px;
}

.visual-box_placement-right-bottom {
    right: -6px;
    bottom: 10px;
}

.visual-box_placement-right {
    right: -6px;
    bottom: calc(50% - 6px);
}

.visual-box_placement-right-top {
    right: -6px;
    top: 10px;
}
