@import '../../mosaic/core/visual/prebuilt/default-visual';

.dev-container {
    padding: 16px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin-bottom: 10px;
}

.example-selected-value {
    margin: 15px 0;
}
