@import '~@ptsecurity/mosaic/prebuilt-themes/default-theme.css';
@import '~@ptsecurity/mosaic/prebuilt-visual/default-visual.css';
@import "~@ptsecurity/mosaic-icons/dist/styles/mc-icons-embed.css";


body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    padding-right: 8px;
    float: right;
}
