@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../lib/core/theming/prebuilt/default-theme';
//@import '../../lib/core/theming/prebuilt/dark-theme';


body {
    margin: 0;
}


.toggle-button {
    position: absolute;
    right: 50px;
    top: 50px;
}

mc-vertical-navbar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.user-menu {
    display: flex;

    .avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex: 0 0 auto;
        background: lighten(mc-color($primary, 700), 15%);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 12px 12px 12px -4px;
    }
}
