@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

//@import '../../lib/core/theming/prebuilt/default-theme';
@import '../../lib/core/theming/prebuilt/dark-theme';

body {
    margin: 0;
}


.root {
    display: flex;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;

    > div {
        display: flex;
        flex: 1 1 30%;
        min-width: 500px;
        height: 45%;
        box-sizing: border-box;
        margin: 8px;
        padding: 8px;
        background: rgba(128, 128, 255, 0.25);
    }
}

.toggle-button {
    height: 100px;
    margin: auto !important;
}

mc-vertical-navbar {

    height: 100vh;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
    }
}

.logo {
    display: flex;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.custom-item {
    width: 100%;
    box-sizing: border-box;
    margin: auto 0;
    padding: 4px;
    background: rgba(255, 255, 255, 0.25);
}

.user-menu {
    display: flex;
    padding-left: 0;

    .avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex: 0 0 auto;
        background: yellow;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 12px;
    }
}
