@import '../all-theme';


$primary: mc-palette(
    $dark-color-primary-palette,
    $dark-color-primary-lighter,
    $dark-color-primary-default,
    $dark-color-primary-darker
);
$second: mc-palette(
    $dark-color-second-palette, $dark-color-second-lighter, $dark-color-second-default, $dark-color-second-darker
);
$error: mc-palette(
    $dark-color-error-palette, $dark-color-error-lighter, $dark-color-error-default, $dark-color-error-darker
);

$info: mc-palette(
    $dark-color-info-palette, $dark-color-info-lighter, $dark-color-info-default, $dark-color-info-darker
);
$success: mc-palette(
    $dark-color-success-palette, $dark-color-success-lighter, $dark-color-success-default, $dark-color-success-darker
);
$warning: mc-palette(
    $dark-color-warning-palette, $dark-color-warning-lighter, $dark-color-warning-default, $dark-color-warning-darker
);

$theme: mc-dark-theme($primary, $second, $error, $info, $success, $warning);

// Include all typography for the components.
@include mc-core();

// Include all theme styles for the components.
@include mosaic-theme($theme);
