@import '../all-theme';


$primary: mc-palette($dark-color-primary-palette, $dark-color-primary-default);
$second: mc-palette($dark-color-second-palette, $dark-color-second-default);
$error: mc-palette($dark-color-error-palette, $dark-color-error-default);

$info: mc-palette($dark-color-info-palette, $dark-color-info-default);
$success: mc-palette($dark-color-success-palette, $dark-color-success-default);
$warning: mc-palette($dark-color-warning-palette, $dark-color-warning-default);

$theme: mc-dark-theme($primary, $second, $error, $info, $success, $warning);

// Include all typography for the components.
@include mc-core();

// Include all theme styles for the components.
@include mosaic-theme($theme);
