@import '../all-theme';


$primary: mc-palette($color-blue-palette, 300, 400, 500);
$second: mc-palette($color-grey-palette, 200, 400, 700);
$error: mc-palette($color-red-palette, 200, 400, 700);

$info: mc-palette($color-blue-palette, 200, 400, 700);
$success: mc-palette($color-green-palette, 200, 400, 700);
$warning: mc-palette($color-yellow-palette, 200, 400, 700);

$theme: mc-dark-theme($primary, $second, $error, $info, $success, $warning);

// Include all typography for the components.
@include mc-core();

// Include all theme styles for the components.
@include mosaic-theme($theme);
