@import '../all-theme';


$primary: mc-palette($color-blue-palette, 400, 500, 600);
$second: mc-palette($color-grey-palette, 100, 300, 400);
$error: mc-palette($color-red-palette, 60, 400, 500);

$info: mc-palette($color-blue-palette, 60, 200, 400);
$success: mc-palette($color-green-palette, 60, 200, 400);
$warning: mc-palette($color-yellow-palette, 60, 200, 400);

$theme: mc-light-theme($primary, $second, $error, $info, $success, $warning);

// Include all typography for the components.
@include mc-core();

// Include all theme styles for the components.
@include mosaic-theme($theme);
