@import '../theming/theming';


@mixin mc-panel-theme($theme) {
    $background: map-get($theme, background);

    $second: map-get($theme, second);

    $is-dark: map-get($theme, is-dark);

    .mc-panel {
        background-color: map-get($background, background);
        border: 1px solid mc-color($second, if($is-dark, 700, 60));
    }
}
