@import '../../design-tokens/index';
@import '../theming/theming';


@mixin mc-panel-theme($theme) {
    $is-dark: map-get($theme, is-dark);

    .mc-panel {
        background-color: $color-background-background;
        border: 1px solid map-get($color-second-palette, if($is-dark, 700, 60));
    }
}
