
// Layout
$baseline-grid:            8px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;

$layout-breakpoint-xs:     600px !default;  // Phone
$layout-breakpoint-sm:     960px !default;  // Tablet - Tablet-Landscape
$layout-breakpoint-md:     1200px !default; // PC
$layout-breakpoint-lg:     1920px !default;
