<!--<mc-list-selection>-->
    <!--<h3 mc-subheader>Folders</h3>-->
    <!--<mc-list-item *ngFor="let folder of folders">-->
        <!--<div mc-line>{{ folder.name }}</div>-->
        <!--<p mc-line>{{ folder.updated | date }}</p>-->
    <!--</mc-list-item>-->
<!--</mc-list-selection>-->

<h5>single selection</h5>
<mc-list-selection [(ngModel)]="selected">
    <mc-list-option value="Disabled" disabled>Disabled</mc-list-option>
    <mc-list-option value="Normal">Normal</mc-list-option>
    <mc-list-option value="Hovered" class="mc-hovered">Hovered</mc-list-option>
    <mc-list-option value="Focused" class="mc-focused">Focused</mc-list-option>
    <mc-list-option value="Selected" class="mc-selected">Selected</mc-list-option>
    <mc-list-option value="Progress" class="mc-progress">Progress</mc-list-option>
</mc-list-selection>
<br>
<div>selected: {{ selected }}</div>

<br><br><br>

<h5>multiple selection</h5>
<mc-list-selection [(ngModel)]="multipleSelected" multiple>
    <mc-list-option value="Disabled" disabled>Disabled</mc-list-option>
    <mc-list-option value="Normal">Normal</mc-list-option>
    <mc-list-option value="Hovered" class="mc-hovered">Hovered</mc-list-option>
    <mc-list-option value="Focused" class="mc-focused">Focused</mc-list-option>
    <mc-list-option value="Selected" class="mc-selected">Selected</mc-list-option>
    <mc-list-option value="Progress" class="mc-progress">Progress</mc-list-option>
</mc-list-selection>
<br>
<div>selected: {{ multipleSelected }}</div>

<br><br><br>

<h5>vertical scroll</h5>
<mc-list-selection style="height: 160px; overflow-y: scroll">
    <mc-list-option value="Disabled" disabled>Disabled</mc-list-option>
    <mc-list-option value="Normal">Normal</mc-list-option>
    <mc-list-option value="Hovered" class="mc-hovered">Hovered</mc-list-option>
    <mc-list-option value="Focused" class="mc-focused">Focused</mc-list-option>
    <mc-list-option value="Selected" class="mc-selected">Selected</mc-list-option>
    <mc-list-option value="Progress" class="mc-progress">Progress</mc-list-option>

    <mc-list-option *ngFor="let shoe of typesOfShoes">{{ shoe }}</mc-list-option>
</mc-list-selection>


<br><br><br>

<h5>horizontal scroll</h5>
<mc-list-selection style="display: flex; width: 500px; height: 50px; overflow-x: scroll" horizontal>
    <mc-list-option value="Disabled" disabled>Disabled</mc-list-option>
    <mc-list-option value="Normal">Normal</mc-list-option>
    <mc-list-option value="Hovered" class="mc-hovered">Hovered</mc-list-option>
    <mc-list-option value="Focused" class="mc-focused">Focused</mc-list-option>
    <mc-list-option value="Selected" class="mc-selected">Selected</mc-list-option>
    <mc-list-option value="Progress" class="mc-progress">Progress</mc-list-option>

    <mc-list-option *ngFor="let shoe of typesOfShoes">{{ shoe }}</mc-list-option>
</mc-list-selection>
