@import '../../mosaic/core/visual/prebuilt/default-visual';

@include mosaic-visual();

.common-container {
    padding-left: 16px;
    padding-right: 16px;
}

.light-text-secondary {
    color: #CCC;
}

.row-border {
    padding: 8px;
    border-bottom: 1px solid #CCC;
}
