@import 'vertical-navbar-theme';

.mc-vertical-navbar {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    overflow: hidden;

    .mc-vertical-navbar__header-area {
        display: flex;
        width: 100%;
        align-items: stretch;
        box-sizing: border-box;
        min-height: 64px;

        .mc-vertical-navbar__header {
            display: flex;
            height: 100%;
            justify-content: stretch;
            text-decoration: none;
            align-self: stretch;
            align-items: center;
        }

        .mc-vertical-navbar__toggle-button {
            cursor: pointer;
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            width: 64px;
        }

        .mc-vertical-navbar__title {
            padding: 0 16px;
        }
    }
}
