@import '../design-tokens/tokens';


.mc-vertical-navbar__badge {
    position: absolute;
    width: var(--mc-navbar-badge-size-width, $navbar-badge-size-width);
    top: 0;
    left: 0;

    .mc-badge {
        position: absolute;
        right: 4px;
        top: 4px;
    }
}

.mc-vertical-navbar__item-icon {
    margin-right: var(--mc-vertical-navbar-item-size-icon-margin-right, $vertical-navbar-item-size-icon-margin-right);

    .mc-icon {
        font-size: var(--mc-vertical-navbar-item-font-icon-size, $vertical-navbar-item-font-icon-size);
    }
}

.mc-vertical-navbar__title {
    white-space: nowrap;
}

.mc-vertical-navbar__item-dropdown-icon {
    margin-left: auto;
    padding-left: var(--mc-vertical-navbar-item-size-padding-horizontal, $vertical-navbar-item-size-padding-horizontal);
}

mc-vertical-navbar-item,
a[mc-vertical-navbar-item] {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    position: relative;

    margin: var(--mc-vertical-navbar-item-size-margin, $vertical-navbar-item-size-margin);

    width: 100%;
    height: var(--mc-vertical-navbar-item-size-height, $vertical-navbar-item-size-height);

    cursor: pointer;
    text-decoration: none;

    .mc-vertical-navbar__item {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;

        padding-left:
            var(--mc-vertical-navbar-item-size-padding-horizontal, $vertical-navbar-item-size-padding-horizontal);
        padding-right:
            var(--mc-vertical-navbar-item-size-padding-horizontal, $vertical-navbar-item-size-padding-horizontal);
    }

    &.mc-progress {
        cursor: pointer;
    }

    &.mc-vertical-navbar__item_active {
        cursor: default;
    }

    &[disabled] {
        cursor: default;
        pointer-events: none;
    }
}
