@import '../main.scss';
@import '../../mosaic/core/visual/all-visual';


body {
    margin: 0;
}

.toggle-button {
    position: absolute !important;
    right: 50px;
    top: 50px;
}

.user-menu {
    display: flex;

    .avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex: 0 0 auto;
        background: lighten(mc-color($primary, 700), 15%);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 12px 12px 12px -4px;
    }
}
