@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../lib/core/theming/prebuilt/default-theme';


.mc-navbar {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

mc-navbar.small-navbar > .mc-navbar {
    min-width: 300px;
}

[mc-dropdown] > [mc-icon^='mc-angle'] {
    margin-left: 8px;
}

.logo {
    margin-top: 5px;
}
