@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons';

@import '../../lib/core/theming/prebuilt/default-theme';
//@import '../../lib/core/theming/prebuilt/dark-theme';


.container .mc-form-field {
    width: 200px;
}

header {
    $config: mc-typography-config();

    @include mc-typography-level-to-styles($config, caption);
}
