@import '../tabs-common';


.mc-tab-link {
    vertical-align: top;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    @include tab-label;

    & .mc-tab-group_stretch-labels & {
        flex-basis: 0;
        flex-grow: 1;
    }

    & > .mc-icon {
        &.mc-icon_left {
            margin-right: var(--mc-tabs-size-label-icon-margin, $tabs-size-label-icon-margin);
        }

        &.mc-icon_right {
            margin-left: var(--mc-tabs-size-label-icon-margin, $tabs-size-label-icon-margin);
        }
    }
}

.mc-tab-nav-bar {
    display: flex;
    flex-grow: 1;

    position: relative;

    padding: 1px 1px 0 1px;

    & .mc-tab-group_align-labels-center {
        justify-content: center;
    }

    & .mc-tab-group_align-labels-end {
        justify-content: flex-end;
    }
}

.mc-tab-nav-bar.mc-tab-group_vertical {
    flex-direction: column;
    flex-grow: 0;
}
