@import '../design-tokens/tokens';
@import '../core/styles/common/layout';


$mc-tab-border-width-focus: $tabs-size-border-width * 2;

%tab-pseudo {
    display: block;
    position: absolute;
    content: "";
}

@mixin tab-label-common {
    position: relative;

    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: $tabs-size-height;

    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    padding: {
        right: $tabs-size-padding-horizontal;
        left: $tabs-size-padding-horizontal;
    }

    outline: none;

    border-bottom: {
        width: $tabs-size-border-width;
        style: solid;
    }

    &.cdk-keyboard-focused {
        z-index: 1;

        &:after {
            @extend %tab-pseudo;

            top: -$mc-tab-border-width-focus;
            right: -$tabs-size-border-width;
            bottom: -$tabs-size-border-width;
            left: -$tabs-size-border-width;
            border: {
                width: $mc-tab-border-width-focus;
                style: solid;
                top: {
                    left-radius: $tabs-size-border-radius;
                    right-radius: $tabs-size-border-radius;
                }
                bottom: none;
            }
        }
    }

    &.mc-disabled {
        pointer-events: none;
    }

    & .mc-tab-overlay {
        position: absolute;

        top: -1px;
        left: 0;
        right: 0;
        bottom: 0;

        pointer-events: none;
    }
}

@mixin tab-label {
    @include tab-label-common();

    border-top: {
        width: $tabs-size-border-width;

        style: solid;
        left-radius: $tabs-size-border-radius;
        right-radius: $tabs-size-border-radius;
    }

    &.mc-active {
        padding-right: $tabs-size-padding-horizontal - $tabs-size-border-width;
        padding-left: $tabs-size-padding-horizontal - $tabs-size-border-width;

        border: {
            width: $tabs-size-border-width;
            style: solid;
        }

        &.cdk-keyboard-focused {
            &:after {
                z-index: 1;
                right: - $mc-tab-border-width-focus;
                left: - $mc-tab-border-width-focus;
            }
        }
    }

    .mc-tab-overlay {
        border-top: {
            width: $tabs-size-border-width;

            style: solid;
            color: transparent;
            left-radius: $tabs-size-border-radius;
            right-radius: $tabs-size-border-radius;
        }
    }
}

%tab-light-pseudo-highlight-border {
    @extend %tab-pseudo;

    bottom: -$tabs-size-border-width;
    left: 0;
    height: $tabs-size-highlight-height;
    right: 0;
}

@mixin tab-label-light {
    @include tab-label-common();

    &.mc-active,
    &:hover {
        &:before {
            @extend %tab-light-pseudo-highlight-border;
        }
    }

    &.cdk-keyboard-focused + :hover {
        &:before {
            left: $mc-tab-border-width-focus - $tabs-size-border-width;
        }
    }

    &.cdk-keyboard-focused {
        &:after {
            top: -$tabs-size-border-width;
        }
    }

    & .mc-tab-overlay {
        position: absolute;

        top: 0;
    }
}
