@import '../core/styles/typography/typography-utils';
@import "../core/theming/theming";


@mixin mc-tabs-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $tabs: map-get(map-get($theme, components), tabs);

    .mc-tab-label,
    .mc-tab-light-label,
    .mc-tab-link {
        color: map-get($foreground, text);

        border-bottom-color: map-get($tabs, border);

        & .mc-tab-overlay {
            background: transparent;
        }

        &:hover .mc-tab-overlay {
            background: map-get($background, overlay-hovered);
        }

        &.cdk-keyboard-focused:after {
            border-color: map-get(map-get($theme, states), focused-color);
        }

        &.mc-disabled {
            color: map-get($foreground, text-disabled);

            cursor: default;

            background: map-get($background, background-disabled);

            & .mc-tab-overlay {
                background: map-get($background, overlay-disabled);
            }
        }
    }

    .mc-tab-label {
        border: {
            top-color: transparent;
            bottom-color: map-get($tabs, border);
        }

        &.mc-active {
            border: {
                color: map-get($tabs, border);
                bottom-color: transparent;
            }

            & .mc-tab-overlay {
                background: transparent;
            }
        }
    }

    .mc-tab-light-label,
    .mc-tab-link {
        &:hover {
            border-bottom-color: transparent;

            &:before {
                background-color: map-get($tabs, border);
            }
        }

        &.mc-active {
            &:before {
                background-color: map-get($tabs, state-active);
            }

            & .mc-tab-overlay {
                background: transparent;
            }
        }

        &.mc-disabled {
            &:before {
                background-color: map-get($tabs, border);
            }
        }
    }
}

@mixin mc-tabs-typography($config) {
    .mc-tab-label,
    .mc-tab-light-label,
    .mc-tab-link {
        @include mc-typography-level-to-styles($config, body);
    }
}
