@import '../design-tokens/tokens';
@import '../core/styles/common/layout';


$mc-tab-border-width-focus: var(--mc-tabs-size-border-width, $tabs-size-border-width) * 2;

%tab-pseudo {
    display: block;
    position: absolute;
    content: "";
}

@mixin tab-label-common {
    position: relative;

    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--mc-tabs-size-height, $tabs-size-height);

    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    padding: {
        right: var(--mc-tabs-size-padding-horizontal, $tabs-size-padding-horizontal);
        left: var(--mc-tabs-size-padding-horizontal, $tabs-size-padding-horizontal);
    }

    outline: none;

    border-bottom: {
        width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
        style: solid;
    }

    &.cdk-keyboard-focused {
        z-index: 1;

        &:after {
            @extend %tab-pseudo;

            top: -$mc-tab-border-width-focus;
            right: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
            bottom: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
            left: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
            border: {
                width: $mc-tab-border-width-focus;
                style: solid;
                top: {
                    left-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
                    right-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
                }
                bottom: none;
            }
        }
    }

    &.mc-disabled {
        pointer-events: none;
    }

    & .mc-tab-overlay {
        position: absolute;

        top: -1px;
        left: 0;
        right: 0;
        bottom: 0;

        pointer-events: none;
    }
}

@mixin tab-label {
    @include tab-label-common();

    border-top: {
        width: var(--mc-tabs-size-border-width, $tabs-size-border-width);

        style: solid;
        left-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
        right-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
    }

    &.mc-active {
        padding-right: calc(
            var(--mc-tabs-size-padding-horizontal, #{$tabs-size-padding-horizontal}) -
            var(--mc-tabs-size-border-width, #{$tabs-size-border-width})
        );
        padding-left: calc(
            var(--mc-tabs-size-padding-horizontal, #{$tabs-size-padding-horizontal}) -
            var(--mc-tabs-size-border-width, #{$tabs-size-border-width})
        );

        border: {
            width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
            style: solid;
        }

        &.cdk-keyboard-focused {
            &:after {
                z-index: 1;
                right: - $mc-tab-border-width-focus;
                left: - $mc-tab-border-width-focus;
            }
        }
    }

    .mc-tab-overlay {
        border-top: {
            width: var(--mc-tabs-size-border-width, $tabs-size-border-width);

            style: solid;
            color: transparent;
            left-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
            right-radius: var(--mc-tabs-size-border-radius, $tabs-size-border-radius);
        }
    }
}

%tab-light-pseudo-highlight-border {
    @extend %tab-pseudo;

    bottom: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
    left: 0;
    height: var(--mc-tabs-size-highlight-height, $tabs-size-highlight-height);
    right: 0;
}

@mixin tab-label-light {
    @include tab-label-common();

    &.mc-active,
    &:hover {
        &:before {
            @extend %tab-light-pseudo-highlight-border;
        }
    }

    &.cdk-keyboard-focused + :hover {
        &:before {
            left: calc(#{$mc-tab-border-width-focus} - var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
        }
    }

    &.cdk-keyboard-focused {
        &:after {
            top: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
        }
    }

    & .mc-tab-overlay {
        position: absolute;

        top: 0;
    }
}
