@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/layout';


%base-focus-frame {
    display: block;
    content: "";

    position: absolute;

    top: 0;
    right: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
    bottom: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
    left: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
}

%horizontal-focus {
    &:after {
        border: {
            width: calc(var(--mc-tabs-size-border-width, #{$tabs-size-border-width}) * 2);
            style: solid;
            top: {
                left-radius: var(--mc-tabs-size-border-radius, #{$tabs-size-border-radius});
                right-radius: var(--mc-tabs-size-border-radius, #{$tabs-size-border-radius});
            }
        };

        border-bottom-color: transparent;
    }
}


@mixin tab-label {
    position: relative;

    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--mc-tabs-size-height, $tabs-size-height);

    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    padding: {
        right: var(--mc-tabs-size-padding-horizontal, $tabs-size-padding-horizontal);
        left: var(--mc-tabs-size-padding-horizontal, $tabs-size-padding-horizontal);
    }

    outline: none;

    &.mc-active {
        cursor: default;

        &:before {
            display: block;
            content: "";

            position: absolute;
        }
    }

    &.cdk-keyboard-focused {
        z-index: 1;

        &:after {
            @extend %base-focus-frame;
        }
    }

    &:first-child.cdk-keyboard-focused:after {
        left: 0;
    }

    &:last-child.cdk-keyboard-focused:after {
        right: 0;
    }

    &[disabled] {
        pointer-events: none;
    }

    & .mc-tab-label__content > .mc-icon {
        &.mc-icon_left {
            margin-right: var(--mc-tabs-size-label-icon-margin, $tabs-size-label-icon-margin);
        }

        &.mc-icon_right {
            margin-left: var(--mc-tabs-size-label-icon-margin, $tabs-size-label-icon-margin);
        }
    }

    &.mc-tab-label_vertical .mc-tab-label__content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@mixin tab-label-old {
    border-bottom: {
        width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
        style: solid;
    }

    border: {
        width: var(--mc-tabs-size-border-width, #{$tabs-size-border-width});
        style: solid;

        top: {
            left-radius: var(--mc-tabs-size-border-radius, #{$tabs-size-border-radius});
            right-radius: var(--mc-tabs-size-border-radius, #{$tabs-size-border-radius});
        }

        left: none;
        left-color: transparent;
        right: none;
        right-color: transparent;
    }

    &.mc-active {
        border: {
            width: var(--mc-tabs-size-border-width, #{$tabs-size-border-width});
            style: solid;
        }

        padding-right: calc(
            var(--mc-tabs-size-padding-horizontal, #{$tabs-size-padding-horizontal}) -
            var(--mc-tabs-size-border-width, #{$tabs-size-border-width})
        );

        padding-left: calc(
            var(--mc-tabs-size-padding-horizontal, #{$tabs-size-padding-horizontal}) -
            var(--mc-tabs-size-border-width, #{$tabs-size-border-width})
        );

        &.cdk-keyboard-focused:after {
            right: calc(-2 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
            left: calc(-2 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
        }
    }

    &.cdk-keyboard-focused:after {
        @extend %horizontal-focus;

        top: -1px
    }
}
