@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/vendor-prefixes';
@import 'tabs-common';


.mc-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.mc-tab-list__content {
    display: flex;

    .mc-tab-group_align-labels-center & {
        justify-content: center;
    }

    .mc-tab-group_align-labels-end & {
        justify-content: flex-end;
    }
}

.mc-tab-header_vertical .mc-tab-list__content {
    flex-direction: column;
}

.mc-tab-header__pagination {
    @include user-select(none);

    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;

    padding-left: 12px;
    padding-right: 12px;

    border: {
        bottom-style: solid;
        bottom-width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
    };

    &.mc-tab-header__pagination_before {
        border: {
            right-style: solid;
            right-width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
        };
    }

    &.mc-tab-header__pagination_after {
        border: {
            left-style: solid;
            left-width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
        };
    }

    .mc-tab-header__pagination-controls_enabled & {
        display: flex;
    }
}


.mc-tab-header__content {
    display: flex;
    flex-grow: 1;

    z-index: 1;
    overflow: hidden;
}

.mc-tab-list {
    position: relative;

    width: 100%;

    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.mc-tab-label {
    @include tab-label;
    @include user-select(none);
}

.mc-tab-label_old {
    @include tab-label-old;
}

.mc-tab-label_horizontal {
    border-bottom: {
        width: var(--mc-tabs-size-border-width, $tabs-size-border-width);
        style: solid;
    }

    &.mc-active:before {
        bottom: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));
        left: 0;
        right: 0;

        height: var(--mc-tabs-size-highlight-height, #{$tabs-size-highlight-height});
    }

    &.cdk-keyboard-focused:after {
        @extend %horizontal-focus;
    }
}

.mc-tab-label_vertical {
    justify-content: flex-start;

    &.mc-active:before {
        top: 0;
        bottom: 0;
        left: calc(-1 * var(--mc-tabs-size-border-width, #{$tabs-size-border-width}));

        width: var(--mc-tabs-size-highlight-height, #{$tabs-size-highlight-height + 1px});
    }

    &.cdk-keyboard-focused:after {
        right: 0;
        left: 0;

        border: {
            width: calc(var(--mc-tabs-size-border-width, #{$tabs-size-border-width}) * 2);
            style: solid;
        }
    }
}


.mc-tab-label,
.mc-tab-label_old {
    .mc-tab-group_stretch-labels & {
        flex-basis: 0;
        flex-grow: 1;
    }
}
