@import '../core/styles/common/layout';
@import 'tabs-common';


.mc-tab-group {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    text-align: left;

    &.mc-tab-group_inverted-header {
        flex-direction: column-reverse;
    }
}

.mc-tab-group_vertical {
    flex-direction: row;

    & .mc-tab-header__content {
        overflow-y: auto;

        padding-top: 8px;
        padding-bottom: 1px;

        border-right-width: var(--mc-tabs-size-border-width, #{$tabs-size-border-width});
        border-right-style: solid;
    }
}

.mc-tab-body__wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
}

.mc-tab-body {
    @include mc-fill;

    display: block;
    overflow: hidden;

    // Fix for auto content wrapping in IE11
    flex-basis: 100%;

    &.mc-tab-body__active {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        flex-grow: 1;
    }

    .mc-tab-group.mc-tab-group_dynamic-height &.mc-tab-body__active {
        overflow-y: hidden;
    }
}
