@import '../core/styles/typography/typography-utils';


@mixin mc-list-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .mc-list-item,
    .mc-list-option {
        color: map-get($foreground, text);
    }

    .mc-list-option {
        outline: none;

        &:hover {
            background: map-get($background, overlay-hover);
        }

        &.mc-focused {
            border-color: map-get(map-get($theme, states), focused-color);
        }

        &.mc-selected {
            background: map-get(map-get($theme, states), selected-color);
        }

        &.mc-disabled,
        &[disabled] {
            background: transparent;

            color: map-get($foreground, text-disabled);
        }
    }
}

@mixin mc-list-typography($config) {
    .mc-list-item,
    .mc-list-option {
        @include mc-typography-level-to-styles($config, body);
    }
}
