@import '../design-tokens/pt-2022/tokens';
@import '../core/styles/common/list';
@import '../divider/divider';


// This mixin provides all list-item styles, changing font size and height based on whether the list is in dense mode.
@mixin mc-list-item-base($base-height, $icon-size) {
    position: relative;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: $base-height;

    border: 2px solid transparent;

    padding-left: var(--mc-list-size-horizontal-padding, $list-size-horizontal-padding);

    .mc-list-text {
        @include mc-line-wrapper-base();

        padding-right: var(--mc-list-size-horizontal-padding, $list-size-horizontal-padding);
    }

    .mc-list-icon {
        box-sizing: content-box;

        flex-shrink: 0;

        width: $icon-size; height: $icon-size;

        border-radius: 50%;

        padding: var(--mc-list-size-icon-padding, $list-size-icon-padding);

        font-size: $icon-size;

        ~ .mc-divider_inset {
            @include mc-inset-divider-offset($icon-size + (2 * $list-size-icon-padding), $list-size-horizontal-padding);
        }
    }

    .mc-divider {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;

        margin: 0;

        [dir='rtl'] & {
            margin-left: auto;
            margin-right: 0;
        }

        &.mc-divider_inset {
            position: absolute; // necessary to override card styles
        }
    }
}
