@import '../design-tokens/tokens';

@import 'list-base';


.mc-list,
.mc-list-selection {
    display: block;

    outline: none;
}

.mc-list-item,
.mc-list-option {
    @include mc-list-item-base(
        var(--mc-list-size-item-height, $list-size-item-height),
        var(--mc-list-size-two-line-height, $list-size-two-line-height),
        var(--mc-list-size-three-line-height, $list-size-three-line-height),
        var(--mc-list-size-multi-line-padding, $list-size-multi-line-padding),
        var(--mc-list-size-icon-width, $list-size-icon-width)
    );

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }
}

.mc-list-option:not([disabled]):not(.mc-disabled){
    cursor: pointer;
}
