@import '../core/styles/common/list';
@import '../divider/divider';

@import 'list-base';
@import 'list-theme';


.mc-list,
.mc-list-selection {
    display: block;

    outline: none;

    .mc-subheader {
        display: flex;
        box-sizing: border-box;

        @include mc-subheader-spacing($mc-list-top-padding, $mc-list-base-height);

        padding: $mc-list-side-padding;

        align-items: center;

        // This needs slightly more specificity, because it
        // can be overwritten by the typography styles.
        .mc-list &,
        .mc-list-selection & {
            margin: 0;
        }
    }
}

.mc-list-item,
.mc-list-option {
    @include mc-list-item-base(
        $mc-list-base-height,
        $mc-list-two-line-height,
        $mc-list-three-line-height,
        $mc-list-multi-line-padding,
        $mc-list-icon-size
    );

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }
}

.mc-list-option:not([disabled]):not(.mc-disabled){
    cursor: pointer;
}
