@import '../design-tokens/tokens';

@import 'list-base';


.mc-list,
.mc-list-selection {
    display: block;

    outline: none;
}

.mc-list-item,
.mc-list-option {
    @include mc-list-item-base(
        $list-size-item-height,
        $list-size-two-line-height,
        $list-size-three-line-height,
        $list-size-multi-line-padding,
        $list-size-icon-width
    );

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }
}

.mc-list-option:not([disabled]):not(.mc-disabled){
    cursor: pointer;
}
