@import '../design-tokens/pt-2022/tokens';

@import 'list-base';
@import '../core/styles/common/list';


.mc-list,
.mc-list-selection {
    display: block;

    outline: none;
}

.mc-list-item,
.mc-list-option {
    @include mc-no-select;

    @include mc-list-item-base(
        var(--mc-list-size-item-height, $list-size-item-height),
        var(--mc-list-size-icon-width, $list-size-icon-width)
    );

    &.mc-progress:after {
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
    }

    & .mc-pseudo-checkbox {
        margin-right: 8px;
    }

    & .mc-option-action {
        display: none;
    }

    &:not([disabled]):hover,
    &:not([disabled]).mc-focused,
    &:not([disabled]).mc-action-button-focused {
        & .mc-option-action {
            display: flex;
        }
    }
}

.mc-list-option:not([disabled]):not(.mc-disabled){
    cursor: pointer;
}
