body {
    margin: 0;
}

.mc-navbar.mc-navbar_vertical {
    height: 800px;
}

mc-navbar.small-navbar > .mc-navbar {
    min-width: 300px;
}

[mc-dropdown] > [mc-icon^='mc-angle'] {
    margin-left: 8px;
}

.logo {
    margin-top: 5px;
}

/* we hope to have it implemented in dropdown component*/
.dropdown-text {
    font: normal 15px/20px Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
    letter-spacing: 0.15px;
}
