@import '../../mosaic/core/visual/prebuilt/default-visual';

@include mosaic-visual();


body {
    margin: 0;
}

.mc-vertical-navbar {
    height: 700px;
}


.vertical-navbar-container {
    display: flex;
    flex-direction: row;

    height: 130%;
}

.vertical-navbar-content {
    width: 100%;
    border: 1px solid red;
}
