.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin-bottom: 10px;
}

.example-radio-control {
    display: flex;
    margin-top: 10px;
}
