.demo-block {
    display: flex;
    flex-flow: row wrap;

    .example-button-group {
        display: flex;
        flex-flow: column wrap;

        button {
            width: 150px;
            margin-bottom: 5px;
        }
    }

    .toasts-container {
        margin-left: 20px;
    }
}
