@import "../../../mosaic/design-tokens/palette";
@import "../../../mosaic/design-tokens/variables";


// -----------------------------------------------------------------------------------------------------
// @ Define a dark theme
// -----------------------------------------------------------------------------------------------------
$dark-primary: mc-palette($color-blue-palette, $palette-blue-400);
$dark-primary-red: mc-palette($color-red-palette, $palette-red-500);
$dark-primary-green: mc-palette($color-green-palette, $palette-green-500);
$dark-primary-yellow: mc-palette($color-yellow-palette, $palette-yellow-500);

$dark-second: mc-palette($color-grey-palette, $palette-grey-400);
$dark-error: mc-palette($color-red-palette, $palette-red-400);

$dark-info: mc-palette($color-blue-palette, $palette-blue-400);
$dark-success: mc-palette($color-green-palette, $palette-green-400);
$dark-warning: mc-palette($color-yellow-palette, $palette-yellow-400);

$dark-theme: mc-dark-theme($dark-primary, $dark-second, $dark-error, $dark-info, $dark-success, $dark-warning);

$dark-theme-red: mc-dark-theme($dark-primary-red, $dark-second, $dark-error, $dark-info, $dark-success, $dark-warning);

$dark-theme-green: mc-dark-theme(
    $dark-primary-green,
    $dark-second,
    $dark-error,
    $dark-info,
    $dark-success,
    $dark-warning
);
$dark-theme-yellow: mc-dark-theme(
    $dark-primary-yellow,
    $dark-second,
    $dark-error,
    $dark-info,
    $dark-success,
    $dark-warning
);
