@import "../../../mosaic/design-tokens/palette";
@import "../../../mosaic/design-tokens/variables";


// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------
$primary: mc-palette($color-blue-palette, $palette-blue-500);
$primary-red: mc-palette($color-red-palette, $palette-red-500);
$primary-green: mc-palette($color-green-palette, $palette-green-500);
$primary-yellow: mc-palette($color-yellow-palette, $palette-yellow-500);

$second: mc-palette($color-grey-palette, $palette-grey-300);
$error: mc-palette($color-red-palette, $palette-red-400);

$info: mc-palette($color-blue-palette, $palette-blue-200);
$success: mc-palette($color-green-palette, $palette-green-200);
$warning: mc-palette($color-yellow-palette, $palette-yellow-200);

$theme: mc-light-theme($primary, $second, $error, $info, $success, $warning);
$theme-red: mc-light-theme($primary-red, $second, $error, $info, $success, $warning);
$theme-green: mc-light-theme($primary-green, $second, $error, $info, $success, $warning);
$theme-yellow: mc-light-theme($primary-yellow, $second, $error, $info, $success, $warning);
